[2017-05-19 07:41] StevenX911 opened #1 "2017-05-26"

[2017-05-19 08:14] q295143002 commented on #1
hhhhh

[2017-05-21 02:05] StevenX911 commented on #1
* [Editing TypeScript With Visual Studio Code](https://code.visualstudio.com/docs/languages/typescript)
Get the best out editing TypeScript with Visual Studio Code.
* [GitLab 9.2 发布，简化多人协作&增强本地化](https://github.com/gitlabhq/gitlabhq/blob/master/CHANGELOG.md)
GitLab 9.2 发布了，新版本旨在让团队的每个人都能够贡献他们力量，不管是远程或在同个房间。
* [Node.js cluster 踩坑小结](https://zhuanlan.zhihu.com/p/27069865?group_id=850780748968517632)

[2017-05-21 05:54] wisdom-yzh commented on #1
#### Some useful documents for building a WebApp with Express and React-SSR

* [Server side rendering with React and Express](https://medium.com/front-end-hacking/server-side-rendering-with-react-and-express-382591bfc77c)
实现express+react服务端渲染的基本套路

* [React Server Side Rendering (SSR) with Express and CSS Modules](https://medium.com/@liheyse/react-server-side-rendering-ssr-with-express-and-css-mod

[2017-05-21 06:00] StevenX911 commented on #1
@wisdom-yzh 写下你推荐的理由或者文章的简介

[2017-05-21 12:49] CurtisCBS commented on #1
#### [An Abridged Cartoon Introduction To WebAssembly](https://www.smashingmagazine.com/2017/05/abridged-cartoon-introduction-webassembly/)

知道WebAssembly却不知道它为什么这么快？一组卡通图让你了解性能更优原理及底层实现。
#### [the-many-faces-of-functions-in-javascript](https://bocoup.com/blog/the-many-faces-of-functions-in-javascript)

js的函数使用到底有多少种 ？ 文章从最基础的函数声明及函数表达式切入，到构造函数，渐进到ES6的箭头函数、生成器，最后到ES7的各种异步函数，让你对javaScript的函数有个更全局的认

[2017-05-22 13:38] mirreal commented on #1
#### [如何开始写一本属于自己的技术书](https://mp.weixin.qq.com/s/MsDZycS1t6Mh7WkxU-OGiw)

如题。如果你还没有写一本自己的技术书，又或是不知道从何开始，不妨读读作者的经验。

#### [The state of JavaScript modules](https://medium.com/webpack/the-state-of-javascript-modules-4636d1774358)

文章介绍 ES Modules 在浏览器以及 Node.js 的现状。不同浏览器的最新版已经开始不同程度的支持，但具体规则还有待统一完善，而在 Node 的不确定性更多。但我们现在仍然可以使用 ESM 编写代码，再利用 Webpack，Rollup 以及 babel 等工具适配不同的环境。

#### [Workbox: JavaScri

[2017-05-23 02:28] stoneyong commented on #1
#### [技术决定历史](http://www.ruanyifeng.com/blog/2017/05/technology-is-future.html)

本文选自作者正在写的新书《未来世界的幸存者》，“主导历史的因素，短期（一年到几年）是政治，中期（几年到几十年）是经济，长期（几十年到几百年）则是技术” 。  试想过  如果中国参与了前两次世界革命，现在会是什么样？~~

#### [VR进化论|教你搭建通用的WebVR工程](http://mp.weixin.qq.com/s/-Dy5BXSULDoDDE1gbclSOg)

本文旨在介绍如何搭建WebVR工程以支持多场景开发。

#### [CSS3动画之逐帧动画](https://aotu.io/notes/2016/05/17/css3-animation-frame/?utm_source=tuicool&utm_medi

[2017-05-25 00:56] mirreal commented on #1
@CurtisCBS https://zhuanlan.zhihu.com/p/26994073

[2017-05-25 03:00] WangPeng2017 commented on #1
#### [从数组拷贝来看Javascript深复制问题](http://shrimp6.com/2017/03/23/cong-shu-zu-kao-bei-lai-kan-javascriptshen-fu-zhi-wen-ti/)
介绍了javascript 数组深度拷贝的一些方法及特性
#### [前端网站分享](http://www.alloyteam.com/nav/)
这是我见过最全的前端资源目录

[2017-05-25 03:03] WangPeng2017 commented on #1
#### [10 个基于 JavaScript 的机器学习实例](https://zhuanlan.zhihu.com/p/26709518)
前端也能撸的机器学习案例， 我是看了第7个决定转的

[2017-05-25 10:58] dongtc commented on #1
- [Redux状态管理之痛点、分析与改良](https://zhuanlan.zhihu.com/p/27093191)
深入分析了redux存在的一些问题

- [单页应用的数据流方案探索](https://zhuanlan.zhihu.com/p/26426054)
民工叔抽象的对单页数据流进行的分析，需要细读细思

[2017-05-25 11:19] sturloly commented on #1
[Redis学习笔记(一)：初识Redis](http://lawtech0902.com/2017/03/25/Redis-1/)
Redis的简介，安装（Mac)以及与memcached及其他类型数据库对比

[Elm入门实践（一）——基础篇](https://segmentfault.com/a/1190000005701562)
Elm 是一门专注于Web前端的纯函数式语言。你可能没听说过它，但一定听说过Redux，而Redux的核心reducer就是受到了Elm的启发。

[2017-05-25 11:45] StevenX911 opened #2 "self-introduction"
[@mirreal](https://github.com/mirreal) 想当设计师的程序员不是一个好攻城狮

[@kdchang]() 文艺型开发者，梦想是做出人们想用的产品和办一所心目中理想的学校

[@arvinh]() 前端攻城狮，热爱数据分析和数据可视化

[@huli]() 野生工程师，相信分享与交流能让世界变得更美好

[@pojenlai]() 算法工程师，对机器人跟电脑视觉有少许研究，最近在锻炼自己的执行力

类似酱紫

[2017-05-25 11:47] StevenX911 commented on #2
[@Steven](https://github.com/StevenX911)  从 C++ 走来，一路虐过 C#, Java, Python, Go, 现在写 Javascript

[2017-05-25 11:52] CurtisCBS commented on #2
[@Curtis](https://github.com/CurtisCBS) 中年人

[2017-05-25 11:53] StevenX911 opened #3 "Good source"
大家请在下面评论区贡献自己的阅读来源

这种方式似乎也挺好的：

前端精读评论 https://zhuanlan.zhihu.com/FrontendPerusal

* 稀土掘金 [https://juejin.im/](https://juejin.im/)
* segmentFault [https://segmentfault.com/](https://segmentfault.com/)
* Div.io [http://div.io/](http://div.io/)
* SDK.cn [https://sdk.cn/](https://sdk.cn/)
* 前端乱炖 [http://www.html-js.com/](http://www.html-js.com/)
* CSS Trick [https://css-tricks.com/](https://css-tric

[2017-05-25 12:28] elevenbeans commented on #2
@elevenBeans 做前端嘛，最重要的是开心。你饿不饿？我搞个 React 全家桶给你吃?

[2017-05-25 12:55] sturloly commented on #2
[@sturloly](https://github.com/sturloly) 老年人

[2017-05-26 00:45] mirreal opened #4 "2017-06-02"

[2017-05-26 07:08] #1 closed, assigned to nobody

[2017-05-27 05:37] StevenX911 opened #5 "前端面试到底该问些什么问题？"
之前比较关注大家对Javascript基础的掌握，比如原型、闭包、作用域、垃圾回收等，另外还会夹杂一些对HTML和CSS的掌握情况的摸底，现在由于Node的流行，开始要求前端工程师掌握HTTP协议，文件I/O，服务端渲染，SEO等，不知道大家有什么看法？

[2017-05-27 05:43] CurtisCBS commented on #5
* 前端优化

[2017-05-27 05:45] StevenX911 commented on #5
@CurtisCBS 具体呢？

[2017-05-27 06:04] StevenX911 commented on #5
- https://github.com/hawx1993/Front-end-Interview-questions
- https://github.com/h5bp/Front-end-Developer-Interview-Questions/tree/master/Translations/Chinese#network-questions

[2017-05-31 04:35] mirreal commented on #4
#### [Node 8 Released](https://nodejs.org/en/blog/release/v8.0.0/)

Node 8 已经发布，带来一系列重大变化和更新，同时 NPM 也更新到 5.0.0。

#### [HTTP/2 push is tougher than I thought](https://jakearchibald.com/2017/h2-push-tougher-than-i-thought/)

#### [codeif](https://github.com/unbug/codelf)

[2017-05-31 09:10] StevenX911 commented on #4
#### [TIOBE Index for May 2017](https://www.tiobe.com/tiobe-index/)
值得关注的是Go的排名，从前一年的第42名上升到第16名！赞！

#### [JavaScript 的 Async/Await 完胜 Promise 的六个理由](https://www.w3ctech.com/topic/2021)
Node 现在从版本 7.6 开始就支持 async/await 了。如果你还没有试过它，这里有一堆带有示例的理由来说明为什么你应该马上采用它，并且再也不会回头。

[2017-05-31 11:38] dongtc commented on #4
[Next.js 2.0](https://zeit.co/blog/next2)
Next.js 是一个用于在服务端渲染 React 应用程序的简单框架
它处理了react同构代码的一些繁琐问题，简化了项目构建，支持各类功能，同时扩展也很灵活，对于要快速搭建react服务端渲染，是一个不错的选择

[2017-06-01 02:55] CurtisCBS commented on #4
#### [Preact CLI: Create and Build Preact Apps More Easily TOOLS](https://github.com/developit/preact-cli)

preact-cli脚手架，30s搭起PWA框架。

#### [JavaScript unit testing frameworks: Comparing Jasmine, Mocha, AVA, Tape and Jest](https://raygun.com/blog/javascript-unit-testing-frameworks/)

几大主流JavaScript 单元测试框架对比，文章对于如何选择适合的单元测试框架给了一些建议。

#### [互联网世界的神奇逻辑](http://mp.weixin.qq.com/s/Ad8XrlNmk4kjgAdMx-bXX

[2017-06-01 03:31] stoneyong commented on #4
#### [30分钟，让你彻底明白Promise原理](http://web.jobbole.com/91406/)
本文分析了 promise的这种规则机制是如何实现的， 能够很好的帮助我们理解then和resolve函数的运行机理。

[2017-06-02 01:53] #4 closed, assigned to mirreal

[2017-06-03 15:27] StevenX911 opened #6 "2017-6-12"
## `本周周刊放在这个issue里`

[2017-06-06 12:17] StevenX911 commented on #6
#### [Server-Sent Events 教程](http://www.ruanyifeng.com/blog/2017/05/server-sent_events.html)
服务器向浏览器推送信息，除了 WebSocket，还有一种方法：Server-Sent Events，目前除了 IE/Edge，其他浏览器都支持。

#### [ReactXP](https://microsoft.github.io/reactxp/)
微软出品，以微软一惯的傻白甜风格，只要学习过React，相信使用ReactXP也是无障碍的。多说一点，别看市场上都不看好Windows移动战略，你们不支持我，我自己就撸一发，支持我自己，哼！XP means X-Platform  Share most of your code between the ***web***, ***iOS***, ***An

[2017-06-07 02:17] mirreal commented on #6
#### [Reddit 代码部署的演变](https://redditblog.com/2017/06/02/the-evolution-of-code-deploys-at-reddit/)

在 Reddit， 每个工程师都要编写代码，进行代码审查，并定期发布到生产环境。类似的持续部署过程通常每周发生 200 次，而一次部署只需要不到 10 分钟。

#### [前端开发者指南](https://github.com/xitu/front-end-handbook-2017)

一本可供任何人使用的指南，用于学习前端开发实践。该指南大体上勾勒出了前端工程的轮廓，同时也讨论了前端工程的实践。

#### [作为一名 30 岁的初级开发人员](https://medium.com/@eva_trostlos/being-a-junior-developer-at-30-38309f1da

[2017-06-07 06:02] elevenbeans commented on #6
#### [移动端浏览器调试方法汇总 (by elevenBeans)](http://elevenbeans.github.io/2017/06/06/%E7%A7%BB%E5%8A%A8%E7%AB%AF%E6%B5%8F%E8%A7%88%E5%99%A8%E8%B0%83%E8%AF%95%E6%96%B9%E6%B3%95%E6%B1%87%E6%80%BB/)

浏览器兼容性一直以来都是让 Web 前端开发人员头疼的问题。虽然移动端其内核趋于统一（webkit），兼容问题也不再像 PC 端那么严重。但在生产环境当中，考虑到第三方浏览器在内核上面的 “优化”，如（wechat、UC、QQ、360 等），兼容问题依旧是无法忽略。

本文汇总一下目前比较常见的 Web 移动端调试方法。

[2017-06-07 06:31] stoneyong commented on #6
#### [ES7 Decorator 装饰者模式](http://taobaofed.org/blog/2015/11/16/es7-decorator/)
本文分享了 装饰者模式 以及如何使用 ES7 的 decorator 概念。
#### [Little Things I Like to Do with Git](https://csswizardry.com/2017/05/little-things-i-like-to-do-with-git/)
git使用中的一些小技巧

#### [据说培养这些软技能，可以有效提升程序员的幸福感！](https://mp.weixin.qq.com/s?__biz=MjM5MDE0Mjc4MA==&mid=2650996151&idx=1&sn=ad64621a47c38e5b952ab671f5ae3edb&chksm=bdbf05e48

[2017-06-07 07:33] CurtisCBS commented on #6
#### [AlloyLever](https://github.com/AlloyTeam/AlloyLever)
1kb代码搞定开发调试发布，错误监控上报，用户问题定位

#### [switch-from-react-to-vue-js](http://vuejsdevelopers.com/2017/05/28/switch-from-react-to-vue-js/)
目前最主流的两大框架，文章列举了两者在框架理念，组件化写法，模版，生命周期钩子等等的一系列差异

#### [introducing-nile-js](https://hackernoon.com/introducing-nile-js-81d83a31cfe3)
webRTC的集大成者，实现了p2p视频直播流。文章还讲述了为什么使用WebTorrent作为视频流，以及用户少的时候对速度的影响

#### [HTT

[2017-06-08 05:09] mirreal commented on #6
@stoneyong 再来推荐一下这个游戏：[githug](https://github.com/Gazler/githug)，轻松掌握 git

[2017-06-08 07:50] Joker-Qu commented on #6
[最新版 React 中文文档](https://discountry.github.io/react/)

[2017-06-08 11:58] CurtisCBS commented on #3
[http://javascriptweekly.com/issues](http://javascriptweekly.com/issues)
[https://jakearchibald.com/](https://jakearchibald.com/)
[http://reactjsnewsletter.com/](http://reactjsnewsletter.com/)

[2017-06-09 02:40] stoneyong commented on #6
@mirreal   跑了一下  不知道怎么玩的？

[2017-06-09 05:58] WangPeng2017 commented on #6
#### [小程序开发 - 小明带你找厕所 V2.0](https://juejin.im/entry/5934d00eb123db00642591a9)
一个简单好玩的程序，适合想撸小程序的开发者入门学习！

#### [JParticles 2.0 发布，打造炫酷的粒子特效](https://segmentfault.com/a/1190000009707074)
其实是一个轻量级的 Canvas 粒子运动特效插件库，粒子运动、波纹运动、模拟波浪进度条

[2017-06-11 21:11] sturloly opened #7 "往期文章分类名去重的说明"
经查询至今各期有如下分类名：

业界动态
前端技术
实用技巧
程序人生
技术纵横
团队分享
前端开发（重复，’技术‘优于’开发‘，建议不再实用）
实用推荐（重复，’技巧优于‘推荐’，建议不再实用）

请后续使用此issue中，已经归档的分类名，或在此申明新的分类名，然后使用。

[2017-06-12 01:59] mirreal commented on #7
这是我对栏目的简单定义，以及分类标准：

https://github.com/CtripFE/fe-weekly#周刊格式

结合这份样刊：https://github.com/CtripFE/fe-weekly/blob/master/example.md

应该还算明确

[2017-06-12 03:45] stoneyong commented on #7
关于 “团队分享” 的分类， 是否需要讨论下 ？
个人感觉  文章的分类都是按照文章的内容性质分类的，团队分享是 按照作者分类的， 会出现文章错位的感觉。
建议：  为了突出是我们团队的分享  ， 可以在文章的介绍末尾备注下，  例如：（注：@XX 作）   或者 以一个别样的格式 ，再在周刊 末尾说明 。

[2017-06-12 04:34] mirreal commented on #7
@stoneyong 是的，可以对这部分做一些强调

[2017-06-12 07:10] stoneyong commented on #7
@mirreal  我的意思是 团队分享 这个分类是否可以去除， 还是按照文章性质分类， 团队贡献的文章 采用强调的方式标注。

[2017-06-12 08:33] mirreal commented on #3
Jake Archibald 这家伙最近很高产啊，看了他的几篇文章，感觉就像是英国的阮一峰

[2017-06-12 08:33] mirreal commented on #3
别人做的 weekly，参考项目 README：https://github.com/CtripFE/fe-weekly#业界

[2017-06-12 15:35] mirreal commented on #3
还有这个家伙 [Axel Rauschmayer](http://2ality.com/)

[2017-06-12 15:40] mirreal commented on #3
没事刷刷 [Hacker news](https://news.ycombinator.com/) 和 [Reddit JavaScript](https://www.reddit.com/r/javascript/)（或是其他同类版块）也是极好的。

这个上面已经有了，这里再推荐一下，兴许有人没看到呢

[2017-06-13 03:48] CurtisCBS opened #8 "2017-06-19"

[2017-06-14 05:00] mirreal commented on #8
#### [How to use Webpack’s new “magic comment” feature with React Universal Component + SSR](https://medium.com/webpack/how-to-use-webpacks-new-magic-comment-feature-with-react-universal-component-ssr-a38fd3e296a)

如何开始使用在 webpack 2.4.0 提供的魔术注释特性。

#### [代码审查关注什么：SOLID 原则](http://www.jianshu.com/p/2cd98d697adc)

这篇文章介绍在代码审查时很重要的一点，讨论代码本身的设计，遵循一种良好的面向对象设计实践：SOLID 原则。如果在代码审查中看到复杂的代码，可能会发现应用这些原则之一会找到

[2017-06-14 05:55] CurtisCBS commented on #8
#### [Upgrading from Node 6 to Node 8: a real-world performance comparison](https://hackernoon.com/upgrading-from-node-6-to-node-8-a-real-world-performance-comparison-3dfe1fbc92a3)
node8很快，但是你不知道它在各个方面的表现具体数字有了多少的提升，文章从node不同使用场景对node6和8进行了性能数据的可视化对比，以及node_modules下载速度在两个npm版本和yarn的对比。

#### [就是要你懂 TCP](http://jm.taobao.org/2017/06/08/20170608/)
对TCP讲解的文章很多，本文更为言简意赅，以实际案例讲述TCP原理，包含三次握手，四次挥手及可靠传输

[2017-06-15 03:17] elevenbeans commented on #8
#### [十问sofish：帮你理清前端工程师及大前端团队的成长问题](https://mp.weixin.qq.com/s?__biz=MzIwNjQwMzUwMQ==&mid=2247485261&idx=1&sn=ff78ab4af5ca3681ce0349367fed20b6&chksm=9723658fa054ec99c9ef17447b6e6b905215f455b54cb208c86cc0db2e0d7c9b9cbaa88af127#rd)

本文是前端之巅向 sofish 的约稿《什么样的人可以称为架构师？》、采访《饿了么大前端团队究竟是如何落地和管理的?》以及 sofish 做客大咖说直播节目的总结和整理，希望能帮助各位淀粉更清晰地理解 sofish 的观点。获取大咖说视频下载链接，请关注前端之巅并回复“鱼老板”，查看饿了么大前端更多实践请回复“饿了么”

[2017-06-15 07:17] stoneyong commented on #8
#### [深入理解 Node Stream 内部机制](http://www.barretlee.com/blog/2017/06/06/dive-to-nodejs-at-stream-module/)
详细的介绍了 Node Stream 内部机制。

#### [ES6 modules 即将到来，现在该考虑新的打包方案了嘛？](https://zhuanlan.zhihu.com/p/27276672)
本文展示了 ESM 的到来，浏览器对其的支持，及前端打包方案的新的考虑。

[2017-06-15 11:17] StevenX911 commented on #8
#### [82岁日本老奶奶成最年长iOS码农：库克被她折服](http://www.open-open.com/news/view/302b64f)
其实想要成为码农，谁都不能阻拦你的! Yes, U can! “万一失败了，也不过是浪费了一点时间和金钱而已。人总归都有一死，不如不断尝试，即使一直在重复失败也会有成长。”

#### [奇妙的 CSS shapes(CSS图形)](http://www.cnblogs.com/coco1s/p/6992177.html)
介绍几个比较新的强大的 CSS 功能：
- clip-path
- shape-outside

[2017-06-15 15:52] sturloly commented on #8
#### [《用空格的程序员比用Tab的程序员工资高》 - stackoverflow.blog](https://stackoverflow.blog/2017/06/15/developers-use-spaces-make-money-use-tabs/)
 为什么呢？作者用数据可视化做了调查和对比。 从此文可以感受到一种标准的西方程序员的极客精神 -- 总能在生活中找到一些特殊的视角，然后用前端技术加以调侃。现在或将来，数据可视化的热潮并没有任何减退的理由；作为一个前端工程师，能从生活和社会中找到一些即使是小小的问题，用技术和业余空闲时间做出调查、展示和总结，在社区里分享出来，不仅能提高自己还能给别人带来思考和快乐，这才是我眼中的有机的、健康的开源精神。

#### [What is WebKit?](https://docs.google.com/presentation/d/1

[2017-06-18 08:03] #8 closed, assigned to CurtisCBS

[2017-06-19 03:08] stoneyong opened #9 "2017-06-26"
本周文刊推荐

[2017-06-20 02:47] CurtisCBS commented on #9
#### [loading加载效果集合](https://preloaders.net/)

所有你需要的loading效果都在这，还提供自定义动画参数的功能。
#### [你不是Google，一语点醒技术人](https://mp.weixin.qq.com/s?__biz=MzA5Nzc4OTA1Mw==&mid=2659599329&idx=1&sn=75bb8b30309fabb08fb784471136541a)
对于技术选型，不应好高骛远，合适才最重要

#### [[译]如何用Python检测伪造的视频](http://www.tuicool.com/articles/YBFBb2J)
一个有趣的项目，看作者如何a用哈希算法检测视频帧的重复

[2017-06-20 06:32] mirreal commented on #9
#### [webpack 3: Official Release](https://medium.com/webpack/webpack-3-official-release-15fd2dd8f07b)

刚刚升级到 webpack2，现在已经可以使用 3 了，你要不要升级看看

#### [拯救 Java Code Style 强迫症](http://insights.thoughtworkers.org/save-java-code-style-obsessive-compulsive-disorder/)

Code Style 不是个人喜好问题，它会影响工作效率，如何拯救强迫症患者，需要从端到端各个环节强力执行。

#### [JavaScript 最新特性实现的三大黑科技](https://www.h5jun.com/post/three-black-tech-in-moder

[2017-06-21 03:58] stoneyong commented on #9
#### [七个用户体验设计的小提示，创建最佳的移动设计](http://www.yixieshi.com/83444.html)
在本文中，作者分享七个用户体验设计的小提示，这些是创建一个好的移动用户体验的关键。

#### [代码这样写不止于优雅（Python 版）](http://mp.weixin.qq.com/s?__biz=MzA4MjEyNTA5Mw==&mid=2652565502&idx=1&sn=1543f68d3b69a7e15e3d9c8b10bf3e61&chksm=8464c7b4b3134ea2c0396dd90eaac62b69463129e2b97a14ec445e6dece2e55a8b139e92e6b0&mpshare=1&scene=1&srcid=0623AZqquSOi45YktFXr4mJo#rd)

[2017-06-22 11:55] StevenX911 commented on #9
#### [2017，我们来聊聊 Node.js](http://cnodejs.org/topic/58eee565a92d341e48cfe7fc)
Node.js是为异步而生的，它自己把复杂的事儿做了（高并发，低延时），交给用户的只是有点难用的Callback写法。也正是坦诚的将异步回调暴露出来，才有更好的流程控制方面的演进。也正是这些演进，让Node.js从DIRT（数据敏感实时应用）扩展到更多的应用场景，今天的Node.js已经不只是能写后端的JavaScript，已经涵盖了所有涉及到开发的各个方面，而Node全栈更是热门种的热门。
直面问题才能有更好的解决方式，Node.js你值得拥有！

#### [Node 8 and npm@5 release: What's new?](https://auth0.com/blog/whats-new-in-node8-and-npm5

[2017-06-23 04:36] elevenbeans commented on #9
#### [【译】50 行 CSS 代码撸一个阴阳八卦的 Loading 动效 by @elevenbeans](http://elevenbeans.github.io/2017/06/22/Yin-and-Yang-by-CSS/)

网上做 Loading 动效的教程和工具比比皆是，用八卦图的还是头一次听说 =,=
因为一直都比较喜欢这种小而精、并且能让人眼前一亮的玩法。万万没想到居然还是个外国程序媛的作品。
果断翻译过来供大家参考。

[2017-06-26 02:07] #9 closed, assigned to stoneyong

[2017-06-27 02:03] mirreal commented on #3
https://ponyfoo.com/

[2017-06-27 03:02] StevenX911 opened #10 "2017-07-03"
#### 本周文章推荐
#### [Stack Overflow 2017 开发者调查报告（程序员必看）](https://zhuanlan.zhihu.com/p/27473861)
做技术的，我个人一直认为一定要时刻关注趋势，因为这个时代变化太快了，技术的更新日新月异，做技术的尤其不能固步自封，我们要以一种开放的心态，来拥抱变化，为未来做准备，那么今天，我就以我个人的角度，来带大家解读下这份报告，值得一提的是，这份报告涉及的方面很多，我只挑一些大家比较关心的报告进行解读。

#### [毕业5年的感想：首先要让自己活得像个人](http://www.jianshu.com/p/15aa8f1c2ec8)
毕业之后再回首，我多么希望你仍有梦可做；
有牛可吹；有大把时光可浪费。
你，终究还是活成了你自己。

[2017-06-27 03:19] mirreal commented on #10
#### [TC39, ECMAScript, and the Future of JavaScript](https://ponyfoo.com/articles/tc39-ecmascript-proposals-future-of-javascript)

从 T39 的工作流程，到 ECMAScript 现在的发展模式，以及未来即将引入的一些很酷的特性，作为开发人员，我们也要持续更新自己的知识体系。

#### [前端路上的旅行](http://www.w3cplus.com/front-end-trip-on-road.html)

大漠的我是怎么变为一名"前端工程师"

#### [Vue vs React: Javascript 框架之战](http://www.zcfy.cc/article/vue-vs-react-battle-of-the-javascript-fra

[2017-06-27 03:31] CurtisCBS commented on #10
#### [unambiguous webpack config with typescript](https://medium.com/webpack/unambiguous-webpack-config-with-typescript-8519def2cac7)
You can write your Webpack config in Typescript, and it’ll save you a huge amount of pain.

#### [我是如何实现electron的在线升级热更新功能的？](http://www.zhangxinxu.com/wordpress/2017/06/how-electron-online-update-hot-fix/)

利用简单的package.json文件版本比较和http请求，实现最简单的electron应用热更新。

[2017-06-28 01:47] #6 closed, assigned to sturloly

[2017-06-28 06:58] elevenbeans commented on #10
#### [React 组件设计和分解思考](https://juejin.im/post/59522e57f265da6c3b27ab62)
+ 切割 render()
+ 合理分隔子组件(组件职责单一化，复用性强)
+ 模版化组件(个人十分推荐)
+ 高阶玩法

[2017-06-28 10:34] sturloly commented on #10
#### [A successful Git branching model](http://nvie.com/posts/a-successful-git-branching-model/)
17000+ stars 的项目 [git-flow ](https://github.com/nvie/gitflow.git) “A collection of Git extensions to provide high-level repository operations for Vincent Driessen's branching model.” 其理念的起源
—— 《A successful Git branching model》

#### [GitHub & Bitbucket & GitLab & Coding 的对比分析](http://blog.csdn.net/fir

[2017-06-29 05:49] stoneyong commented on #10
#### [Chrome再出招 呈现API将仅支持HTTPS](https://www.sslchina.com/chrome-presentation-api/)
谷歌工程师宣布将在2018年第二季度发布的Chrome 67中禁止一切使用不安全来源的呈现API(Presentation API)。
#### [刨根问底HTTP和WebSocket协议(二）](http://www.jianshu.com/p/f666da1b1835)
本片中作者对 WebSocket 协议作了全面的介绍，对数据帧还不够详细， 说是会在后面的文章中详述，大家可以关注下。

#### [2017年前端框架、类库、工具大比拼](http://www.cnblogs.com/powertoolsteam/p/front_end_framework_2017.html)
本文讨论了目前最为流行的客户端JavaSc

[2017-07-02 04:48] StevenX911 commented on #10
@elevenbeans 如果组件都能这么玩，至少说明这个团队或者这个公司坑砸钱，时间花销和维护成本，加之项目的生命周期等等，前端变得太快，有的时候，我们就是为了实现一个功能，把零碎的东西全整在一个文件或者组件中，还要切分的这么细，玩的这么高级，几乎是不可能的。

[2017-07-03 01:43] #10 closed, assigned to StevenX911

[2017-07-03 02:14] mirreal opened #11 "2017-07-10"
[O RLY Cover Generator](https://dev.to/rly)

[2017-07-04 02:48] CurtisCBS commented on #11
#### [Automated testing with Headless Chrome](https://developers.google.com/web/updates/2017/06/headless-karma-mocha-chai)
用Headless Chrome做自动化测试，能够提供与用户最接近的使用环境。作者提供了搭建一整套Karma + Mocha + Chai + Headless Chrome的自动化测试工具链，以及如何集成到Travis CI里面。

#### [用Web技术实现移动监测](https://aotu.io/notes/2017/06/29/motion-detection/)
如何使用WebRTC的navigator.getUserMedia接口再通过摄像头实现移动物体的监测？文章解释了如何通过获取的视频帧进行简单的算法处理，来判断和跟踪物体的运动

[2017-07-04 09:22] elevenbeans commented on #10
@StevenX911 ，看到 lcm 写的填写页组件 3000 多行，有感而发。单纯为了文件大小去分隔子组件也是没毛病的。
其中，模版化组件主要是将 `render()` 中的 JS 代码尽可能的与 HTML 片段分开。这种逻辑和 UI 解耦的方法，对我十分受用。

[2017-07-04 14:40] StevenX911 commented on #10
@elevenbeans 对HTML片段进行切分，在项目实施过程中是有必要的，不过这里的切分大小的取舍每个人定义不同，很难形成统一的标准，像一个js文件规定指定的代码行数有点太死板了

[2017-07-04 14:54] StevenX911 commented on #11
#### [大前端开发者需要了解的基础编译原理和语言知识](https://mp.weixin.qq.com/s?__biz=MzI0NzI1NzU5NA==&mid=2247483740&idx=1&sn=ed505ededdbb970a9094b34c829f25d5)

#### [Webpack Freestyle 之 Long Term Cache](https://zhuanlan.zhihu.com/p/27710902)
此文用webpack来实现持久性缓存的策略还是非常实用的，修改了某个模块的代码，是不会破坏其他模块的缓存
![image](https://github.com/CtripFE/fe-weekly/blob/master/image/long-term-cach.png?raw=true)

#### [Electron 快速入门](https://zhu

[2017-07-06 03:43] sturloly commented on #11
#### [Go 语言狂人许式伟：编程的意义就是让世界变得有趣一些](https://sdk.cn/news/7174) "就是觉得好玩。我觉得其实着迷计算机是有原因的，最核心的就是它真的让你能够感觉说你在创造一个世界。这种感觉和你学数学学物理，你发现这都是很有用的知识，但是这些知识能干嘛？不知道。所以它对人的魅力也是不一样的。"

[2017-07-06 03:45] sturloly commented on #11
#### [Go 语言狂人许式伟：编程的意义就是让世界变得有趣一些](https://sdk.cn/news/7174)
"就是觉得好玩。我觉得其实着迷计算机是有原因的，最核心的就是它真的让你能够感觉说你在创造一个世界。这种感觉和你学数学学物理，你发现这都是很有用的知识，但是这些知识能干嘛？不知道。所以它对人的魅力也是不一样的。"  —— 作者

#### [翻译干货！开始使用 TypeScript 和 React](https://mp.weixin.qq.com/s?__biz=MzI1MTE2NTE1Ng==&mid=2649516558&idx=1&sn=6b66a8adfe64b28536d462c62548f7f4&chksm=f1efea85c6986393c15413e23bfa038751a9a56f72c4f47227e59c9da97d84769745731efeb2

[2017-07-07 02:24] Joker-Qu commented on #11
[Lavas：百度推出的基于 Vue 的 PWA 解决方案](https://lavas.baidu.com/)

Lavas 是一个基于 Vue 的 PWA 解决方案。将 PWA 的工程实践总结成多种应用框架模板，帮助开发者快速搭建 PWA 应用。

[2017-07-07 05:40] mirreal commented on #11
#### [React, Relay 及 GraphQL: 纽约时报网重构](https://open.nytimes.com/react-relay-and-graphql-under-the-hood-of-the-times-website-redesign-22fb62ea9764)

纽约时报网正在重构他们的站点，采用 React, Relay 及 GraphQL，并使用 GraphGL 整合多端以及多站点，简化技术栈达到统一，并拥有更好的可扩展性。

#### [Mastering Async Await in Node.js](https://blog.risingstack.com/mastering-async-await-in-nodejs/)

Node.js 已经支持 async/await 有段时间，还没有使用过的可以看看这篇文章，将介绍如何使用异步函数来简化回调

[2017-07-07 06:56] CurtisCBS commented on #10
@elevenbeans 受益良多

[2017-07-07 09:54] stoneyong commented on #11
#### [Announcing TypeScript 2.4](https://blogs.msdn.microsoft.com/typescript/2017/06/27/announcing-typescript-2-4/)
2017年6月27日 TypeScript 2.4 发布，新增了ES6的 import 的异步请求模块、字符串枚举等新的功能， 详细的更新信息大家可以查看文章

#### [九个Console命令，让js调试更简单](https://github.com/dwqs/blog/issues/32)
除了常用的 log 方法，其他的大家还能记得几个， 文章列出了九个， 记住他们， 让我们的调试更直观，更简单。

[2017-07-08 14:44] #11 closed, assigned to mirreal

[2017-07-09 02:26] StevenX911 commented on #11
@stoneyong console的这些方法在Nodejs服务端调试也很有用

[2017-07-10 06:30] CurtisCBS opened #12 "2017-07-17"

[2017-07-11 12:50] StevenX911 commented on #12
#### [静态网站生成器是如何工作的](https://zhuanlan.zhihu.com/p/27682700)
@CurtisCBS  此文是不是你用小号写的？呵呵
在过去的几年里，开源静态网站生成器的数量增长迅速，[StaticGen](https://www.staticgen.com/) 上几乎找得到每一种语言实现的版本。静态网站相比动态网站具备无需依赖应用服务器，性能优越，部署简单等特点。特别适合生成静态文档，个人博客，饱受开发者的青睐。相比学会使用，掌握工作原理也尤为重要。

#### [JavaScript机器学习之线性回归](https://juejin.im/post/5966f7436fb9a06bc60440e5)
本文通过一个小栗子简单阐述如何使用JS来实现机器学习，是一篇挺有趣的文章，可以适当关注。

[2017-07-12 01:09] mirreal commented on #12
@StevenX911 链接给错了

汪老板看来是饿了么的忠实拥趸

[2017-07-12 03:10] StevenX911 commented on #12
@mirreal 已更新

[2017-07-12 04:05] elevenbeans commented on #12
#### [两分钟解惑 JS 小数计算精度问题](http://elevenbeans.github.io/2017/07/07/floating-point-issue/) (by [@elevenbeans](https://github.com/elevenbeans))

[2017-07-12 05:34] CurtisCBS commented on #12
#### [Django vs Flask](https://www.git-pull.com/code_explorer/django-vs-flask.html)
Python的两大经典静态服务Django和Flask的比较。Django更适合关系型数据库的管理系统网站，而Flask相对来说更加灵活。文章还从其他更个方面分析两种框架理念的差异。

#### [[译] ES8 新特性一览](https://juejin.im/post/596713b75188250da20604cb?utm_source=gold_browser_extension)
ES6还没全覆盖，已经到ES8了，对于每年一个标准，前端工程师都有必要了解其新特性。文章涵盖了主要的新特性，内置对象扩展方法及新语法使用？那么是否可以期待新的babel-polyfily了？

[2017-07-12 06:03] Joker-Qu commented on #12
[PHP7 to ES7 syntax translator](https://gitlab.com/kornelski/babel-preset-php#php7-to-es7-syntax-translator)
世界上最好的语言可以运行在浏览器端了

[2017-07-12 13:17] mirreal commented on #12
#### [JavaScript 的函数式编程是一种反模式](https://github.com/xitu/gold-miner/blob/master/TODO/functional-programming-in-javascript-is-an-antipattern.md)

作者出于对现有类库解决方案在函数式编程体验上的一些不满，并认为使用 JavaScript 进行函数式编程就是一种反模式。然后，大力推荐从语言本身来解决这个问题，即采用 ClojureScript 来达到纯粹的函数式编程体验。

#### [Introducing npx: an npm package runner](https://medium.com/@maybekatz/introducing-npx-an-npm-package-runner-55f7d4bd282b)

如果你最近更新 [npm@5

[2017-07-13 03:16] stoneyong commented on #12
#### [Under-the-hood-ReactJS](https://bogdan-lyashenko.github.io/Under-the-hood-ReactJS/)
这个仓库是作者对 ReactJS内部工作原理的完整解析，通过对代码库的调试和分析，总结和解释了react的主要概念和方法，并且把其逻辑通过逻辑图的方式呈现出来， 有助于我们深刻理解React的内部机制，作者已经完成了Stack版本解析，现在正在对下一个Fiber版本的解析。

#### [漫画算法：什么是 B 树？](https://mp.weixin.qq.com/s/SZ3QaDoa30IaQforWR1AXA)
作者使用漫画的形式， 很生动形象的解读了 B数（二叉搜索树）在数据库索引中的应用，本篇主要介绍了一下B-树（Balance Tree） 。

[2017-07-14 02:09] StevenX911 commented on #12
@mirreal  饿了么的 PWA 升级实践，此文也刚看完，你也是饿了么

[2017-07-14 02:19] mirreal commented on #12
@StevenX911 不是饿了么，只是关注文章作者

[2017-07-15 07:54] sturloly commented on #12
#### [Announcing Babylon.js 3.0](https://blogs.windows.com/buildingapps/2017/07/12/announcing-babylon-js-3-0/#cljKKhsr0qBTLqWr.97)
'Babylon.js是一款基于WebGL、HTML5和JavaScript的开源3D游戏引擎，由微软员工David Catuhe主导开发. ' ... , 基于Babylon.js '开发者可以更好地利用WebGL技术，更方便快捷地完成光线、轮船纹理、海浪等的3D建模，从而带来最佳的呈现效果. 其3.0 版本于2017年7月12日刚刚发布.'

#### [JS的反射学习和应用](http://blog.5udou.cn/blog/JSDe-Fan-She-Xue-Xi-He-Ying-Yong-2)
'在国内的技术文章中你去搜索

[2017-07-15 10:44] #12 closed, assigned to CurtisCBS

[2017-07-16 15:46] stoneyong opened #13 "2017-07-24"
第13期  ELSE周刊

[2017-07-17 01:49] CurtisCBS opened #14 "外部投稿推荐"

[2017-07-17 02:25] CurtisCBS commented on #13
#### [Generating Images in JavaScript Without Using the Canvas API](https://medium.com/the-guardian-mobile-innovation-lab/generating-images-in-javascript-without-using-the-canvas-api-77f3f4355fad)
《卫报》在使用NotificationAPI给用户推送新闻时，对于本地生成图片的解决方案。

#### [React 中的五种组件形式](https://juejin.im/post/596d65d66fb9a06bae1e19e2?utm_source=gold_browser_extension)

介绍React的五种组件形式，对于每种组件都有简单的解释和适用场景的描述。

#### [翻译 |

[2017-07-18 02:50] Joker-Qu commented on #13
[前端工程中的编译时优化 - 尤小右](https://docs.google.com/presentation/d/1ot0JYflhGmPq5Y_PAIEEyYH4APWBK17Zf7-d1dM4v7g/edit#slide=id.g23dde9e579_0_389)
尤雨溪在jsconf上关于前端编译优化的演讲ppt

[2017-07-19 12:09] mirreal commented on #13
#### [亚马逊推荐系统二十年](https://mp.weixin.qq.com/s/XM2-5qfhOvydHoSV-x-WAQ)

作者是当年 ItemCF 算法（基于物品的协同过滤算法）的发明人，文章提纲挈领地回顾了亚马逊推荐系统二十年来的发展，而这二十年的起点，就是 ItemCF 算法的发明时间。主要介绍 ItemCF 算法的一些进展、改进和改良，同时阐述在协同过滤、推荐系统和个性化未来发展发展的一些看法。从电商系统开始，音乐，视频，资讯等等涉及到用户个性化的地方，都是推荐系统的用武之地。

#### [WebStorm 2017.2 released](https://blog.jetbrains.com/webstorm/2017/07/webstorm-2017-2/)

作为最强大的前端 IDE 又有更新了。支持从 ESLint 配置导入代码风格，增强了 Karma 和

[2017-07-20 05:18] elevenbeans commented on #13
#### [【译】为什么我选择 React 而不是 Vue](http://elevenbeans.github.io/2017/07/19/Why-React/) (by [@elevenbeans](https://github.com/elevenbeans))

[2017-07-20 13:15] stoneyong commented on #13
#### [漫画：什么是 B+ 树？](http://mp.weixin.qq.com/s/cK_GIhCuGoUwJpDpoaETxw)

#### [React性能优化——工具篇](https://wulv.site/2017-07-01/react-perf-tools.html)
作者总结了几个React代码性能检测工具，可以帮助检测组件中可以优化的点， 避免不必要的渲染或开销。

#### [神经网络入门](http://www.ruanyifeng.com/blog/2017/07/neural-network.html)
一篇 阮一峰老师对 人工智能的底层模型——“神经网络”（neural network）的介绍， 想想就知道很难理解的知识，被讲解的浅显易懂，又很透彻明了。

[2017-07-20 13:29] mirreal commented on #13
@stoneyong 感觉可以凭借【玻璃猫】的漫画一直分享下去

[2017-07-20 15:49] StevenX911 commented on #13
#### [电影<<社交网络>>中的"FaceMash"算法](https://sylvanassun.github.io/2017/07/19/2017-07-19-FaceMash/)
一个挺有趣的公式，看看大神是如何使用算法进行排名的。

#### [50 行代码实现的高性能动画定时器 raf-interval](https://juejin.im/post/597018aef265da6c2041b126)
通过 raf-interval 我们可以把抽象的对象的自身的循环逻辑通过 setRafInterval 书写在自身的代码里，但是却执行在唯一的 ticker，这样逻辑不会被拆得支离破碎，更好易维护可扩展。

[2017-07-21 02:09] CurtisCBS commented on #13
@stoneyong 上周发过了

[2017-07-21 02:09] stoneyong commented on #13
@mirreal   哈哈  可以有。。  还挺有意思的 。

[2017-07-21 02:20] mirreal commented on #13
#### [面向初学者的高阶组件教程](https://zhuanlan.zhihu.com/p/27985956)

一篇面向初学者的 HOC 介绍。高阶组件听起来挺唬人的，只看名字恐怕不是那么容易明白究竟是何物，而且通常来讲高阶组件并不是组件，而是接受组件作为参数，并且返回组件的函数。早期利用 ES5 的 mixin 语法来做的事，基本都可以使用高阶组件代替，而且能做的还有更多。

[2017-07-21 02:33] stoneyong commented on #13
@CurtisCBS  嘿嘿~  上周是B 树。。

[2017-07-23 15:36] #13 closed, assigned to stoneyong

[2017-07-24 03:05] StevenX911 opened #15 "2017-07-31"
#### [浅谈 Node.js 安全](https://zhuanlan.zhihu.com/p/28105239)
随着 Node.js 的应用慢慢的变多，RESTful API 也好 RPC 也好，在应用广泛的同时，特别是 npm 仓库上存在大量质量参差不齐，年久失修的库，Node.js 的安全问题慢慢变得严峻起来，这里主要简单谈论一些 HTTP 相关的安全问题。

#### [我用了两个月的时间才理解 let](https://zhuanlan.zhihu.com/p/28140450)
如何理解 let x = x 报错之后，再次 let x 依然会报错？

[2017-07-26 10:56] mirreal commented on #15
#### [Discover your character](http://www.amp-what.com/)

寻找那些需要却又打不出来的字符

#### [陆奇：如何成为一个优秀的工程师](https://mp.weixin.qq.com/s?__biz=MzIwMzg1ODcwMw==&mid=2247486666&idx=1&sn=e5038ef1027c28db3aab3d7ce8bf0471)

对于一名优秀工程师的特质，陆奇提出五点要求：相信技术、站在巨人的肩膀上创新、追求卓越、每天学习以及 Ownership，希望对你有所启发。

#### [5 CSS Properties That You Probably Don’t Know](http://developer.telerik.com/topics/web-development/5-css-properties-

[2017-07-27 03:21] CurtisCBS commented on #15
#### [4 Important Changes In Vue.js 2.4.0](https://vuejsdevelopers.com/2017/07/17/vue-js-2-4-important-features/)

vue2.4.0版本新增的4个重要特性：支持异步组件的服务端渲染；子组件对父级属性的默认继承；异步组件对于webpack3的支持；html片段的注释保留；

#### [React 16 beta](https://github.com/facebook/react/issues/10294?utm_campaign=React%2BNewsletter&utm_medium=web&utm_source=React_Newsletter_79)

React 16 beta对外开放，开发者通过@next即可安装最新版。值得一提的是，新版使用了Map和Set的集合

[2017-07-27 07:52] stoneyong commented on #15
#### [再见Flash，Adobe将于2020年停止其开发和更新](https://mp.weixin.qq.com/s/MYB7Myv_JuCDbFk32uclcQ)

#### [漫画算法：什么是一致性哈希？](http://mp.weixin.qq.com/s/scY2sMrmcRxWOn441D-_cQ)
@玻璃猫 的小灰灰又遇到难题了，  让我们陪他了解下 一致性哈希算法，以及如何解决分布式存储结构下动态添加和删除节点所带来的问题。
#### [React的新引擎—React Fiber是什么？](https://mp.weixin.qq.com/s/AuwfW1vZeoeBEaioaFELzQ)
在Raect 16的版本里，React 团队将采用新的调度策略 -- Fiber reconcile， 来解决原来在复杂数据交互中 Virtual DOM的计算占用浏览器主线程时间

[2017-07-28 14:40] sturloly commented on #15
#### [前端基础进阶（十一）：详细图解jQuery对象，以及如何扩展jQuery插件](http://www.jianshu.com/p/3f97570d22b4)
“虽然随着前端的发展，另外几种前端框架的崛起，jQuery慢慢变得不再是必须。因此大家对于jQuery的热情低了很多。但是许多从jQuery中学到的技巧用在实际开发中仍然非常好用。简单的了解它也有助于我们更加深入的理解JavaScript。这篇文章的主要目的就是跟大家分享一下，jquery对象是如何封装的。算是对于大家进一步学习jQuery源码的一个抛砖引玉。”

#### [npm v3 Dependency Resolution](https://docs.npmjs.com/how-npm-works/npm3)
5 minutes read of this article will make you actuall

[2017-07-29 08:44] #15 closed, assigned to StevenX911

[2017-08-01 11:53] sturloly opened #16 "2017-08-07"

[2017-08-03 02:28] StevenX911 commented on #16
#### [IM 消息可靠性及一致性的解决方案](https://zhuanlan.zhihu.com/p/28207083)
对于 IM 系统消息可靠性及一致性问题，通过消息重发机制保证消息成功被服务端接收，通过会话记录检查保证收取消息完整，从而保证整个消息发送过程的可靠性；使用 uuid 消息去重，参考向量时钟算法进行消息排序，为保证消息一致性提供一种解决方案。

#### [HTTP1.0、HTTP1.1 和 HTTP2.0 的区别](https://mp.weixin.qq.com/s/GICbiyJpINrHZ41u_4zT-A)
作为前端工程师，了解HTTP以及各版本之间的差异，无疑对前端开发是事半功倍的

#### [JavaScript 高阶函数应用 - 如何监听页面 DOM 变动并高效响应](https://github.com/hijiangtao/hijiangtao

[2017-08-03 15:47] mirreal commented on #16
#### [API 设计原则](http://coolshell.cn/articles/18024.html)

Qt 的设计水准在业界很有口碑，一致、易于掌握和强大的 API 是 Qt 最著名的优点之一。孙然 Qt 用的是 C++，但其中设计原则和思考是具有普适性的。整个篇幅中包含很多示例，是关于API 设计一篇难得的好文章。

#### [一个故事讲完 HTTPS](https://mp.weixin.qq.com/s/StqqafHePlBkWAPQZg3NrA)

用一种叙事的手法，不仅引人入胜，通常也会使得事情简单化。读完这个故事，相信你会理解 HTTPS。

#### [Elm In Production: 25,000 Lines Later](https://charukiewi.cz/posts/elm/)

Elm 是一种编译为 JavaScript 语言，用于声明性

[2017-08-04 02:27] CurtisCBS commented on #16
#### [AlloyCrop](https://github.com/AlloyTeam/AlloyCrop)

AlloyTeam发布的图片裁切工具，基于canvas的相关api做了封装，10kb的源码实现了移动端的裁剪功能

#### [不再碎片化学习，快速掌握 H5 直播技术](https://segmentfault.com/a/1190000010440054)

关于h5直播最全的干货，对于直播的HLS，RTMP，HTTP-FLV协议都做了讲解及差异对比。文章从协议，视频流及流的处理对于h5直播技术做了全面深入的介绍。

[2017-08-04 02:41] elevenbeans commented on #16
#### [回应『Angular有哪些地方比Vue更优秀？』by 尤雨溪](https://zhuanlan.zhihu.com/p/28284087)

#### [为什么vue的高仿项目层出不穷，而React和angular却很少? by 大漠穷秋](https://www.zhihu.com/question/59039141/answer/162904672)

#### [为什么只会Vue的都是前端小白？by 大漠穷秋](https://zhuanlan.zhihu.com/p/28282605)

PS：啤酒饮料瓜子儿有要的不？

[2017-08-04 04:46] CurtisCBS commented on #16
@elevenbeans [Vue从Angular里面抄了哪些东西？
](https://zhuanlan.zhihu.com/p/28303425)

无聊的撕逼

[2017-08-04 11:35] StevenX911 commented on #16
@CurtisCBS 借鉴一下

[2017-08-04 13:08] stoneyong commented on #16
#### [用Next.js快速上手React服务器渲染](http://mp.weixin.qq.com/s/JL_33s6Si05V1Whe8mYCdw?utm_source=tuicool&utm_medium=referral)
Next.js 是一个用于在服务端渲染 React 应用程序的简单框架， 让服务器渲染的前端项目更简单。文章从零搭建项目，很详细的讲解了 Next.js用法和特性。

#### [鹅厂分享会丨如何轻松爬取网页数据？](http://mp.weixin.qq.com/s/gPw-Dc-MxlssyVu3jub5vA)
文章总结了 几种不同的爬虫方式，足够应对大部分场景的数据爬取。对于每种的方式， 都列出了所需掌握的知识点，能很好帮助我们理解它们。

[2017-08-07 01:52] #16 closed, assigned to sturloly

[2017-08-07 01:53] sturloly commented on #16
#### [let, const and var in javascript](https://arjunjs.wordpress.com/2017/08/06/let-const-and-var-in-javascript/)
ECMAScript 6 introduced let and const to the javascript engine. So, lets see what is the real difference between let ,const and var.

[2017-08-07 01:53] sturloly commented on #16
#### [story-about-angular-passion-and-community](http://igorminar.github.io/story-about-angular-passion-and-community/)
"I'm going to share a story with you today. A story about Angular, passion and community."  — Igor

[2017-08-07 02:22] mirreal opened #17 "2017-08-14"

[2017-08-08 02:06] stoneyong commented on #17
#### [一行JavaScript代码的逆向工程](http://mp.weixin.qq.com/s/O7bl44UHDm6tpjxxVpJ65w)
这是由一行代码引发的故事， 逆向工程出来的东西，着实让人眼前一亮， 看完之后有点烧脑，有种破解敌军电报的既视感。 作者的思路确实值得学习下。

#### [如何编写轻量级 CSS 框架](http://www.cnblogs.com/nzbin/archive/2017/08/06/7073601.html)
作者文中讲到自己如何一步步实编写一个轻量级的CSS框架，可以了解到作者对 CSS  框架的理解，包括对模块的划分，命名策略等， 尤其对命名 重视，好的命名是一个好的开始。

[2017-08-09 11:43] StevenX911 commented on #17
#### [探索 Service Worker 「生命周期」](https://zhuanlan.zhihu.com/p/28336800)
SW 只是个 Event bus，他的几个运行周期的事件，是专门为缓存与推送量身打造的（ install 事件和 push 事件），因此他的扩展性也非常好，以后如果有更多需求只需添加事件即可（比如 chrome 实现了 sync 事件是为了弥补离线时从本地到服务器 post 的不好体验），它将我们对资源拉的需求（对服务器的请求资源，对服务器的轮询），隐形转换为了推（本地缓存资源代码控制缓存，统一服务器推送）。

#### [编写高质量代码的思考](http://blog.xiaohansong.com/2017/08/09/high-quality-code/)
怎么写高质量的代码是一个很大的话题，这里只是抛砖引玉，其实面向对象设计的很多原则都能够给

[2017-08-11 01:37] xieww-aries opened #18 "如何监听页面DOM并高效的响应"
http://mp.weixin.qq.com/s/R3-hpSUU1CxhyXTK_sj4tw

[2017-08-11 01:41] xieww-aries opened #19 "React性能优化进阶"
分为两个部分，第一部分介绍的是一些React的性能工具及其使用和一些普遍存在的瓶颈，第二部分则深入的讲解研究调试流。
## No.1
https://segmentfault.com/a/1190000008925295

## No.2
https://segmentfault.com/a/1190000006911917

[2017-08-11 03:11] CurtisCBS commented on #17
#### [Understanding Service Workers](http://blog.88mph.io/2017/07/28/understanding-service-workers/)

介绍Service Workers的起源背景，它们能做什么，以及如何帮你的app运行的更好，文章还用emberjs做了实现。

#### [“遍历器（Iterators）加速那些奥秘”](https://zhuanlan.zhihu.com/p/28207957)

文章以ES6的Map和Set为例，对比了node8在遍历器性能上的提升及其实现原理。 在大面上介绍了遍历器性能所面临的瓶颈和现有的解决方案。

[2017-08-11 03:22] xieww-aries commented on #17
## React性能优化
https://segmentfault.com/a/1190000008925295
https://segmentfault.com/a/1190000006911917
分为两个部分，第一部分介绍的是一些React的性能工具及其使用和一些普遍存在的瓶颈，第二部分则深入的讲解研究调试流。

[2017-08-11 03:23] xieww-aries commented on #17
#### [如何监听页面 DOM 变动并高效响应](http://mp.weixin.qq.com/s/R3-hpSUU1CxhyXTK_sj4tw)

从 DOM 事件出发，深入浅出解析页面监听 DOM 变动并进行高效的响应，对于前端开发者来说，读完这篇文章相信都会受益匪浅。

[2017-08-11 03:30] mirreal commented on #19
#17

[2017-08-11 03:30] #19 closed, assigned to nobody

[2017-08-11 03:30] mirreal commented on #18
#17

[2017-08-11 03:30] #18 closed, assigned to nobody

[2017-08-11 06:01] mirreal commented on #17
#### [WebAssembly: A New Hope](https://pspdfkit.com/blog/2017/webassembly-a-new-hope/)

主流浏览器如 Chrome、Firefox 已经逐渐开始支持这项令人兴奋的新技术 WebAssembly。本文通过一个真实的例子：[web 版本的 PSPDFKit](https://pspdfkit.com/blog/2017/pspdfkit-web-2017-5/)，将 500.000 LOC C ++内核编译成 WebAssembly 和 asm.js 在浏览器中独立渲染。

#### [Atom 1.19 - Improved Responsiveness and Memory Usage](http://blog.atom.io/2017/08/08/atom-1-19.html)

Atom 主要架构升

[2017-08-11 06:12] StevenX911 commented on #17
#### [Visual Studio CODE (version 1.15)](https://code.visualstudio.com/updates/v1_15)

[2017-08-11 07:35] mirreal commented on #17
#### [JavaScript 中的匿名递归](https://zhuanlan.zhihu.com/p/28421224)

闭包、自执行函数、函数式编程模式不是什么黑魔法，它们遵循一套易于理解的简单原则。理解这些基本技术对于创建清晰优雅的解决方案以及提升自我是至关重要的，也可能会成为重构中一些好点子。

[2017-08-12 04:08] stoneyong commented on #17
@StevenX911   VS  code  真是我之前想要的功能 ， 慢慢的都有了。哈哈...

[2017-08-12 05:32] StevenX911 commented on #17
@stoneyong 只能微软太坏了，想用编辑器绑架我们，其实大家都在用vim的，是不是？

[2017-08-12 10:48] #17 closed, assigned to mirreal

[2017-08-14 02:30] CurtisCBS opened #20 "2017-08-21"

[2017-08-14 09:55] stoneyong commented on #20
#### [大公司里怎样开发和部署前端代码？(附实践方案)](http://www.jianshu.com/p/35e20bb361d0)
文章中讲解了前端工程中， 静态资源优化方案和怎么平滑部署前端代码，尤其提到的 以文件的摘要信息为依据，控制缓存更新与非覆盖式发布的细节， 也是前端工程更重要的方案。

#### [移动 H5 首屏秒开优化方案探讨](http://blog.cnbang.net/tech/3477/)
文章总结了常用 H5 的首屏秒开的优化方案， 从前端资源文件的优化， 到客户端缓存，再到离线包的使用，以及预加载 webview、预加载数据等细节的优化， 都有很好的说明。

[2017-08-15 08:59] StevenX911 commented on #20
#### [探讨跨域请求资源的几种方式](http://www.cnblogs.com/dojo-lzz/p/4265637.html)
本周开发一个JS组件需要兼容IE8和IE9，起初被打包问题搞得头痛，之后又因为跨域问题抓耳挠腮，其实如果只是单个问题还好解决，一起遇到就找不方向，本篇文章适合一读，写得比较简单，对之后的IE兼容开发还是很有帮助的

#### [让Webpack+Babel支持IE8](https://www.maizhiying.me/posts/2017/03/01/webpack-babel-ie8-support.html)
虽然Webpack2已经不支持IE8，说明需要支持IE8的时代也差不多要过去了。通过这次兼容性的研究，也了解了很多关于Babel构建后的代码，例如class，Babel Polyfill的代码，例如Object.defineProperty的

[2017-08-17 12:22] CurtisCBS commented on #20
#### [How Angular Protects Us From XSS Attacks?](https://hackernoon.com/how-angular-protects-us-from-xss-attacks-3cb7a7d49d95)

关于web常见的安全问题XSS攻击，angular在这方面是如何实现XSS攻击，框架在实现拦截攻击上又做了那些事情？

#### [CSS技巧：逐帧动画抖动解决方案](https://aotu.io/notes/2017/08/14/fix-sprite-anim/)

基于viewport+rem在移动端上的实践，在使用sprite+animation出现图像抖动的原理是什么？文章还提供了该问题三种解决方案。

[2017-08-18 06:36] mirreal commented on #20
#### [Emotional Artifical Intelligence](https://deepmoji.mit.edu/)

利用深度学习模型来理解语句中的情绪，该项目从 tweets 中训练出期望的模型，利用 emoji 来表达话中的情感，来玩玩看。[相关介绍](https://www.technologyreview.com/s/608387/an-algorithm-trained-on-emoji-knows-when-youre-being-sarcastic-on-twitter/)

#### [Rethinking drag and drop](https://medium.com/@alexandereardon/rethinking-drag-and-drop-d9f5770b4e6b)

Atlassian 公司最近发布一个 [react-beautiful

[2017-08-20 16:37] CurtisCBS commented on #20
@StevenX911 汪老板那篇文章太老了

[2017-08-21 02:28] #20 closed, assigned to CurtisCBS

[2017-08-21 03:00] stoneyong opened #21 "2017-08-28"
周刊文章推荐。

[2017-08-22 09:04] StevenX911 commented on #21
#### [Truthy and Falsy: When All is Not Equal in JavaScript](https://www.sitepoint.com/javascript-truthy-falsy/)
Truthy and falsy values allow you to write terse JavaScript conditions and ternary operators. However, always consider the edge cases. A rogue empty array or NaN variable could lead to many hours of debugging grief!

#### [为什么我选择使用 VS Code进行前端开发?](https://segmentfault.com/a/119000001075

[2017-08-25 08:32] CurtisCBS commented on #21
#### [How do you separate components?](https://reactarmory.com/answers/how-should-i-separate-components)

一个React组件，state能被影响的操作越多，组件的代码量就会越大。对于组件代码量的控制能提高代码的阅读性，文章介绍了View components，Control components，Controllers，Container components这四种组件如何从一个代码量大的组件中分离以及业务中常见的运用场景都进行了详细的阐述。

#### [这些JavaScript编程黑科技，装逼指南，高逼格代码，让你惊叹不已](https://juejin.im/entry/5998f8396fb9a0247c6ec9cd?utm_source=gold_browser_extens

[2017-08-25 10:34] mirreal commented on #21
#### [The Nine Principles Of Design Implementation](https://www.smashingmagazine.com/2017/08/nine-principles-design-implementation/)

文章分享 CSS 设计的九大通用原则，通过结构化、模组化、抽象、可扩展性等编写更容易维护的代码，并最终呈现出一种高效、准确的效果，保持可复用性，可配置性。

#### [FreeWheel 前后端分离改造实践](http://www.infoq.com/cn/articles/freewheel-refactoring)

文章以 FreeWheel 从单体应用改造为前后端分离的实践为例，着重介绍其间前端所遇到的挑战和解决方案。在使用社区库的过程中，结合自身需求造了不少新轮子。

#### [CSS 百分比 padding 实

[2017-08-25 13:16] stoneyong commented on #21
#### [漫画：什么是 Bitmap 算法？](http://mp.weixin.qq.com/s/96Iv8ZKAm6ozob4YCnFWqA)
本片的漫画中， 简单的介绍了Bitmap算法，及其 它的特性和用法。

#### [腾讯祭出大招VasSonic，让你的H5页面首屏秒开](https://segmentfault.com/a/1190000010711024?utm_source=tuicool&utm_medium=referral)
为了提高用户体验，提升 H5页面首屏加载速度是必不可少的优化， 对此以前也推荐过很多方案， 本篇推荐的是鹅厂 为此做出的一套H5 秒开的架构， 由自己的业务场景演变而来， 集成了封装了一套自己的体系， 主要是为了提升WebView加载速度， 现已开源，值得关注。

#### [JavaScript 二进制的 AST](https://git

[2017-08-26 06:01] CurtisCBS commented on #21
@StevenX911 汪老板你写的短评跟文章一点关系都没有啊。。。

[2017-08-27 02:24] StevenX911 commented on #21
@CurtisCBS 没有关系，是为了让主编来总结一下的。。，嘿嘿嘿

[2017-08-27 06:21] sturloly commented on #21
#### [这些Zepto中实用的方法集](https://github.com/qianlongo/zepto-analysis/issues/5)
本文介绍分析了一些在Zepto基础模块中，比较实用的部分内部方法，在我们日常工作或者学习中也会用的到。

#### [Javascript ES6 — 一些内建方法的探索](https://hackernoon.com/javascript-es6-exploring-the-new-built-in-methods-b62583b0a8e6)
Amongst the new features released with the new ES6 standard in Javascript are a bounty of new built-in methods. These new methods aim to simplify and

[2017-08-29 02:16] StevenX911 opened #22 "2017-09-04"
#### [RESTful 接口实现简明指南](https://zhuanlan.zhihu.com/p/28674721)
本文选取了几个点来简要介绍，一个让前端开发者用起来舒服的 RESTful 接口是什么样子。

#### [奇技淫巧学 V8 之五，对象属性的快速删除](https://zhuanlan.zhihu.com/p/28872382)
先划重点：沿着属性添加的反方向删除属性时，对象不会退化为字典模式。记住这点无疑对开发Node服务端程序大有帮助

#### [【译】高阶函数：利用Filter、Map和Reduce来编写更易维护的代码](https://segmentfault.com/a/1190000010915182)
通过.map()，.reduce()和.filter()来创建函数的思维将会极大的提高你的代码质量。而且可以增加可读性。你根本不必在意函数内到底发生了

[2017-08-29 08:51] #21 closed, assigned to stoneyong

[2017-08-29 08:51] stoneyong commented on #22
#### [为什么越来越多30多岁的程序员开始迷茫呢？](http://mp.weixin.qq.com/s/3Gktlz-cRlN2sXrQKJEAAw)
人生中不免都会有几个阶段会感觉到，或迷茫，或困惑，就像在大学时也有那么一段时间很困惑一样，在这样的阶段， 这样的环境， 我们也许能做的只能是调整自己， 只有找准自己的定位，才能持续发展下去。

#### [React Native按需加载 手Q狼人杀探索之路](https://mp.weixin.qq.com/s/mUzq4NaBHeF3T-NStLzuRw?utm_source=tuicool&utm_medium=referral)
文章中分享了手Q狼人杀RN项目的优化之路， 从分析可优化点，到采取的优化方案都很详细，主要讲述了怎么让RN实现按需加载和打包工具的改造。

#### [漫画：Bitmap算法（进阶篇）](https:

[2017-09-01 01:28] CurtisCBS commented on #22
#### [How can I use CSS-in-JS securely?](https://reactarmory.com/answers/how-can-i-use-css-in-js-securely?utm_campaign=React%2BNewsletter&utm_medium=web&utm_source=React_Newsletter_83)

css in js是通过JavaScript来插入css样式，能够使样式紧跟组件本身，组件之间样式不会相互影响。但也带来了一些安全上的问题，如css注入攻击，如果你的网站允许用户自定义css，那么这篇描述的一些会发生安全问题使用场景可以给你提供一些参考。

#### [google-ar/three.ar.js](https://github.com/google-ar/three.ar.js)
基于three.js的ar实

[2017-09-01 02:00] mirreal commented on #22
#### [基于 RxJS 的前端数据层实践](http://blog.daocloud.io/edu170831/)

在开发过程中遇到数据来源多、数据复杂、数据更新困难的问题，在分析难点之后，结合应用本身的一些需求，最后选择使用 RxJS 实现一套数据层的设计。从而提高代码的可维护性，并使开发效率大大提高，减少 Bug。

#### [A Tale of Two Industries: How Programming Languages Differ Between Wealthy and Developing Countries](https://stackoverflow.blog/2017/08/29/tale-two-industries-programming-languages-differ-wealthy-developing-countries/)

StackOver

[2017-09-01 04:30] CurtisCBS commented on #22
@mirreal 欠发达国家喜欢 PHP 与 Android 开发。😅可以说是有理有据的黑了

[2017-09-02 11:58] #22 closed, assigned to StevenX911

[2017-09-03 06:09] stoneyong commented on #22
来自gmail的回复😉

2017-09-02 19:58 GMT+08:00 Steven <notifications@github.com>:

[2017-09-05 11:34] sturloly opened #23 "2017-09-11"

[2017-09-06 01:45] CurtisCBS commented on #23
#### [代码质量管控的四个阶段](https://juejin.im/post/59af8704f265da24715829ce?utm_source=gold_browser_extension)

对于软件项目来说，代码质量代表着系统的有序程度，烂代码增加就是系统无序性上升的体现。在团队不断扩展，业务压力上涨的同时如何更好的管理和掌控代码质量?

#### [监控平台前端SDK开发实践](https://tech.meituan.com/hunt-sdk-practice.html)

如何打造一套自己的前端监控系统？文章大而全地描述了前端监控系统的设计及实践，覆盖了用户行为，资源加载，接口调用，运行时报错等功能。

#### [Announcing Yarn 1.0](https://code.facebook.com/posts/274518539716230)

Yarn发布

[2017-09-06 03:29] mirreal commented on #23
@CurtisCBS 这条发布信息已经不属于 news 的范畴了

[2017-09-06 04:31] elevenbeans commented on #23
#### [中国首位00后CEO公然抄袭、复制我的开源作品](https://juejin.im/post/59ad758a518825243d1f28cb)
划重点：
+ 最近一个 00 后 CEO 很火啊，雷军都转发微博说长江后浪推前浪之类
+ 然而，这两天有一位开源作者指出该公司产品 “猫桌面”，抄袭自己在GitHub开源社区发布的一款智能电视桌面 [JackyAndroid/AndroidTVLauncher](https://github.com/JackyAndroid/AndroidTVLauncher)
+ 作者虽然已经改了 License (从 Apache 到 GNU GPL v3.0)，但是应该也没什么用了 [(看 commit history 感觉作者已经气的吐血)](https://github.com/JackyAndroid/AndroidTVLauncher

[2017-09-06 06:34] CurtisCBS commented on #23
@mirreal 啊岳真的很严格

[2017-09-06 06:39] StevenX911 commented on #23
@elevenbeans 倘若没有营销和推广，源代码价值几何？

[2017-09-06 06:42] StevenX911 commented on #23
#### [程序员如何成为自由职业者？](http://www.jianshu.com/p/a4f06e05dfa4)
作为一名开发者，该如何走向自由职业呢？
这正是这篇文章要讨论的问题，首先介绍开发者走向自由职业的 4 种常见方式，然后聊聊开始自由职业钱必做的 5 种准备，最后，还会分享一下作者的 2 点深切体会。

#### [Cordova: 我们做一个App吧](http://www.jianshu.com/p/50d609f0d2c6)
本篇展示了如何利用Cordova制作一个Android App。

#### [如何使用 Issue 管理软件项目？](http://www.ruanyifeng.com/blog/2017/08/issue.html)
软件开发（尤其是商业软件）离不开项目管理，Issue 是最通用的管理工具之一。

#### [震惊！苹果向开发者低头？！！开始

[2017-09-08 01:28] mirreal commented on #23
#### [m.uber 高性能 Web App 优化实践](http://zhangbinliu.me/2017-07-10-m-uber-performance-optimazation/)

又一篇关于性能优化的实践。m.uber 团队对 m.uber，他们的超级轻量 web app 做了一些性能优化的工作。范围全面，从代码到打包到部署到缓存，都有涉及。

#### [Yes, That Web Project Should Be a PWA](https://alistapart.com/article/yes-that-web-project-should-be-a-pwa)

关于 PWA 可能大部分人都存在很多误解，这篇文章纠正了关于这些误解，并详细说明使用 PWA 带来的好处，是的，大部分站点都应该是 PWA。

#### [浅谈多浏览器的自动化测试](http://www

[2017-09-09 06:33] stoneyong commented on #23
#### [JavaScript Event Loop 机制详解与 Vue.js 中实践应用](https://zhuanlan.zhihu.com/p/29116364)
本文介绍了JavaScript Event Loop 机制， 依次对函数调用栈、MacroTask 与 MicroTask 执行顺序作了详细解释，对 Vue.js 中 nextTick 实现也做了简单介绍。

#### [asm.js 和 Emscripten 入门教程](http://www.ruanyifeng.com/blog/2017/09/asmjs_emscripten.html)
本文介绍了 asm.js 和 Emscripten 的基本用法，讲解了如何将 C / C++ 转成 JS ， 如何生成能让浏览器运行 3D 游戏，还可以运行各种服务器软件，比如 Lua、Ruby 和 SQLite的变体 JS。

[2017-09-10 07:43] CurtisCBS commented on #23
@StevenX911 issue管理发过了

[2017-09-10 13:58] mirreal commented on #23
@CurtisCBS 这么善良的提醒

[2017-09-10 14:00] mirreal commented on #23
@CurtisCBS 我也来一次善意的提醒 https://zhuanlan.zhihu.com/p/28646877

[2017-09-10 15:32] stoneyong commented on #23
@mirreal  @CurtisCBS   你们这些坏银~~ 😄

[2017-09-10 18:51] sturloly commented on #23
#### [再谈ie浏览器兼容问题](http://jartto.wang/2016/12/06/talk-about-ie-compatible-over-again/)

随着技术日新月异的发展，我以为已经可以完全甩掉ie浏览器，驰骋在新技术的海洋里。却不想，ie兼容问题如影随行。

#### [IE JavaScript进阶调试](http://www.browserwork.com/debugging/ie-debug)

大多数人用IE都知道IE有个F12 开发者工具可以用来调试网页的各种问题，本文以IE10为例，尽量少谈基础，只说说IE脚本调试中的进阶技巧。如果网页脚本在IE上运行出现问题，希望下面的技巧可以省点时间。

#### [让console充满情怀](https://aotu.io/notes/2016/06/22/An-interesting-experience-

[2017-09-11 03:04] #23 closed, assigned to sturloly

[2017-09-11 03:15] mirreal opened #24 "2017-09-18"

[2017-09-13 03:27] CurtisCBS commented on #24
#### [Facebook 和 GitHub 两大巨头联手推出 Atom-IDE](https://www.oschina.net/news/88643/facebook-github-atom-ide)

facebook联手github推出Atom-IDE，只需要下载相关工具包及支持语言。目前AtomV1.21才支持最新版的工具包。

#### [V8引擎中的“元素种类”](https://v8project.blogspot.com/2017/09/elements-kinds-in-v8.html)
V8引擎针对数组元素类型做的遍历优化

[2017-09-13 04:54] mirreal commented on #24
Atom 的复兴之路仍然艰难啊

[2017-09-13 05:34] CurtisCBS commented on #24
@mirreal "复兴"吗？还没有兴过

[2017-09-13 11:16] stoneyong commented on #24
#### [卡辛斯基的警告](http://www.ruanyifeng.com/blog/2017/09/unabomber.html)
科学技术一直是推动社会进步的主要动力， 不断改善着人类生活的同时，似乎也决定未来人类的命运。本文阮一峰老师 引用 20年前 卡辛斯基发表的《论工业社会及其未来》的文章，讲述着 技术与人类自由之争、技术与未来人类命运的关联。

#### [Immutable.js与React,Redux及reselect的实践](http://blog.codingplayboy.com/2017/09/14/immutable-react-redux/)
本文 作者从 Immutable与Redux,reselect在项目中实践出发，阐述Immutable.js与React，Redux及reselect的组合实践及优化，最后总结使用Immutable可能遇到的一些问题

[2017-09-13 11:35] StevenX911 commented on #24
@CurtisCBS 我们只用VS Code.

[2017-09-14 12:54] CurtisCBS commented on #24
@StevenX911 IDE选择自由！

[2017-09-14 13:10] mirreal commented on #24
在 Visual Studio Code 出来之前，Atom 混得还是可以的，算是“兴”吧，虽然 VSC 刚出来的时候没多少人看好，不可否认的是，VSC 只用短短一年多的时间里基本上已经超越同门师兄 Atom

[2017-09-14 13:12] mirreal commented on #24
再贴一个：

[Sublime Text 3.0 is out](https://www.sublimetext.com/blog/articles/sublime-text-3-point-0)

在用 3 吗

[2017-09-14 13:17] mirreal commented on #24
#### [Node.js 中使用原生 ES 模块](https://zhuanlan.zhihu.com/p/29314408)

Node 8.5.0 开始支持 ES 模块

#### [Redux 进阶系列：如何合理地设计 State](http://www.jianshu.com/p/085c426ee61e)

设计 Redux State 的关键在于，像设计数据库一样设计 State，而 action、reducer 等则是操作这个数据库的 SQL 语句。

#### [我做了六百万字的歌词分析，告诉你中国Rapper都在唱些啥](http://www.g-cores.com/articles/26152)

看 HipHop 到底在唱些什么，各个国家和地区的 Rapper 们想要说的聊的唱的都有哪些特色。

[2017-09-15 01:27] StevenX911 commented on #24
#### [Chrome 61 里的新玩意！](https://zhuanlan.zhihu.com/p/29348871)
JavaScript Module、Web Share API、WebUSB。。。一个浏览器玩的越来越强大了，了解一下，说不定大家都支持了，以后就可以用了

#### [为什么我们要做三份 Webpack 配置文件](https://zhuanlan.zhihu.com/p/29161762)
通过本文来介绍一种用 3 个 JS 文件来配置 Webpack 的方法，这里借鉴了很多开源项目的配置，同时也结合了我们自己在开发中碰到的种种问题解决方案。

[2017-09-16 00:43] StevenX911 commented on #24
#### [这里有一份给你的前端学习路线图](https://zhuanlan.zhihu.com/p/29039717)
一位来自迪拜的工程师帅哥哥——Kamran Ahmed（好了，别念了，反正我是念了几分钟后放弃了）在Github 上发布了一个项目（准确地说是一篇文章），名字叫《Web Developer Roadmap - 2017》，翻译过来大致就是《2017 版 Web 开发者路线图》，他分成三个部分——前端、后端以及运维开发。

[2017-09-16 08:07] #24 closed, assigned to mirreal

[2017-09-18 02:11] zhaoxieluoke commented on #14
Building the DOM faster: speculative parsing, async, defer and preload

https://hacks.mozilla.org/2017/09/building-the-dom-faster-speculative-parsing-async-defer-and-preload/

[2017-09-18 04:28] CurtisCBS opened #25 "2017-09-25"
#### [去哪儿网迷你React的研发心得](https://segmentfault.com/a/1190000011235844)

去哪儿对于React框架的简化实践作品[QReact](https://github.com/YMFE/qreact)

#### [Upcoming TypeScript Changes in Vue 2.5](https://medium.com/the-vue-point/upcoming-typescript-changes-in-vue-2-5-e9bd7e2ecf08)
Vue2.5即将对TypeScript作出更新以达到两者API的更好的集成，此次更新对于非使用TypeScript的Vue用户不会造成影响。

#### [iPhone X的缺口和CSS](http://www.w3cplus.com/css/the-notch-and-c

[2017-09-18 12:26] StevenX911 commented on #25
#### [浏览器的渲染：过程与原理](https://zhuanlan.zhihu.com/p/29418126)
本文不是关于浏览器渲染的底层原理或前端优化具体细节的讲解，而是关于浏览器对页面的渲染——这一过程的描述及其背后原理的解释。这是因为前端优化是一个非常庞大且零散的知识集合，一篇文章如果要写优化的具体方法恐怕只能做一些有限的列举。

#### [ThinkJS 3 正式版发布！](https://zhuanlan.zhihu.com/p/29031203)
ThinkJS 是一款拥抱未来的 Node.js Web 框架，致力于集成项目最佳实践，规范项目让企业级团队开发变得更加简单，更加高效。

#### [程序世界里的不信任原则](https://zhuanlan.zhihu.com/p/29470110)
人与人之间最重要的是信任，但程序的世界里，可能信任越少越好；我越发觉得

[2017-09-21 03:36] elevenbeans commented on #25
#### [60 行 JS 代码搞定一个下拉刷新组件 by @elevenbeans](http://elevenbeans.github.io/2017/09/19/pull-to-refresh/)

不到迫不得已，我是不会重复造轮子的 =,=
1.  现有哪些轮子可以做到？
2. 我为什么不用上面的轮子？
3. 要把大象装冰箱，总共分几步？

[2017-09-21 12:48] stoneyong commented on #25
#### [深入 JavaScript 数组：进化与性能](http://zcfy.cc/article/diving-deep-into-javascript-array-8211-evolution-038-performance-void-canvas-4202.html)
起初在JavaScript中 数组并不是一串连续的内存位置，而是类似哈希映射（hash-maps）或字典（dictionaries）来存储值，在现代的 JS引擎中是会给数组分配连续内存的，也仅仅是数据中元素是相同类型的，以及 跟随 ES2015/ES6 有了更多的演进，TC39 决定引入类型化数组（Typed Arrays），JS 也开始拥有了 ArrayBuffer。

#### [为处理升级过程的问题 Angular 5 将会推迟发布](http://www.oschina.net/news/88843/an

[2017-09-22 01:39] mirreal commented on #25
#### [再见，babel-preset-2015](https://zhuanlan.zhihu.com/p/29506685)

Babel 的官网上在9月宣布 ES2015 / ES2016/ ES2017 等等 ES20xx 时代的 presets 通通被废弃（deprecated），取而代之的是 babel-preset-env。除此之外，还提供更便捷的 polyfill 解决方案。

####  [Redux 的问题：React、MobX 和 Realm 能解决吗](https://zhuanlan.zhihu.com/p/29574957)

没有任何工具对于每一种情况都是完美的，并不建议彻底放弃 Redux。Redux 很棒，但随之而来的是创建附加的样板代码，所以业界出现很多整合的开源方案，或者干脆尝试一下 MobX。总之，选择最合适的方案，就像是 Redux 的作者写到

[2017-09-22 06:17] CurtisCBS commented on #25
![image](https://user-images.githubusercontent.com/8346742/30731552-a06fbac0-9fa0-11e7-8fc4-b8dc6f953d14.png)
@mirreal 阿岳真的很严格啊

[2017-09-22 15:20] sturloly commented on #25
#### [HTML5扩展了 HTMLDocument ，增加了新的功能。](https://segmentfault.com/a/1190000011221472)

与HTML5中新增的其他DOM扩展类似，这些变化同样基于那些已经得到很多浏览器完美支持的专有扩展。所以，尽管这些扩展被写入标准的时间相对不长，但很多浏览器很早就已经支持这些功能了。

#### [WEB服务器、应用程序服务器、HTTP服务器区别](http://www.cnblogs.com/zhaoyl/archive/2012/10/10/2718575.html)

"WEB服务器、应用程序服务器、HTTP服务器有何区别？IIS、Apache、Tomcat、Weblogic、WebSphere都各属于哪种服务器，..." 作者做了详细的梳理。

#### [轻松把你的项目升级到PWA](http://www.tuic

[2017-09-23 03:17] #25 closed, assigned to CurtisCBS

[2017-09-25 03:08] stoneyong opened #26 "2017-10-02"
周刊文章推荐

[2017-09-27 02:33] StevenX911 commented on #26
#### [Node.js 㕛分家了，后续发版将受影响](https://zhuanlan.zhihu.com/p/28799213)
本周，Node 社区的几个核心成员又从 Node.js master 分支 fork 出了一个项目，名叫 Ayo.js。

#### [深度剖析：如何实现一个 Virtual DOM 算法](http://segmentfault.com/p/1210000011364809)
本文会在教你怎么用 300~400 行代码实现一个基本的 Virtual DOM 算法，并且尝试尽量把 Virtual DOM 的算法思路阐述清楚。希望在阅读本文后，能让你深入理解 Virtual DOM 算法，给你现有前端的编程提供一些新的思考。

#### [程序员的创业陷阱：接私活](https://segmentfault.com/p/1210000011379205)
在

[2017-09-28 06:05] stoneyong commented on #26
#### [React v16.0](https://facebook.github.io/react/blog/2017/09/26/react-v16.0.html)
React 16 如期发布，遵循 MIT 许可。 当地时间 9月 26 日，FB 工程师 Andrew Clark 在 React 官方主页发文，宣布 React v16.0 发布，并介绍了新版本中的改进内容。

#### [什么是 Base64 算法？](http://mp.weixin.qq.com/s/H5U53RayntyX4-turj1j8A)
这次玻璃猫为我们带来的是Base64 算法的介绍，通过两只小仓鼠的对答，可以很好的了解 ASCII 和Base64的基本原理。

#### [浅谈Hybrid技术的设计与实现前言](http://www.cnblogs.com/yexiaochai/p/4921635.

[2017-09-29 05:49] CurtisCBS commented on #26
#### [Node.js 十问](https://zhuanlan.zhihu.com/p/29650110)

node开发者未必都了解的十个问题，问题涉及了v8引擎，语法使用到模块依赖等。

#### [如何读懂火焰图？](http://www.ruanyifeng.com/blog/2017/09/flame-graph.html)

通过火焰图查看性能指标，了解如何通过perf指令生成的火焰图进行性能指标分析以及如何对node服务进程生成对应的火焰图？

#### [A Brief History of Modularity](https://ponyfoo.com/articles/brief-history-of-modularity#nodejs-and-the-advent-of-commonjs)

一瞥前端模块化的历史，从最开始的script标签和闭包到当前最热门的E

[2017-09-29 06:20] sturloly commented on #26
#### [谷歌发布新的安卓系统——Android Oreo！](https://mp.weixin.qq.com/s/-Ut9S0ZM3bJeR76WO5RQPQ)

这个版本的亮点之一是安卓处理通知的能力。新增加的通知，用户可以随时查看哪个应用有新功能可以显示，并且长击应用图标，会弹出一个菜单，其中包括上一个通知、快捷方式以及安卓应用的小部件和app的应用信息。

#### [Firefox突然提速一倍！Chrome自愧不如](http://www.toutiao.com/a6470454402669871629/?tt_from=mobile_qq&utm_campaign=client_share&app=news_article&utm_source=mobile_qq&iid=0&utm_medium=toutiao_ios)

曾经将IE浏览器斩落马下的Firefox虽然如今

[2017-09-29 07:09] CurtisCBS commented on #26
@sturloly 第二篇发过了

[2017-09-29 07:12] sturloly commented on #26
@CurtisCBS ？嗯？并没有啊？ 微信还是支付宝？

[2017-09-29 07:14] CurtisCBS commented on #25
@sturloly

[2017-09-29 08:14] CurtisCBS commented on #26
奥利奥是不是前段时间就发布了 @sturloly

[2017-09-29 08:22] mirreal commented on #26
#### [Promise 异步流程控制](https://juejin.im/post/59cdb6526fb9a00a4e67c7fb)

由一道面试题发散开来，从并发请求，控制并发量，顺序处理等方面深入理解 Promise 的 API 和其使用场景。

#### [安全技能学习笔记——反射型 XSS 、SQL 注入](https://testerhome.com/topics/9898)

很详细地介绍了两个基本的网路安全技巧，以及详细的攻击示例，很具参考价值。

#### [ES6 Promise：模式与反模式](https://zhuanlan.zhihu.com/p/29783901)

这是一篇有用的关于常见 Promise 模式和反模式的文章。

[2017-09-29 11:26] sturloly commented on #26
@CurtisCBS 8月22日

[2017-09-30 10:39] #26 closed, assigned to stoneyong

[2017-10-01 09:08] StevenX911 opened #27 "2017-10-16"
#### 本周我不在上海（9号~11号请假），周刊可能延迟发，不过还请大家在假期内多多推荐

[2017-10-03 05:31] StevenX911 commented on #27
#### [设计灵感 | 消息界面](https://zhuanlan.zhihu.com/p/29771780)
当今世界最好的前端UI设计荟萃，不可错过~

#### [传送门：React Portal](https://zhuanlan.zhihu.com/p/29880992)
React v16直接支持Portal，是因为Portal这个功能真的是必不可少，不然对话框这样的场景都没法应付。

#### [聊聊 Git 「改变历史」](https://zhuanlan.zhihu.com/p/29497618)
聊聊 Git 怎么改变历史记录，虽然git提供这样的功能，但在多人协作的项目中最好不要用到，除非你非常有把握。「历史（记录）没有因你而变，而只是改变了历史（记录）的呈现方式」

#### [Github 正在影响你的职业生涯](https://juejin.im/post/

[2017-10-13 02:40] CurtisCBS commented on #27
#### [如何无痛降低 if else 面条代码复杂度](https://juejin.im/post/59dc66256fb9a0452a3b4832?utm_source=gold_browser_extension)

对于代码最常用的逻辑语句if else在复杂逻辑场景下如何避免出现面条代码，提高代码的可读性及更好的维护是程序员需要掌握的编程技巧。

#### [前端中的 Pipeline](https://zhuanlan.zhihu.com/p/28561932)

计算机领域的 Pipeline通常认为起源于 Unix。最初 Douglas Mcllroy 发现很多时候人们会将 shell 命令的输出传递给另外一个 shell 命令，因此就提出了 Pipeline这一概念。而在前端领域，也有不少的Pipeline，如Express在1.0引入Middleware Pipel

[2017-10-13 03:18] mirreal commented on #27
#### [反击爬虫，前端工程师的脑洞可以有多大](http://litten.me/2017/07/09/prevent-spiders/)

反爬虫策略的关键在于识别真实用户和机器，这些策略大多在于后端。但爬虫是可以无限接近于真人，这篇文章介绍了前端能做的一些好玩的反击方式。

#### [Essential Image Optimization](https://images.guide/)

Addy Osmani 写的一本免费的电子书，为什么我们都应该自动化进行图像优化，内容涵盖了格式，解码器，高效压缩技术等。

#### [为什么 SQL 正在击败 NoSQL，这对未来的数据意味着什么](http://geek.csdn.net/news/detail/238939)

在过去的十年里，由于 SQL 无法满足这些越来越多的要求，软件开发人员就抛弃了它，NoSQL 也就因此而渐渐

[2017-10-13 03:24] stoneyong commented on #27
#### [理解CSS中的BFC(块级可视化上下文)[译]](http://flypursue.com/jekyll/update/2015/08/10/bfc.html)
网页布局中，很多人都会无意中用到 块级格式化上下文（block formatting context）模式，即所说的BFC。 它是css中基于box的一个布局对象，它是页面中的一块渲染区域，并且有一套渲染规则，它决定了其子元素将如何定位，以及和其他元素的关系和相互作用。

#### [JavaScript 浮点数陷阱及解法](https://github.com/camsong/blog/issues/9)
JavaScript 浮点数运算时总会遇到浮点数误差问题， 总感觉很困惑。本文帮你理清这背后的原理以及解决方案，还会向你解释JS中的大数危机和四则运算中会遇到的坑。

#### [架构师必须知道的架构设计原则](h

[2017-10-13 14:27] StevenX911 opened #28 "咖啡计数器"
遗漏的人自觉啊

[2017-10-13 14:44] sturloly commented on #27
#### [Python 崛起、JavaScript 制霸 —— GitHub 2017 年度开源报告里的语言之争](http://baijiahao.baidu.com/s?id=1581117981560780326&wfr=spider&for=pc)
自 2008 年 GitHub 上线以来，现如今已有 24 亿的开发者使用其共享代码并构建业务，为开源做了很大贡献。10 月 10 日 - 12 日，一年一度的 GitHub Universe 在旧金山落下帷幕，本次盛会公布了 GitHub 2017 的主要工作事项及变化，与此同时还发布了 GitHub Octoverse 2017 年度报告，盘点出最受欢迎的编程语言，帮助大家更好地了解未来技术趋势发展。

#### [微前端 - 将微服务理念延伸到前端开发中](http://www.cnblogs.com/zhuanzhuanfe/

[2017-10-15 05:37] StevenX911 commented on #27
@sturloly `[Python 崛起、JavaScript 制霸 —— GitHub 2017 年度开源报告里的语言之争]` 与 `[GitHub 年度报告，2017 年最受欢迎的编程语言]` 雷同

[2017-10-15 05:37] #27 closed, assigned to StevenX911

[2017-10-16 02:38] mirreal opened #29 "2017-10-30"

[2017-10-17 04:40] sturloly opened #30 "2017-10-23"
Weely init

[2017-10-17 10:37] CurtisCBS commented on #30
#### [JSON: 不要误会,我真的不是JavaScript的子集](https://zhuanlan.zhihu.com/p/29958439)

这些年我们都一直在说"JSON是JavaScript的一个子集".然而事实却不是这样的。

#### [鼠标无限移动 JS API Pointer Lock简介](http://www.zhangxinxu.com/wordpress/2017/10/js-api-pointer-lock/)

让鼠标完全脱离了浏览器窗口的限制，可以完美享受沉浸式操作体验，一个API就能搞定。

#### [Vue 2.5 released](https://medium.com/the-vue-point/vue-2-5-released-14bd65bf030b)

Vue 2.5 正式发布，作者对于该版本的优化总结：更好的TypeScript 集成

[2017-10-18 08:17] StevenX911 commented on #30
#### [Web安全的三个攻防姿势](https://segmentfault.com/a/1190000011601837)
关于Web安全的问题，是一个老生常谈的问题，作为离用户最近的一层，我们大前端确实需要把手伸的更远一点。

#### [初级程序员如何快速成长？](https://www.zhihu.com/question/26572626/answer/246901769)
工作前三年是职业生涯中成长最快的几年，在这段时间里你会充满激情，做事专注，也容易养成良好的习惯。在我们公司有些同学在前三年中就快速成为某一个领域的技术专家，有些同学也可能止步不前。本文和大家一起探讨下如何在三年内快速成长为一名技术专家。

#### [2018前端校招总结](https://juejin.im/post/59e9cea151882561a05a355a)
基本上的大公司对于前端校招同学的要

[2017-10-20 11:26] mirreal commented on #30
#### [关键 CSS 和 Webpack：减少阻塞渲染的 CSS 的自动化解决方案](https://mp.weixin.qq.com/s/VAVT_JTJE1v2nXx8NVwP9Q)

文章介绍了如何以编程方式来区分关键 CSS，并通过 Webpack 的自动化流程来实现该方案，从而达到减少阻塞渲染的 CSS 的目的，提升网站性能。

#### [函数式编程在 Redux/React 中的应用](https://tech.meituan.com/functional_programming_in_redux.html)

本文简述了软件复杂度问题及应对策略：抽象和组合；展示了抽象和组合在函数式编程中的应用；并展示了 Redux/React 在解决前端状态管理的复杂度方面对上述理论的实践。这其中包括了一段有趣的 Redux 推导。

#### [Writing flat & decl

[2017-10-21 06:58] stoneyong commented on #30
#### [JavaScript专题之解读 v8 排序源码](https://segmentfault.com/a/1190000011623637#articleHeader16)
本文介绍了 v8引擎 关于数组的排序完全采用了 JavaScript 实现，所采用的算法跟数组的长度有关，当数组长度小于等于 10 时，采用插入排序，大于 10 的时候，采用快速排序，文中详细的讲解了两种算法的原理、实现以及时间复杂度等。

#### [React作者的构思和演绎](https://zhuanlan.zhihu.com/p/30277192?utm_source=com.daimajia.gold&utm_medium=social)
译文中讲述了React 核心开发者，对React设计之初整个框架的构思，是如何从简单到复杂的去演绎推理一个未来的产品，也能让我们站在更高的高度思考 React

[2017-10-23 01:41] sturloly commented on #30
#### [如何写好一篇技术文章？](https://juejin.im/post/59e86ee76fb9a045257739d4?from=timeline&isappinstalled=0)
技术那么多，到底哪种适合写哪种不适合写？本文就如何写好一篇「值得在技术社区发布的技术文章 」阐述了一些关键的因素。

#### [WiFi爆惊天漏洞！KRACK可攻陷所有WiFi网络](http://www.infoq.com/cn/news/2017/10/wifi-krack?utm_source=infoq&utm_medium=popular_widget&utm_campaign=popular_content_list&utm_content=homepage)
我们发现 WPA2 当中存在一项严重安全漏洞。WPA2 为目前使用范围最广的 Wi-Fi 网络保护协议。身处攻击目标周边的

[2017-10-23 02:41] #30 closed, assigned to sturloly

[2017-10-25 13:47] StevenX911 commented on #29
#### [Node 调试指南 —— Inspector 协议](https://zhuanlan.zhihu.com/p/30264842)
v8 Inspector Protocol 是 node v6.3 新加入的调试协议，通过 websocket （通常使用 9229 端口）与 Client/IDE 交互，同时基于 Chrome/Chromium 浏览器的 devtools 提供了图形化的调试界面。

#### [你真的了解For循环吗？一道For循环Java面试题引发的思考](https://my.oschina.net/lt0314/blog/1554809)
语言对基本的语法实现都差不多，本篇借助字节码理解java中的for循环，还是非常不错的。

#### [前端系列01-React作者的构思和演绎](https://zhuanlan.zhihu.com/p/3027719

[2017-10-27 02:13] CurtisCBS commented on #29
#### [无头浏览器 Puppeteer 初探](https://juejin.im/post/59e5a86c51882578bf185dba)

Headless Broswer有很多，[Puppeteer](https://github.com/GoogleChrome/puppeteer) 有什么不一样？这里有篇Puppeteer入门文。

#### [百度主任架构师谭待：如何让不带团队的程序员负责重大项目？](https://mp.weixin.qq.com/s?__biz=MzUyODMzMjY3OQ==&mid=2247483702&idx=1&sn=3b3a57694c38e23f712d89dbd5e46c5e&chksm=fa70a3decd072ac8aa4b7ff23be7ac9a27dfb72d2873f15bd9d70fa10f3688267364788da7

[2017-10-27 12:14] mirreal commented on #29
#### [A list of everything that could go in the head of your document](http://gethead.info/)

一份很详尽的 Head 指南大全，包含任何可以写入到文档中 <head> 的清单。

#### [爱奇艺视频组件化之路](https://mp.weixin.qq.com/s?__biz=MzI0MjczMjM2NA==&mid=2247483846&idx=1&sn=be10e857dc4415d6adb4edbe5bf04152)

爱奇艺在组件化上的尝试，用以解决业务间的耦合问题以及方便模块的相互调用。使得多业务线在复杂架构情况下能够独立开发测试，互不干扰，并统一调用接口。

#### [HTML Web Component using Vanilla JavaScript](https://ayu

[2017-10-27 13:09] stoneyong commented on #29
#### [Vue2原理浅谈](http://www.imhjm.com/article/59b902107dd03248a2e8d584)
作者根据对vue 的理解，浅谈了一些vue中几个主要模块的原理阐述。包含了数据响应原理、数据与视图如何联系、Virtual DOM等特性的讲解。

#### [Element 2.0 正式发布](https://github.com/ElemeFE/element/issues/7755)
在vue的社区里， Element 的vue组件也备受关注， 也随着社区的发展在迭代， 2.0版本正式上线。

#### [写在2017的前端数据层不完全指北](https://zhuanlan.zhihu.com/p/30050350)
在前端技术的发展中，各个层面演进出不同的技术方案，如数据类型层面的 TypeScript，Flow，PropTypes，应用架

[2017-10-28 06:31] sturloly commented on #29
#### [Kubernetes是什么？](http://blog.csdn.net/hshl1214/article/details/77453323)
【译者按】译自kubernetes官网文档，主要介绍kubernetes的基本概念以及应用场景，K8s的设计理念，以及K8s能干什么不能干什么。

#### [程序员必须知道的10大基础实用算法及其讲解](http://kb.cnblogs.com/page/210687/)
“快速排序是由东尼·霍尔所发展的一种排序算法。在平均状况下，排序n个项目要Ο(nlogn)次比较。在最坏状况下则需要Ο(n2)次比较，但这种状况并不常见。事实上，快速排序通常明显比其他Ο(nlogn)算法更快，因为它的内部循环（innerloop）可以在大部分的架构上很有效率地被实现出来。” 看到公式头疼了么？来一起复习下。

#### [理解javascript

[2017-10-28 06:32] sturloly commented on #29
#### [Kubernetes是什么？](http://blog.csdn.net/hshl1214/article/details/77453323)
【译者按】译自kubernetes官网文档，主要介绍kubernetes的基本概念以及应用场景，K8s的设计理念，以及K8s能干什么不能干什么。

[2017-10-28 15:31] #29 closed, assigned to mirreal

[2017-10-29 11:48] elevenbeans commented on #29
#### [【译】JS 中的内存管理 && 常见的 4 种内存泄露处理方式 by elevenbeans](http://elevenbeans.github.io/2017/10/13/js-memory-management/)

从 0 开始梳理内存管理以及回收问题，浅显易懂

[2017-10-30 02:01] CurtisCBS opened #31 "2017-11-06"

[2017-10-30 06:12] elevenbeans commented on #31
#### [【译】JS 中的内存管理 && 常见的 4 种内存泄露处理方式 by elevenbeans](http://elevenbeans.github.io/2017/10/13/js-memory-management/)

从 0 开始梳理内存管理以及回收问题，浅显易懂

[2017-10-31 12:55] StevenX911 commented on #31
#### [人见人爱的 Visual Studio Code](https://zhuanlan.zhihu.com/p/30558463)
没错，我就是来给大家安利 VSC 的。这也是我想说的。

#### [打造丝般顺滑的 H5 翻页库](http://fex.baidu.com/blog/2017/10/build-a-silky-smooth-slide-library/)
本文讲述了一个「丝般顺滑」的 H5 翻页库的开发过程中遇到的一些问题和对应的解决方法。基本的滑动翻页模型建立之后，重点关注了性能的问题，分为手指离开屏幕前和手指离开屏幕后两个阶段。前一阶段主要聚焦于减少 DOM 操作。后一阶段聚焦于动画的性能，并且对比了 js 动画和 css 动画的性能数据，最后得出了在手指离开屏幕后使用 css 动画的结论。此外，我们还基于「数据驱动」的思想，在翻页效果和动画函数两部分进行了

[2017-11-03 08:29] mirreal commented on #31
#### [Version 5.0.0 of Angular Now Available](https://blog.angular.io/version-5-0-0-of-angular-now-available-37e414935ced)

Angular 5.0.0 已经发布。作为一个包含新功能和错误修复的主要版本，继续专注于使 Angular 更小更快，更易于使用。

#### [编写扁平化的代码](https://zhuanlan.zhihu.com/p/30667142)

给你的代码增加一点点函数式编程的特性，使用声明式编程编写更可读的代码。

#### [How and Why to Speak at Tech Conferences](https://hackernoon.com/how-and-why-to-speak-at-tech-conferences-1d50

[2017-11-03 09:16] CurtisCBS commented on #31
#### [从Chrome源码看浏览器如何加载资源](https://zhuanlan.zhihu.com/p/30558018)

以开源项目Chromium为实验对象，认识浏览器对各类请求资源分类的逻辑，每个资源请求的预处理及安全策略的检查，资源优先级等。

#### [You are managing state? Think twice.](http://krasimirtsonev.com/blog/article/managing-state-in-javascript-with-state-machines-stent)

文章讲述了作者对于flux和redux的思考，它们是否是状态管理，或者说更像是数据(流)管理？举例一个简单表单的各种交互状态，如何更好的管理它们。

#### [NEWS: Node.js 8 Moves into Long-Term Support an

[2017-11-04 09:34] stoneyong commented on #31
#### [ES6模块，Node.js和Michael Jackson办法](http://zcfy.cc/article/es6-modules-node-js-and-the-michael-jackson-solution-4023.html?hmsr=toutiao.io&utm_medium=toutiao.io&utm_source=toutiao.io)
JavaScript的模块化发展也可以说经历一段曲折，从 AMD/CMD、 CommonJs 规范开始 到现在的 ES6模块规定，以及后续一些新的提案来看，JavaScript的模块化应该逐步完善。本文中简述了 CommonJs 和 ES模块的区别，着重介绍了 ES6模块是如何工作的。

#### [深入解读 Java 9 新特性](https://mp.weixin.qq.com/s/ivj2SmTZqr5qVfPbauP

[2017-11-05 07:47] sturloly commented on #31
#### [重磅消息！Kotlin要支持iOS开发和Web开发了！](https://mp.weixin.qq.com/s?__biz=MzA3ODg4MDk0Ng==&mid=2651113865&idx=1&sn=6a2153fc5eb16c7d2c31e05c83dd6e7a&chksm=844c6054b33be9428fa788a2a2df33c98303131360a68548c67fafe44f63bf11cb2acc0aa57d&mpshare=1&scene=23&srcid=1104By2P97WkjzPC2Opt4lc2#rd)
"主题演讲当中提出的第一项重要公告，正是 Kotlin 1.2 候选发行版（简称 RC）的公布。此版本中囊括一系列新功能，包括对多个多平台项目的实验性支持、允许开发者在针对 JVM 与 JavaScript 的模块之间进行代码共享，同时涉及多

[2017-11-06 12:08] #31 closed, assigned to nobody

[2017-11-06 12:09] stoneyong opened #32 "2017-11-13"
周刊推荐

#### [WEB请求处理二：Nginx请求反向代理](http://www.jianshu.com/p/bed000e1830b)
文章阐述了请求到达反向代理服务器的整个处理过程， 包括反向代理的原理，工作流程，以及Nginx常用配置详细解析。

#### [Preact：一个备胎的自我修养](https://zhuanlan.zhihu.com/p/30796007)
本文着重作者介绍了Preact的工作流程以及其中各个模块的一些工作细节，对于不熟悉 Preact 同学来说是个很好的入门篇， 对于Preact的工作流程和 主要功能模块都有自己的详细解说， 也可以和React 对比学习。

#### [面向未来的前端数据流框架 - dob](https://github.com/ascoders/blog/issues/22)
在前端数据流框架， dob 利用 proxy 实

[2017-11-09 12:50] StevenX911 commented on #32
####  [Webpack HMR 原理解析](https://zhuanlan.zhihu.com/p/30669007)
Hot Module Replacement（以下简称 HMR）是 webpack 发展至今引入的最令人兴奋的特性之一 ，当你对代码进行修改并保存后，webpack 将对代码重新打包，并将新的模块发送到浏览器端，浏览器通过新的模块替换老的模块，这样在不刷新浏览器的前提下就能够对应用进行更新。

#### [使用 CSS Houdini 绘制平滑圆角](https://jhuang.me/2017/11/07/%E4%BD%BF%E7%94%A8-CSS-Houdini-%E7%BB%98%E5%88%B6%E5%B9%B3%E6%BB%91%E5%9C%86%E8%A7%92/)
Houdini API 定义了一种新的在浏览器的渲染阶段往 CSS 图像中添加内容的

[2017-11-10 07:52] mirreal commented on #32
#### [魔幻语言 JavaScript 系列之 call、bind 以及上下文](https://zhuanlan.zhihu.com/p/30902765)

从一行代码来看看 JavaScript 是一门多么魔幻的语言，顺便谈谈 JavaScript 中的 call、apply 和 bind 以及上下文。

#### [Node.js Best Practices](https://github.com/i0natan/nodebestpractices)

一个收集 Node.JS 最佳实践文章列表的项目，从排名最前的文章中挑选出来并保持随时更新。

#### [利用 JavaScript 实现富文本编辑器](http://eux.baidu.com/blog/2017/11/%E5%88%A9%E7%94%A8-javascript-%E5%AE%9E%E7%8E%B0%E5%

[2017-11-10 14:29] CurtisCBS commented on #32
#### [腾讯QQ空间超分辨率技术TSR：为用户节省3/4流量，处理效果和速度超谷歌RAISR](https://www.leiphone.com/news/201710/c0GICjRacVyzHKIM.html)

TSR技术在RAISR的标准下，处理速度在提升了40%，处理效果也有明显提升。此外，TSR也是业界首次实现移动端使用深度神经网络进行超分辨率，并保证图片能够实时进行处理。即使在用户的普通Andriod手机，也可以使用这项技术。

#### [如何打造一个全满分网站](https://segmentfault.com/a/1190000011867361)

前端的评测工具（平台）有很多种，这里列举了一些，以及如何针对评测工具反馈的各项指标进行优化。值得一提的是PWA的对应指标也在名单里。

#### [在线追踪压缩后的JS出错代码](https://zhuanlan.zh

[2017-11-11 11:31] sturloly commented on #32
#### [决战双11：亿级访问量的Web前端页面优化技巧](https://www.toutiao.com/a6486787524172710414/?tt_from=mobile_qq&utm_campaign=client_share&app=news_article&utm_source=mobile_qq&iid=17386646174&utm_medium=toutiao_ios)

”我们都知道一次页面请求需要加载很多东西，包括文本、css样式、javascrict脚本、图片，加载的东西越多，页面的响应时间往往越长，体验就很不好。这就需要我们进行优化，提高页面响应速度。“

#### [iPhone X、8、8Plus界面显示对比，差距有多大](https://www.toutiao.com/a6486692717093978638/?tt_from=mobile_qq&ut

[2017-11-12 07:55] StevenX911 opened #33 "2017-11-20"
#### [一篇改变互联网发展进程的论文 | Dynamo](https://zhuanlan.zhihu.com/p/31147149)
在最近结束的操作系统顶级学术会议 SOSP2017 上，Amazon 十年前发表的 Dynamo 论文《Dynamo: Amazon's Highly Available Key-value Store》喜获 SIGOPS 名人堂奖（Hall of Fame Award, HoF）！

#### [10个步骤让你成为高效的Web开发者](https://zhuanlan.zhihu.com/p/31143430)
下面是10个提高效率的步骤，虽然不能保证解决你在开发中的所有问题，但至少是非常实用的，可以简化你的Web开发流程，使开发的每一个环节快速、流畅。还可以帮助你节省大量的时间，以便开发更多、更好的项目

#### [JavaScript 循环：如

[2017-11-13 02:40] #32 closed, assigned to stoneyong

[2017-11-17 09:12] mirreal commented on #33
#### [The Cost Of JavaScript](https://medium.com/dev-channel/the-cost-of-javascript-84009f51e99e)

在现代站点越来越依赖于 JavaScript 时，了解应用在哪些地方消耗的资源就变得尤为重要。这篇文章主要介绍在网络传输和 JavaScript 解析上的成本，以及为什么一些规则可以帮助网站在移动设备上快速加载和响应。

#### [Introducing the New Firefox: Firefox Quantum](https://blog.mozilla.org/blog/2017/11/14/introducing-firefox-quantum/)

FireFox 发布重大更新，“新版本建立在一个全新的的引擎 Quantum 之上，速度是 6 个月前的两倍”。[这篇文章](htt

[2017-11-17 10:13] Jade05 commented on #33
[教你从零开始搭建一款前端脚手架工具](https://segmentfault.com/a/1190000006190814)

在实际的开发过程中，从零开始建立项目的结构是一件让人头疼的事情，所以各种各样的脚手架工具应运而生。本文从零开始搭建一款属于我们自己的脚手架工具吧！

[体验，不只是用户的！Ant Design 在蚂蚁中台的应用](https://zhuanlan.zhihu.com/p/26846739)

对于 UI/UX ，中台/企业级服务就像是冰山不曾裸露的一角，就像是用户体验不曾到达的处女地。关键词：中台、Ant Design、antd、互联网金融、设计者、UCAN 。本文将分为 5 个部分为你展开：A.背景阐述；B.解决思路；C.具体做法；D.总结和展望；E.相关材料。预计阅读时间 10 分钟。

[How to get up to 3500+ GitHub sta

[2017-11-17 11:30] CurtisCBS commented on #33
#### [什么是React Call Return?](https://zhuanlan.zhihu.com/p/30915829)

React v16.1.0带来了React Call Return特性，关于父组件渲染触发子组件渲染时，父组件依赖子组件属性的问题。值得一提的是，该特性并未加到React中，而是作为单独依赖包。

#### [AI 洞察一切，你的编程能力排第几？](https://juejin.im/post/5a028117f265da43176990bf?utm_source=gold_browser_extension)

"Coding"通过大数据和机器学习对于开发工程师的"码力值"进行评测，想通过该雷达图衡量程序员的综合职业素质

#### [How to use SVG as a Placeholder, and Other Image Loading Te

[2017-11-17 11:39] stoneyong commented on #33
#### [Git飞行规则(Flight Rules)](https://github.com/k88hudson/git-flight-rules/blob/master/README_zh-cn.md)
Git 命令操作的系列知识整理，很多操作命令解释的很详细， 回顾温习一下，当碰到棘手的操作可以很清楚的使用命令。

#### [XSS过滤绕过速查表](http://www.freebuf.com/articles/web/153055.html?utm_source=tuicool&utm_medium=referral)
本篇文章的主要目的是给专业安全测试人员提供一份跨站脚本漏洞检测指南。 可以作为 XXS的备忘录使用，列举了很多短小简单的参考给开发者， 以便帮助他们预防 XSS漏洞， 还可以帮助我们了解到关于绕过过滤器方法之间细微差别。

#### [Node.js 新计划：使用

[2017-11-20 02:11] Jade05 opened #34 "2017-11-27"

[2017-11-20 07:37] #33 closed, assigned to StevenX911

[2017-11-21 05:48] CurtisCBS commented on #34
@Gyingguo 日期错了，是11-27

[2017-11-24 05:36] CurtisCBS commented on #34
#### [Google Mobile Web Specialist 檢定攻略](https://blog.yfxie.com/google-mobile-web-specialist-certification/)
[Mobile Web Specialist Certification](https://developers.google.com/training/certification/mobile-web-specialist/) 是 Google 近期推出的一项认证， 用以认证开发者的移动网页开发技能。

#### [短网址(short URL)系统的原理及其实现](https://segmentfault.com/a/1190000012088345?utm_source=tuicool&utm_medium=referral)
一个短链接生成器（普通网址转换成比较短的网址

[2017-11-24 10:07] mirreal commented on #34
#### [Clean Code vs. Dirty Code: React Best Practices](http://americanexpress.io/clean-code-dirty-code/)

本文重点介绍适用于现代 React 软件开发的整洁代码实践，以及使用 ES5+ 的语法糖带来的一些变化。

#### [浅谈微服务基建的逻辑](http://insights.thoughtworks.cn/infrastructure-of-microservices/)

这篇文章主要是面向初接触微服务的朋友，简单介绍微服务基础建设所需要的各个模块以及缘由。

#### [I Still Love jQuery — And You Should, Too.](https://hackernoon.com/i-still-love-jquery-and-you-should-to

[2017-11-24 11:18] Jade05 commented on #34
#### [PWA是否能带来新一轮大前端技术洗牌](http://mp.weixin.qq.com/s?__biz=MzIwNjQwMzUwMQ==&mid=2247485600&idx=1&sn=12e229c90cc08e8f14dcc1ae7f27abd6&chksm=97236a62a054e3745bad8b009f46346196cc8b0cd97d3e94636b0bd08b10edd1cee0d2c5df67&mpshare=1&scene=1&srcid=1122IjnhSHx31HyCygkfGvCn#rd)

当 Web 自信满满，步入移动时代之时，它还没有做好充足的准备。

#### [web app 一分钟适配iPhone X](https://www.qianduan.net/web-app-adapter-iphone-x/)

因为 iPhone X 的刘海

[2017-11-24 12:33] stoneyong commented on #34
#### [漫画：什么是ConcurrentHashMap？](http://mp.weixin.qq.com/s/Omxzq_cjwfxfFFn7e_40sA)
本篇漫画中简述了 ConcurrentHashMap 和 HashMap 的区别，以及其实现原理和用处。

#### [直击阿里双11神秘技术：PB级大规模文件分发系统“蜻蜓”](https://mp.weixin.qq.com/s?__biz=MzIzOTU0NTQ0MA==&mid=2247486322&idx=1&sn=b1ee041f8273998ea09aa271aa583132)
文章主要介绍了阿里的PB级大规模文件分发系统“蜻蜓”， 通过使用P2P技术同时结合智能压缩、智能流控等多种创新技术，解决大规模文件下载以及跨网络隔离等场景下各种文件分发难题，大幅提高数据预热、大规模容器镜像分发等业务能力。而且已开源出来，

[2017-11-24 15:50] StevenX911 commented on #34
#### [PWA 是否能弥补Web 劣势，带来新一轮大前端技术洗牌？](https://zhuanlan.zhihu.com/p/31373357)
作者是PWA在国内的布道者，不过新一轮洗牌说的着实有点夸张，个人感觉PWA只是一个选择，移动端WEB应用的开发会被最开始流行的浏览器版本所羁绊，市场永远对技术的选择有着最终决定权。

#### [12个效果奇特的HTML5动画赏析 | 附：源码&演示](https://zhuanlan.zhihu.com/p/31340578)
本文将为大家分享12个效果奇特的HTML5动画，HTML5强大的动画特性可以让你的网页变得更加生动和富有活力，交互性也会进一步得到提高。一起来看看下面的这些HTML5动画案例，每个案例都提供源代码下载。

#### [《Node.js设计模式》基于ES2015+的异步控制流](https://zhuanlan.zh

[2017-11-27 01:25] #34 closed, assigned to Jade05

[2017-11-27 06:45] mirreal opened #35 "2017-12-04"

[2017-11-29 05:40] CurtisCBS commented on #35
#### [A Look at Dynamic 'import()'](https://developers.google.com/web/updates/2017/11/dynamic-import)

Chrome 63版本支持动态import ES6 modules，对比九月Chrome 61支持的静态import，动态import会返回请求模块命名空间的Promise对象以供使用

#### [我为什么从Redux迁移到了Mobx](https://juejin.im/post/5a1e25ad5188253d681756a5?utm_source=gold_browser_extension)

Redux是一个数据管理层，被广泛用于管理复杂应用的数据。但是实际使用中，Redux的表现差强人意，可以说是不好用。而同时，社区也出现了一些数据管理的方案，Mobx就是其中之一。

##

[2017-11-29 08:50] elevenbeans commented on #35
#### [【译】注释的艺术 by @elevenbeans](http://elevenbeans.github.io/2017/11/24/art-of-comments/)

[2017-12-01 13:16] Jade05 commented on #35
#### [开发更好用的JavaScript模块](https://zhuanlan.zhihu.com/p/31499310?utm_medium=social&utm_source=wechat_session)
不少人都曾经在 npm 上发布过自己开发的 JavaScript 模块，而在使用一些模块的过程中，我经常产生“这个模块很有用，但如果能 xxx 就更好了”的想法。所以，本文将站在模块使用者的角度总结一下，如何能让模块变得更好用。

#### [AntV3.0—三生万物](https://antv.alipay.com/zh-cn/vis/blog/antv-3.0-releasing.html)
AntV 是蚂蚁金服全新一代数据可视化解决方案，主要包含「数据驱动的高交互可视化图形语法」G2、专注解决流程与关系分析的图表库 G6、适于对性能、体积、扩展性要求严苛场景下使用的移动

[2017-12-01 15:39] mirreal commented on #35
#### [React 整洁代码最佳实践](https://zhuanlan.zhihu.com/p/31615844)

作为开发人员不能仅仅满足于代码可以工作，而应该让代码更易于编写，阅读和维护，这篇文章介绍了很多 clean code 在 React 应用开发上的最佳实践。

#### [计算机视觉这一年：这是最全的一份CV技术报告](https://www.jiqizhixin.com/articles/2017-11-26-2)

The M Tank 编辑了一份报告《A Year in Computer Vision》，记录了 2016 至 2017 年计算机视觉领域的研究成果，对开发者和研究人员来说是不可多得的一份详细材料。[完整 PDF 地址](http://www.themtank.org/pdfs/AYearofComputerVisionPDF.pdf)

####

[2017-12-01 17:22] StevenX911 commented on #35
先别关，开半夜的车，醒来弄

[2017-12-02 02:09] mirreal commented on #35
@elevenbeans 发布到 ELSE 专栏，就有机会赢取大奖

[2017-12-02 02:39] StevenX911 commented on #35
#### [JavaScript 终于成了一流语言](https://zhuanlan.zhihu.com/p/31575218)
编程语言到底有没有生产力之分呢，当然是有的，尤其对于初中级选手。功夫到了绝顶，拈花飞叶皆是武功，工具就不重要了。但能到绝顶的，毕竟是少数，所以对大多数人来说，工具和编程语言的选择同样重要。

#### [事件驱动与协程：基本概念介绍](https://zhuanlan.zhihu.com/p/31410589)
协程是近几年非常流行而且被各种大厂所使用的微线程技术，比较好笑的是，他的概念出自上个世纪。因此，对于计算机历史有了解的同学，一定会听说过。
那么，为什么直到现在，协程才开始流行开来？协程又是个什么鬼东东？他解决了啥问题？今天我们就进行一趟深入浅出的讲解。

#### [Express 性能调优](https://zhuanlan.zhihu.com/p

[2017-12-02 08:36] elevenbeans commented on #35
@mirreal, 每次用知乎编辑器就很痛苦

[2017-12-02 10:14] stoneyong commented on #35
#### [常见的JavaScript内存泄露](https://github.com/zhansingsong/js-leakage-patterns)
本文主要介绍了几种常见的内存泄露， 有意外的全局变量、console.log、闭包、DOM泄露、timers、EventListener等方面，而且都给出了相应的demo演示和解决方案，很详细，可以让我们在coding时规避这些问题。

#### [使用 ClojureScript 开发浏览器插件的过程与收获](http://liujiacai.net/blog/2017/11/22/create-firefox-chrome-extensions-in-clojurescript/?hmsr=toutiao.io&utm_medium=toutiao.io&utm_source=toutiao.io)
初次认识 ClojureScri

[2017-12-02 13:59] #35 closed, assigned to mirreal

[2017-12-04 02:10] CurtisCBS opened #36 "2017-12-11"

[2017-12-08 05:02] StevenX911 commented on #36
好清冷。。。

[2017-12-08 05:13] StevenX911 commented on #36
#### [如何从性能方面选择for，map和forEach？](https://www.zhihu.com/question/263645361/answer/271917900)
这是非常好的问题，在编程中我们经常使用循环，可是循环的方式却有很多种，我们应该基于什么样的理由去选择适合的呢？本问题上的一问一答可以给我们一些思路。

[2017-12-08 05:25] StevenX911 commented on #36
#### [看过这篇文章以后不要再提this](https://zhuanlan.zhihu.com/p/31823164)
本文讲解了 this 在各个场景下表示什么值，讲解了 call、apply、bind、箭头函数对 this 的影响

[2017-12-08 12:11] mirreal commented on #36
#### [JavaScript 的机器学习指南](https://www.jiqizhixin.com/articles/2017-12-06-3)

听说你用 JavaScript 写代码？本文是你的机器学习指南，来自德国的 Robin Wieruch 发布的一系列使用 JavaScript 构建机器学习的教程。

#### [Lint the Web Forward With Sonarwhal](https://24ways.org/2017/lint-the-web-forward-with-sonarwhal/)

[Sonarwhal](https://github.com/sonarwhal/sonarwhal) Microsoft Edge 团队开发的一款开源网站检查工具，包含在线站点和命令行工具。可以对可访问性，操作性，安全性，性能以及 PWA 等方面进行检查，看是否符

[2017-12-08 13:45] Jade05 commented on #36
#### [PWA之Workbox缓存策略分析](https://juejin.im/post/5a28e6ea51882558513296b4?from=groupmessage&isappinstalled=0)

本文主要分析通过workbox(基于1.x和2.x版本，未来3.x版本会有新的结构)生成Service-Worker的缓存策略，workbox是GoogleChrome团队对原来sw-precache和sw-toolbox的封装，并且提供了Webpack和Gulp插件方便开发者快速生成sw.js文件。

#### [如何用人类的方式进行Code Review（二)](https://juejin.im/post/5a24ed34518825619a028484)

关于如何在 Code review 中进行良好的沟通，避免陷入一些潜在的陷阱。这里，我会着重于介绍一些技巧，让

[2017-12-09 05:38] stoneyong commented on #36
#### [React Fiber初探](http://blog.codingplayboy.com/2017/12/02/react_fiber/)
React 16版本版本中处了包含Portal，异常边界等新特性外， 最重要的是重写了调和算法--Fiber， 推出了新的调和器--Fiber Reconciler， 来负责管理组件实例的更新，渲染任务及与其他fiber实例的联系。 本文博主通过自己的学习简单的讲述了对Fiber架构实现和源码， 可以帮助我们很好的理解它。

#### [[译]JavaScript 的时间消耗](https://github.com/dwqs/blog/issues/59)

译文中图文并茂的阐述了执行  JavaScript 代码的时间消耗地方， 了解到 消耗的地方，才能更好的优化项目，提高页面交互响应的速度。

#### [JavaScript 性能优化

[2017-12-09 13:25] StevenX911 commented on #36
#### [Ant Design 3.0 驾到](https://juejin.im/post/5a28aab66fb9a0450a673c5e)
直接看AD中文更新日志：[Update](https://ant.design/changelog-cn)

[2017-12-10 13:25] CurtisCBS commented on #36
#### [Angular 5.1 & More Now Available](https://blog.angular.io/angular-5-1-more-now-available-27d372f5eb4e)

Angular发布5.1版本，同时发布了Angular CLI 1.6版本以及首个稳定版本的Angular Material。CLI支持了Service Worker，以及带来对AppShell更好的支持

#### [React Performance Fixes on Airbnb Listing Pages](https://medium.com/airbnb-engineering/recent-web-performance-fixes-on-airbnb-listing-pages-6cd8d93df6f4)

Airbnb在Listing Page对React

[2017-12-10 15:30] CurtisCBS commented on #36
@stoneyong  [译]JavaScript 的时间消耗，这篇原文好像谁发过了。

[2017-12-11 07:08] #36 closed, assigned to CurtisCBS

[2017-12-12 06:10] stoneyong opened #37 "2017-12-18"
周刊推荐

[2017-12-14 05:17] CurtisCBS commented on #37
#### [Evolution of <img>: Gif without the GIF](https://calendar.perfplanet.com/2017/animated-gif-without-the-gif/#having-our-cake-and-eating-it-too)

GIF图很棒，但是有很可怕的性能问题，使得它让人又爱又恨。现在，Safari Technology Preview支持img标签video文件的支持，能体验到GIF一样的效果，而又不会带来性能问题。

#### [他们写的代码能上天！NASA的10条安全编码准则大公开](https://mp.weixin.qq.com/s/l-_d3e_cG-0JN8mDgHsCsg)

NASA的10条代码编写规范准则

#### [Javascript and Functional Programming 

[2017-12-14 12:29] mirreal commented on #37
#### [Clearing cache in the browser](https://calendar.perfplanet.com/2017/clearing-cache-in-the-browser/)

在浏览器中缓存资源是提高前端性能的常见方式，但是在某个时候，开发者却期望在缓存过期之前，使缓存对象无效，这篇万丈介绍了清除浏览区缓存的六种方式

#### [Retina 屏幕下两倍图](http://insights.thoughtworks.cn/css-retina-image/)

关于物理像素、CSS 像素（DIPS）、图片大小的科普，以及简单的适配方案。

#### [从黑客到创业，他说技术创业该这么做](https://mp.weixin.qq.com/s?__biz=MjM5MDE0Mjc4MA==&mid=2650999741&idx=1&sn=10330cd5

[2017-12-15 11:38] Jade05 commented on #37
#### [彻底解决Webpack打包性能问题](https://zhuanlan.zhihu.com/p/21748318)

react 加上 react-router、material-ui、superagent、eventproxy 这些第三方轮子一共有好几百个 module，Webpack 的打包速度极慢。这对于开发是非常不好的体验，同时效率也极低。
(在自己项目中进行了实践，提取外部包能够让浏览器缓存发挥作用， 但对于单入口页面来说意义不大，只有在本地开发的时候有明显的减少编译的作用，在实际生产环境中还多了个http请求，额外的http请求消耗和浏览器缓存起到的正向作用到底哪个大，还要视具体页面而定)

#### [happypack 原理解析](http://taobaofed.org/blog/2016/12/08/happypack-source-code-analysi

[2017-12-16 05:07] StevenX911 commented on #37
#### [web知识进阶——字符编解码](https://juejin.im/post/5a3352196fb9a0450671abe3)
本文介绍了字符集以及字符编码与解码

[2017-12-16 05:13] StevenX911 commented on #37
#### [这一次，彻底弄懂 JavaScript 执行机制](https://juejin.im/post/59e85eebf265da430d571f89)
本文的目的就是要保证你彻底弄懂javascript的执行机制，如果读完本文还不懂，可以揍我。

[2017-12-16 11:52] StevenX911 commented on #37
#### [工具 | 创业公司绝对不会告诉你他们在用的工具们（合集）](https://juejin.im/post/5a2df418f265da43294dfe3a)
本期从灵感到设计，从运营到建站，从资讯到流量分析，从招聘到办公空间，给大家带来最全面、最提升效率的创业者工具合集。

[2017-12-17 13:06] stoneyong commented on #37
#### [webassembly 入门](https://www.villainhr.com/page/2017/12/10/webassembly%20%E5%85%A5%E9%97%A8?utm_source=tuicool&utm_medium=referral)

对于WebAssembly 字节码技术最新的浏览器已经支持了， 面对 AI 时代它很可能成为web 运行高负载运算的技术， 像VR/AR，机器视觉，图像处理等。 本文简述了WebAssembly的 基本概念、拉去编译、WASM 文本、Memory 调用等功能方面的使用， 是一篇不错的入门博客。

#### [Node.js 中遇到含空格 URL 的神奇“Bug”——小范围深入 HTTP 协议](https://zhuanlan.zhihu.com/p/31966196)

本文阐述了博主遇到含空格 URL请求，Node

[2017-12-18 14:25] StevenX911 opened #38 "2017-12-25"
圣诞特别版

[2017-12-19 02:15] CurtisCBS commented on #38
#### [小tip: 了解LinearRGB和sRGB以及使用JS相互转换](http://www.zhangxinxu.com/wordpress/2017/12/linear-rgb-srgb-js-convert/)

人类直觉判断遵循眼见为实，如果我们的显示器设备，全部都是按照LinearRGB来渲染，则会和我们真实世界看到的颜色有差异。这个问题在以前是非常严重的，老的显示器这种物理器件显示颜色是线性的，纯白纯黑，然后线性调节亮度颜色就出来的。但人的真实视觉确实非线性的，这就导致电脑看到一张服装图片是这样子的，结果现实世界买回来是另外一个样子。

#### [V8 release v6.4](https://v8project.blogspot.com/2017/12/v8-release-64.html)

V8引擎发布v6.4，在速度和内存优化上又带来了一些提升。对于inst

[2017-12-20 11:29] mirreal commented on #38
#### [从时间旅行的乌托邦，看状态管理的设计误区](https://zhuanlan.zhihu.com/p/32107541)

Redux 的状态管理理念非常优雅，随之附带的时间旅行调试支持也非常酷炫。但这个特性是否是传说中的银弹，又会给使用者带来什么额外的负担呢，本文讨论将时间旅行从调试工具向业务中落地时，可能涉及的一些问题。

#### [现代前端-对视觉和交互的探索](http://dtysky.moe/article/Create-2017_12_17_a)

现在前端圈子的现状是，工程师自己对前端工作的评价与用户对前端工作的评价是脱节的，归因是忘掉前端初心，对视觉和交互的探索。这篇分享主要回顾在前端活动页面上的技术点和感悟，以及对未来发展趋势的展望。

#### [你所不知道的 Typescript 与 Redux 类型优化](https://zhuanlan.zhihu

[2017-12-22 13:11] Jade05 commented on #38
#### [把前端监控做到极致](https://zhuanlan.zhihu.com/p/32262716?utm_medium=social&utm_source=wechat_session&from=singlemessage&isappinstalled=0)

说到监控，大家第一时间想到的肯定是 Zabbix、Nagios 等各种强大的后端监控服务。诚然，这些强大的平台通过采集服务器以及链路上各种中间件的数据，为我们的应用稳定起到了不可或缺的保驾护航作用。
然而在互联网的另一端，运行在用户终端上的代码却缺少这样强大的监控能力。

#### [Web开发这十年](https://mp.weixin.qq.com/s/NS3Hz7Ft7dOh0uMGLsFfhQ)

Web 开发这十年都发生了怎样的变化？

#### [2017 年有哪些互联网技术变得流行，哪些变得过时？](htt

[2017-12-23 07:50] stoneyong commented on #38
#### [解读 JavaScript 之 V8 引擎及优化代码的 5 个技巧](https://www.oschina.net/translate/how-does-javascript-actually-work-part-2?lang=chs&page=1#)
本文深入研究了 Google V8 JavaScript 引擎的内部机制，是如何提升JavaScript 执行的性能的。分别阐述了 V8  5.9 版本之前的使用full-codegen、Crankshaft两个编译器的执行流程 和 5.9 版本之后引入新管道 基于 Ignition（ V8 的解释器）和 TurboFan（ V8 的最新优化编译器）建立的执行流程，以及总结了一些如何编写优化的 JavaScript的技巧。

#### [Developer Experience First —— TWA 的理念与实践](htt

[2017-12-24 23:54] #37 closed, assigned to stoneyong

[2017-12-25 00:02] StevenX911 commented on #38
#### [2017前端技术发展回顾](https://zhuanlan.zhihu.com/p/32119668)
前端领域在 2017 年再次以狂热的节奏向前发展。本篇列出过去的一年中最值得关注的一系列事情。

#### [网站性能优化——DNS预热与合并HTTP请求](https://juejin.im/post/5a390ea1f265da430b7b5e19)
本篇从实践角度介绍了前端优化的两个方式，非常值得每一个前端同学去使用，简单有效。

#### [跨越：迈过成长阶梯的断层](https://juejin.im/post/5a3fa601f265da430406d513)
职业成长就像爬楼，每一个级别就像一个楼层。但到了一定阶段（每个人的阶段不会一样）会发现上面似乎还有几层但却看不见下一层的楼梯了。这就是本文想探讨的，关于成长阶梯的断层。

[2017-12-25 00:27] #38 closed, assigned to StevenX911

[2017-12-25 02:12] Jade05 opened #39 "2018-1-1"
元旦新年版~~~

[2017-12-26 12:39] CurtisCBS commented on #39
#### [Building a Reactjs project with Parceljs](https://blog.vigneshm.com/building-a-reactjs-project-with-parceljs-d88cdd178e50)

目前最快的JavaScript打包工具Parceljs，在不到2周的时间，已经在github上斩获了11k+star，这是一篇教你如何用Parcel来构建React项目的入门文章。

#### [How GitLab switched to Headless Chrome for testing](https://about.gitlab.com/2017/12/19/moving-to-headless-chrome/)

GitLab最近将前端测试从PhantomJS转向headless Chrome.文章详细解释了该团队作出此决

[2017-12-26 13:16] mirreal commented on #39
#### [你写的代码，是别人的噩梦吗？](http://geek.csdn.net/news/detail/248211)

谈的主题是企业应用架构实践，作者分析了造成现在系统异常复杂四大罪魁祸首，可扩展性差 、面向过程、分层不合理、随心所欲，并提出应对之策，最终形成一套高内聚，低耦合，可扩展，易理解的架构体系。

[2017-12-28 13:52] StevenX911 commented on #39
#### [2017年关于JavaScript你需要知道的事情](https://zhuanlan.zhihu.com/p/32298468)
这一年，JavaScript确实发生了很多事情，一起来回顾一下。

[2017-12-28 13:54] StevenX911 commented on #39
#### [React 之无限滚动](https://zhuanlan.zhihu.com/p/32075662)
pwa 在国外也火了几年了。国内虽然暂时还不重视 webapp，但是从 safari 开始支持 pwa，和国内一些公司开始尝试 pwa 的势头看来，pwa 即将会在国内流行。作为强调性能和体验的 pwa 项目中，无线滚动是每个 pwa 项目都需要解决的问题。本文从 twitter 的无线滚动的视角触发，尝试实现了一套具体的无限滚动方案。介于 twitter 的文章中只提到概念没有提到任何代码和具体实现，我会在具体实现上着重说明。

[2017-12-29 04:02] StevenX911 commented on #39
#### [小程序又搞事情，H5 开发的春天来了！](https://zhuanlan.zhihu.com/p/32451197)
就在刚刚，微信官方公布了几个小程序爆炸性的新闻，在 2017 年的年底，这个新闻似乎是在告诉大家，小程序能做的事越来越多，2018 年你再也没法在忽视它。

[2017-12-29 09:50] stoneyong commented on #39
#### [浏览器中的图像识别 API](https://qiutc.me/post/shape-detection-api.html#comment-wrap)
在本篇文章中介绍了 Chrome 中集成的图形识别 API （Shape Detection API），主要提供了三个接口： FaceDetector: 人脸识别、BarcodeDetector: 二维码/条形码 识别、TextDetector: 文本识别；越来越多的底层API 可以在浏览器中直接使用， 对于web 应用来说将更加具有独立性和丰富性。

#### [2017年度盘点：15个最流行的GitHub机器学习项目](https://mp.weixin.qq.com/s/1HqAPV7l5Oi4xKqpN6q5GA)
作者在本文中列出了 2017 年 GitHub 平台上最为热门的知识库，其中包含了学习资料与工具。

##

[2017-12-30 02:45] mirreal commented on #39
#### [现代 JavaScript 中的 AST](https://www.jianshu.com/p/82894a71376e)

这篇文章介绍了 AST 在现代化 JavaScript 项目中的应用，包括 ESLint、Babel、Webpack

#### [图解 WebGL & Three.js工作原理](https://www.cnblogs.com/wanbo/p/6754066.html)

作者使用很多图片介绍了图形学的基本概念，并分析了 three.js 从框架层面都做了什么。

[2018-01-01 01:18] Jade05 commented on #39
#### [技术雷达之「微前端」- 将微服务理念扩展到前端开发](https://zhuanlan.zhihu.com/p/32378432?utm_medium=social&utm_source=wechat_session&from=singlemessage&isappinstalled=0)

在前端，往往由一个前端团队创建并维护一个 Web 应用程序，使用 REST API 从后端服务获取数据。这种方式如果做得好的话，它能够提供优秀的用户体验。但主要的缺点是单页面应用（SPA）不能很好地扩展和部署。在一个大公司里，单前端团队可能成为一个发展瓶颈。随着时间的推移，往往由一个独立团队所开发的前端层越来越难以维护。

#### [Docker说了这么多 最全的一篇在这里](http://mp.weixin.qq.com/s?__biz=MzI4MjE3MTcwNA==&mid=266

[2018-01-01 01:19] #39 closed, assigned to Jade05

[2018-01-02 02:35] mirreal opened #40 "2018-01-08"

[2018-01-03 11:55] StevenX911 commented on #40
#### [Game Off 2017 winners](https://github.com/blog/2483-game-off-2017-winners)
Thousands of game developers from all over the world participated in Game Off, our fifth annual game jam celebrating open source. The theme this year was throwback, and jammers created over 200 games from infinite runners and retro flight simulators to old school Game Boy and LCD Games.
This year, participants rated g

[2018-01-05 07:26] StevenX911 commented on #40
#### [浏览器页面资源加载过程与优化](https://juejin.im/post/5a4ed917f265da3e317df515)
本文介绍浏览器页面资源加载过程，在此基础上提出一些优化方法，并给出浏览器兼容性参考，最后展示各大厂商在前端性能优化上所使用的奇技淫巧，值得参考。

[2018-01-05 07:38] StevenX911 commented on #40
#### [WebSocket：5分钟从入门到精通](https://juejin.im/post/5a4e6a43f265da3e303c4787)
WebSocket的出现，使得浏览器具备了实时双向通信的能力。本文由浅入深，介绍了WebSocket如何建立连接、交换数据的细节，以及数据帧的格式。此外，还简要介绍了针对WebSocket的安全攻击，以及协议是如何抵御类似攻击的。

最后，我想说一句，标题是骗人的，5分钟只能看完第一屏。

[2018-01-05 08:02] StevenX911 commented on #40
#### [从Chrome源码看DNS解析过程](https://zhuanlan.zhihu.com/p/32531969)
本文是一篇实操性很强的技术文，值得一看。总地来说，客户端向域名解析服务器发起查询，然后服务器返回响应。DNS服务器nameservers是在设备接入网络的时候路由器通过DHCP发给设备的，chrome会按照nameservers的顺序发起查询，并将结果缓存，有效时间根据ttl，有效期内两次查询直接使用cache。DNS解析的结果有几种类型，最常见的是A记录和CNAME记录，A记录表示结果是一个IP地址，CNAME表示结果是另外一个域名。

[2018-01-05 12:14] CurtisCBS commented on #40
#### [2018 年最值得关注的 JavaScript 趋势](http://36kr.com/p/5110763.html)

JavaScript渗透的范围越来越广，它能做的事情已经远不止前端开发而已。不久前stateofjs.com刚刚发布了[2017 JavaScript现状报告](https://medium.freecodecamp.org/i-just-asked-23-000-developers-what-they-think-of-javascript-heres-what-i-learned-9a06b61998fa)，现在Ryan Chartrand非常应景地推出了[2018年的JavaScript发展趋势](https://hackernoon.com/the-top-javascript-trends-to-watch-in-2018-a8437dd9442

[2018-01-05 12:20] Jade05 commented on #40
#### [用Node.js写一个跳一跳外挂](https://blog.jedm.cn/jump-game/)
换个方式玩一把跳一跳。

#### [「前端」import、require、export、module.exports 混合详解](https://github.com/ShowJoy-com/showjoy-blog/issues/39)
自从使用了 es6 的模块系统后，各种地方愉快地使用 import export default，但也会在老项目中看到使用commonjs规范的 require module.exports。甚至有时候也会常常看到两者互用的场景。使用没有问题，但其中的关联与区别你真的知道吗？

#### [浏览器页面资源加载过程与优化](https://juejin.im/post/5a4ed917f265da3e317df515)
评价页面性能好坏的核心

[2018-01-05 15:48] mirreal commented on #40
#### [React应用架构设计](http://blog.codingplayboy.com/2017/12/30/react_app_structure/)

本文详细总结从零开始搭建一个 React 项目架构的过程，在项目工程实践都有一定的理解和思考。

#### [深度学习浅析，以及又拍云图片鉴别的实践进阶](https://tech.upyun.com/article/268/tech.html)

本文以又拍云内容识别服务为例，介绍又拍云在深度学习系统中的实践。内容识别基于人工智能、大数据分析而研发的新型信息安全解决方案，能实时处理多媒体内容（图片、视频、直播等），识别色情、广告、暴恐等多种信息。

#### [日志的艺术](http://www.cnblogs.com/xybaby/p/7954610.html)

项目上线之后会有各种各样的日志，比如记录用户的行为、服务器

[2018-01-06 07:04] stoneyong commented on #40
#### [Dubbo 新编程模型之注解驱动](https://segmentfault.com/a/1190000012631436?utm_source=tuicool&utm_medium=referral)
本文主要介绍了 Dubbo 注解驱动在微服务架构的实践， 从 2.5.7 版本开始， 针对 Spring 应用场景（包括 Spring Boot 和 Spring Cloud），新引入注解驱动（Annotation-Driven）、外部化配置（External Configuration）等编程模型。

#### [SSL协议之数据加密过程详解](http://blog.damonare.cn/2017/12/29/SSL%E5%8D%8F%E8%AE%AE%E4%B9%8B%E6%95%B0%E6%8D%AE%E5%8A%A0%E5%AF%86%E8%BF%87%E7%A8%

[2018-01-08 02:36] #40 closed, assigned to mirreal

[2018-01-09 02:11] CurtisCBS opened #41 "2018-01-15"

[2018-01-09 02:15] CurtisCBS commented on #41
#### [How to obfuscate CSS class names with React and Webpack](https://develoger.com/how-to-obfuscate-css-class-names-with-react-and-webpack-20e2b5c49cda)

这是一篇关于如何使用webpack实现混淆css类名的文章，旨在减少打包后的文件体积以及更小的网络传输数据

#### [AMP遭社区抨击，Google回应](https://mp.weixin.qq.com/s/WBOR4eb06KmS4dp9Z5o2WA)

AMP（Accelerated Mobile Pages，加速移动页面）是 Google 为了加快移动端页面呈现速度，提高用户体验的项目，但在使用amp之后强制google.com/amp前缀引起了一些社区的不满

####

[2018-01-12 05:57] Jade05 commented on #41
#### [前端慌不慌？用深度学习自动生成HTML代码](https://mp.weixin.qq.com/s?__biz=MzA3MzI4MjgzMw==&mid=2650736115&idx=1&sn=f09f01e162a82f8778c6fb5fdb127872&chksm=871ac18db06d489bf2936ba7b1ba795bb5d9e97ed5807e12f0a6c8e294f1fd42cff132eb876a&scene=0#rd)

如何用前端页面原型生成对应的代码一直是我们关注的问题，本文作者根据 pix2code 等论文构建了一个强大的前端代码生成模型，并详细解释了如何利用 LSTM 与 CNN 将设计原型编写为 HTML 和 CSS 网站。

#### [你对推荐算法的认知，也许都是错的](https://zhuanlan.zhihu.com/p/32853

[2018-01-12 14:52] mirreal commented on #41
#### [你的 Tree-Shaking 并没什么卵用](https://zhuanlan.zhihu.com/p/32831172)

本文探讨 tree-shaking 在当下的现状，以及研究tree-shaking 依旧举步维艰的原因，并总结当下能提高 tree-shaking 效果的一些手段，不然很多时候根本毫无用处。

#### [40+ 行 JS 代码打造你的 2048 游戏 AI](https://juejin.im/post/5a574b1f51882573450171a9)

使用「蒙特卡洛方法」来打造一个 2048 AI。

#### [浅谈响应式 Web 设计与实现思路](http://blog.codingplayboy.com/2018/01/06/responsive-web-design/)

本文阐述响应式UI设计相关理论基础，包括：屏幕尺寸，物理，设备独

[2018-01-13 02:41] StevenX911 commented on #41
#### [2018前端值得关注的几个趋势](https://juejin.im/post/5a519d305188257327396da5)
2017悄然过去，2018已经来到。人在进步，技术在发展。2018年前端有哪些领域，技术值得关注，哪些技术会兴起，哪些技术会没落。下面就我个人的判断进行一个预测判断，希望能对大家起到一个参考作用！下面提及的技术，只是建议大家关注，也不是建议大家全部的都要学，而是建议大家按需学，自己觉得哪些需要学，对哪些有兴趣就学哪些！如果大家有什么工具，框架，库觉得可以推荐的，欢迎在评论区提点，让大家相互进步，学习！

#### [关于 npm script 我写了本掘金小册，还配了视频](https://zhuanlan.zhihu.com/p/32828634)
不夸张的说，这可能是目前社区中最完整的把 npm script 和前端工作流相结合并运用到实际项

[2018-01-13 02:49] StevenX911 commented on #41
#### [写给 Web 开发者的深度学习教程 - 向量化 & 矩阵](https://juejin.im/post/5a5843185188257332018cf4)
数学是深度学习的基础，在开始编程之前先学习如何用程序来实现向量化和矩阵。

[2018-01-13 12:35] stoneyong commented on #41
#### [加速 Webpack](https://www.ibm.com/developerworks/cn/web/wa-lo-expedite-webpack/index.html?ca=drs-&utm_source=tuicool&utm_medium=referral)
Webpack 作为目前最流行的构建工具之一，很多人也会遇到在使用 Webpack 的过程中构建速度慢的问题，本文中总结了提高构建速度的一些技术，主要讲述如何使用 HappyPack、ParallelUglifyPlugin启用多进程并行处理的方式， 以及一些配置项的优化点。

#### [常见 Web 安全攻防总结](https://zoumiaojiang.com/article/common-web-security/)
Web 安全的对于 Web 从业人员来说是一个非常重要的课题， 本篇文章非常详细的分

[2018-01-14 13:48] CurtisCBS commented on #41
@stoneyong 最快的不是[parceljs](https://parceljs.org/)吗

[2018-01-18 02:26] stoneyong commented on #41
@CurtisCBS  目前还没有用过它  O(∩_∩)O~

[2018-01-18 02:26] #41 closed, assigned to CurtisCBS

[2018-01-18 02:27] stoneyong opened #42 "2018-01-22"
#### [ECharts 全新大版本 4.0 正式发布！百度数据可视化实验室成立](https://mp.weixin.qq.com/s?__biz=MzA4MjUyNjY3Nw==&mid=2649587419&idx=1&sn=6b22229e883c031d74b6a719f60e786c&chksm=879db661b0ea3f772078ef19090ae30361c9f0f645d911e262131d60164c20233c1206bcdf32&mpshare=1&scene=1&srcid=0116DoYX9UcvuwuQlsTW0h0o#rd)
百度EFE团队正式发布了旗下知名开源产品 ECharts 的最新大版本 4.0，新版本在产品的性能、功能、易用性等各个方面进行了全面提升。

#### [Facebook内部程序员高效工作PPT分享](https://mp.we

[2018-01-19 02:20] CurtisCBS commented on #42
#### [虽然难用，但12306面临的业务场景复杂度可能是世界之最](https://mp.weixin.qq.com/s?__biz=MjM5MDE0Mjc4MA==&mid=2651000407&idx=1&sn=6aeda43f3f5fea36ed6cb513f306746d)

又一年的春运售票窗口开启，12306 网站系统即将面临又一次全国性的吊打。每一年的春运都是对 12306 的一次大考，抛去盲从和偏见，让我们用工程师的思维重新打量、从业务分析的角度去探讨，12306 的核心模型设计思路和架构设计到底复杂在哪里？

#### [Chrome 终究走上了 IE 6 的老路](https://mp.weixin.qq.com/s/uc5F97WtTJMjuSqp14QUxA)
16 年前，微软凭借 Windows 系统成为 PC 时代的霸主，其后更是借助 IE 6 占据了整个浏

[2018-01-19 02:57] Jade05 commented on #42
#### [Chrome 64 - What's New in DevTools](https://zhuanlan.zhihu.com/p/33082840?iam=e2b97a1b36d1b866bb16c1a94195d119?utm_medium=social&utm_source=wechat_session)

大自然的搬用工~

#### [What’s New in HTML 5.2?](https://bitsofco.de/whats-new-in-html-5-2/)
HTML 5.2新特性和实践。

#### [重磅福利！2017年云栖社区干货资料全部都在这里了！800+份大会PPT、20+技术专题、100+话题](https://zhuanlan.zhihu.com/p/33088480)

2017年云栖社区干货资料。

[2018-01-19 07:33] elevenbeans commented on #42
除了使用 JS 追踪用户，现在有人提出了还可以使用 CSS 进行网页追踪和分析，这种方式更为优雅，更为 简洁，且不好屏蔽，值得尝试一波。

原文：
#### [Webpage tracking only using CSS](https://github.com/jbtronics/CrookedStyleSheets)
翻译：
#### [使用 CSS 追踪用户](https://juejin.im/post/5a61624d6fb9a01c9064f0d1?utm_source=gold_browser_extension)

[2018-01-19 07:34] elevenbeans commented on #42
机票本周的小组分享：

#### [前端布局方式汇总及概念浅析 by elevenbeans](http://elevenbeans.github.io/2018/01/12/front-end-layout-methods/)

[2018-01-20 01:53] StevenX911 commented on #42
#### [Bootstrap 4 正式发布](https://juejin.im/entry/5a613f225188257333661c41)
Want to know more before hitting the docs? Great, let’s dive in!

#### [从零开始一个微信小程序版知乎](https://juejin.im/post/5a61b6a1518825732739af03)
以前工作没直接进行过小程序的开发，最近闲了下来就赶紧学习一下。因为从零开始，所以没有使用任何框架及UI库，记录一下本次开发中踩过的坑吧~

#### [构建安全的 JavaScript 应用](https://juejin.im/entry/5a612caa518825733201adc9)
In this article, I will go through the mos

[2018-01-20 03:55] mirreal commented on #42
#### [在使用 React Native / Redux 开发中，犯过的11个错误](https://mp.weixin.qq.com/s/38y5YnFVurkqHsqe7L_NHw)

在使用 React Native 近一年之后，作者总结了刚开始用 React Native 开发项目时犯过的错误。

#### [从前端技术到体验科技](https://zhuanlan.zhihu.com/p/32782686)

玉伯分享技术与设计融合的重要性，蚂蚁金服体验科技的成长历程。

#### [请停止结对编程](http://insights.thoughtworks.cn/stop-pair-programming/)

从一个真实案例来看运用结对编程可能带来的一些问题

[2018-01-22 05:09] StevenX911 opened #43 "2018-01-29"
#### [苹果官方对PWA支持步伐奇快， iOS 11.3 和 macOS 10.13.4 将默认支持Service Worker](https://juejin.im/post/5a695fb7f265da3e5234b2d6)
至此， PWA is ready on H5.

[2018-01-25 11:12] StevenX911 commented on #43
#### [从浏览器多进程到JS单线程，JS运行机制最全面的一次梳理](https://juejin.im/post/5a6547d0f265da3e283a1df7)
如果看完本文后，还对进程线程傻傻分不清，不清楚浏览器多进程、浏览器内核多线程、JS单线程、JS运行机制的区别。那么请联系作者，他会改的。

[2018-01-26 11:35] mirreal commented on #43
#### [在 Chrome 65+ 使用 CSS Paint API](https://developers.google.com/web/updates/2018/01/paintapi)

我们可以使用 CSS Paint API ，用编程方式生成图像应用到 CSS 属性上。

#### [How We Simplified our Tooling Setup for Node.js Projects](https://medium.com/blogfoster-engineering/how-we-simplified-our-tooling-setup-for-node-js-projects-80b423293b2c)

为 Node 应用程序创建类似于 create-react-app 的脚手架。

#### [如何做一个听话的 “输入框”](https://zhuanlan

[2018-01-26 11:37] #42 closed, assigned to stoneyong

[2018-01-26 11:59] Jade05 commented on #43
#### [如何用语文知识改善代码可读性](https://juejin.im/post/5a1fcd8f518825592c07e326)

大师所编写的代码与其说是给计算机看倒不如说是给人看的。真正的大师级程序员所编写的代码是十分清晰易懂的，而且他们注意建立有关文档。

——《代码大全》

#### [Webpack 热更新实现原理分析](https://zhuanlan.zhihu.com/p/30623057)

在使用 Webpack 构建开发期时，Webpack 提供热更新功能为开发带来良好的体验和开发效率，那热更新机制是怎么实现的呢？

#### [2017年谷歌做了哪些好设计？](https://mp.weixin.qq.com/s?__biz=MzAwODY4OTk2Mg==&mid=2652045673&idx=1&sn=2fad449a34b380acb93552ad

[2018-01-27 13:46] stoneyong commented on #43
#### [2018 前端性能优化清单](https://github.com/xitu/gold-miner/blob/master/TODO/front-end-performance-checklist-2018-1.md)
文章阐述了 前端性能优化点， 从优化从何入手，明确可优化的目标，到可优化的点， 以及技术的使用都有很好的讲解。

#### [时间的回报](http://insights.thoughtworks.cn/revere-time/?hmsr=toutiao.io&utm_medium=toutiao.io&utm_source=toutiao.io)
文章讲了三个跟时间相关的系统回路定律，时间的回报有可能是正向也可能负向，更可能会加速。

#### [React Router 4 简介及其背后的路由哲学](https://github.com/rccoder/bl

[2018-01-27 19:46] CurtisCBS commented on #43
#### [从2.4万篇文章中挑出的最棒的 JavaScript 学习指南（2018版）](https://zhuanlan.zhihu.com/p/33298555)

原文作者研究了近2.4万篇 JavaScript 文章得出这篇总结，全文包含学习指南、新人上手、Webpack、性能、基础概念、函数式编程、面试、教程案例、Async Await、并发、V8、机器学习、数据可视化、调试、单元测试等章节，非常适合用于对自己 JavaScript 技术栈的比对，用于查漏补缺

#### [Webpack 4 Beta: Happier, Faster, More Productive..](https://medium.com/webpack/webpack-4-beta-try-it-today-6b1d27d7d7e2)

Webpack 4 Beta版发布总结，提及了项目贡献者及Web

[2018-01-29 03:55] Jade05 opened #44 "2018-02-05"
#### [webpack 4 测试版 —— 现在让我们先一睹为快吧！](https://juejin.im/post/5a72d569f265da3e3a6e2118)

为了支持数以百万计的功能，用例和需求，它需要一个安全，稳定，可靠和可拓展的基础。只有 webpack 具有无限的可能性。

#### [Lunacy，在 Windows 上也能编辑查看 Sketch 文件](https://sspai.com/post/42926)

作为 macOS 平台杀手锏级别的专业设计软件，Sketch 近些年来几乎已经成了 UI 设计师们的标配。而这就带来了一个比较尴尬的问题，那就是如何在 Windows 电脑上也能查看你的设计师同事丢过来的 Sketch 格式源文件。

#### [Interesting ECMAScript 2017 proposals that weren’t ado

[2018-02-01 11:38] #43 closed, assigned to nobody

[2018-02-01 11:42] Jade05 commented on #44
#### [https://juejin.im/post/5a72d569f265da3e3a6e2118](webpack 4 测试版 —— 现在让我们先一睹为快吧！)

为了支持数以百万计的功能，用例和需求，它需要一个安全，稳定，可靠和可拓展的基础。只有 webpack 具有无限的可能性。

[2018-02-02 14:32] mirreal commented on #44
#### [The building blocks of Web Workers + 5 cases when you should use them](https://blog.sessionstack.com/how-javascript-works-the-building-blocks-of-web-workers-5-cases-when-you-should-use-them-a547c0757f6a)

可能你已经听过很多次 Web Workers ，但了解如何在真实案例中使用吗？这篇文章有答案。

#### [JavaScript 深拷贝性能分析](https://zhuanlan.zhihu.com/p/33489557)

JavaScript 深拷贝的一些奇技淫巧，以及相应的性能分析，也许你并不会喜欢这些方法。

#### [Event Loop的规范和实现](htt

[2018-02-04 03:40] StevenX911 commented on #44
#### [干货：HashMap的工作原理解析](https://juejin.im/post/5a7592f4f265da4e8d42ded2)
HashMap的工作原理是近年来常见的Java面试题。几乎每个Java程序员都知道HashMap，都知道哪里要用HashMap，知道Hashtable和HashMap之间的区别，那么为何这道面试题如此特殊呢？是因为这道题考察的深度很深。这题经常出现在高级或中高级面试中。投资银行更喜欢问这个问题，甚至会要求你实现HashMap来考察你的编程能力。ConcurrentHashMap和其它同步集合的引入让这道题变得更加复杂。让我们开始探索的旅程吧！

#### [（译）React 要出新 Context API 了](https://juejin.im/post/5a75960b5188257a88503498)
第一反应是不是以后可以不用redux

[2018-02-04 04:42] StevenX911 commented on #44
#### [深入nodejs中流(stream)的理解](https://segmentfault.com/a/1190000013122145)
流是一个抽象接口，被Node中很多对象所实现，比如HTTP服务器request和response对象都是流
Node.js 中有四种基本的流类型：
- Readable - 可读的流 (例如 fs.createReadStream()).
- Writable - 可写的流 (例如 fs.createWriteStream()).
- Duplex - 可读写的流 (例如 net.Socket).
- Transform - 在读写过程中可以修改和变换数据的 Duplex 流 (例如 zlib.createDeflate()).

可以通过 require('stream') 加载 Stream 基类。其中包括了 Readable 流、Writ

[2018-02-04 05:39] CurtisCBS commented on #44
#### [ECMAScript 2018: the final feature set](http://2ality.com/2017/02/ecmascript-2018.html)
ECMAScript 2018相关feature都已确认，这篇文章对一些新的特性做了简略介绍及提供详细信息的链接

#### [Debugging JavaScript With A Real Debugger You Did Not Know You Already Have](https://www.smashingmagazine.com/2018/02/javascript-firefox-debugger/)

Firefox JavaScript调试器，旨在推高debug效率，但似乎只是做了chrome很早之前做的事。

#### [JavaScript 正则表达式匹配汉字](https://

[2018-02-04 06:06] stoneyong commented on #44
#### [分布式系统数据层设计模式](https://mp.weixin.qq.com/s/_CBoYbOoVDkFDoEgC0I68Q)
蚂蚁金服分享的 在分布式系统下数据层架构设计的经验， 非常的模块化， 主要讨论了节点级的水平扩展以及容灾能力。

#### [网页图片加载优化方案](https://zhuanlan.zhihu.com/p/33370207)
文章主要从图片加载存在的问题和原因、解决方案两个方面来阐述如何优化图片的加载，保证页面的加载速度。

#### [前端数据流哲学](https://zhuanlan.zhihu.com/p/33382396)
作者对前端几种数据流管理的方式进行了总结和纵向的比较，很好的说明了三种管理模式的设计方式以及各自优势的地方， 读过后相信你应该对数据流的管理模式有个全面的认识。

[2018-02-05 02:25] #44 closed, assigned to Jade05

[2018-02-05 10:59] mirreal opened #45 "2018-02-12"

[2018-02-06 06:50] StevenX911 commented on #45
#### [Using Meta Tags in HTML: Some Basics and Best Practices](https://www.sitepoint.com/meta-tags-html-basics-best-practices/)
本篇讲述了meta标签的基本概念以及最佳实践，面对网络流量巨头的俯瞰，小心翼翼写好meta才是醉吼的。

#### [针对搜索引擎爬虫的欺骗式SSR](https://segmentfault.com/a/1190000013246505)
本文描述一种服务端渲染的思路，挺实用，可以借鉴。

#### [谈谈 react 中的 key](https://juejin.im/post/5a7c04746fb9a063461fe700)
key 是用来帮助 react 识别哪些内容被更改、添加或者删除。key 需要写在用数组渲染出来的元素内部

[2018-02-06 07:25] elevenbeans commented on #45
#### [【译】10 种最常见的 Javascript 错误 by elevenbeans](http://elevenbeans.github.io/2018/02/05/top-10-javascript-errors/)

*“为了回馈我们的开发者社区，我们查看了数千个项目的数据库，发现了 JavaScript 中频度最高的 10 种错误。我们会告诉你什么原因导致了这些错误，以及如何防止这些错误发生。如果你能够避免落入这些 “陷阱”，你将会成为一个更好的开发者。”*

[2018-02-06 11:15] CurtisCBS commented on #45
#### [[译]非常有用的 48 个 JavaScript 代码片段](https://juejin.im/entry/5a791567f265da4e8e7842a2?utm_source=gold_browser_extension)

精心收集了多达 48 个有用的 JavaScript 代码片段，可以让程序员在 30 秒甚至更少的时间内理解这些经常用到的基础算法，

#### [一个关于模板字符串的使用技巧，以及 String.raw() 函数](https://zhuanlan.zhihu.com/p/33679862)

我们经常会需要在 JavaScript 文件中书写 html 或者 css。在这种场景下，使用模板字符串是个很好的方式，这样就不需要进行复杂而丑陋的字符串拼接了,这里介绍了String.raw()如何优雅实现这种问题以及可能遇到的陷阱。

#### [ES6

[2018-02-08 02:20] Jade05 commented on #45
#### [揭秘前端字符的戏精之路](https://mp.weixin.qq.com/s?__biz=MjM5MTA1MjAxMQ==&mid=2651227724&idx=1&sn=0de640c1a8cae680b1dc599b56029ecb)

提起文字，大部分人的脑中，都会定式为规整排列的字符。但是林子大了什么鸟都有，世界上可是存在着6800+种文字，难免会飞出来一些诡异的鸟…

#### [Please Stop Using Local Storage](https://www.rdegges.com/2018/please-stop-using-local-storage/)

Almost every day I stumble across a new website storing sensitive user information in local storage

[2018-02-09 08:55] mirreal commented on #45
#### [下一代状态管理工具 immer 简介及源码解析](https://zhangzhao.name/2018/02/01/immer%20-%20immutable/)

在使用 JavaScript 引用类型的时候，经常会产生一些无法意识到的副作用，所以需要在开发中加入不可变数据类型。immer 是一个很轻量的库，用很小的成本赋以 JS 不可变数据的特性。其中对 es5 getter、setter 和 es6 proxy 的使用技巧，值得仔细阅读。

#### [Https的前世今生](https://mp.weixin.qq.com/s/ci-PVZzzDLq6n_0YWaC_GQ)

用诙谐的故事讲明 HTTPS 原理。

#### [Developing Games with React, Redux, and SVG - Part 1](https://auth0.com

[2018-02-09 13:20] stoneyong commented on #45
#### [解读 JavaScript 之深入探索 WebSockets 和 HTTP/2 ](https://www.oschina.net/translate/how-does-javascript-actually-work-part-5)
对通信协议领域的WebSockets 和 HTTP/2 两个网络协议进行了比较，可以对其差异有个全面的了解， 以及如何在哪些业务中选择使用。
#### [可视化解释压缩算法的工作原理](http://blog.jobbole.com/113505/)
简述了压缩技术以及原理，可以了解到压缩算法是如何对图片和视频等大数据文件的处理的。

#### [ES6 Class Extends 性能分析](https://zhuanlan.zhihu.com/p/33538431)
对ES6 Class 和 Extends  实现继承性能比较， 可以发现ex

[2018-02-10 15:35] #45 closed, assigned to mirreal

[2018-02-11 02:20] CurtisCBS opened #46 "2018-02-26"
#### [JavaScript’s a mess – and that’s a good thing](http://2ality.com/2018/02/js-backward-compatibility.html)

因为向下版本兼容，导致JavaScript这门语言有点乱，但这也许这并不是一件坏事。文章最后还给了几个关于编写简洁代码的建议。

#### [Font-Awesome](https://github.com/FortAwesome/Font-Awesome)

最具标志性的字体库，目前已经迭代到Font Awesome 5

#### [An Overview of JavaScript Testing in 2018](https://medium.com/welldone-software/an-overview-of-javascript-testing-in-2

[2018-02-13 02:49] Jade05 commented on #46
#### [What’s new in React 16.3(.0-alpha)](https://medium.com/@baphemot/whats-new-in-react-16-3-d2c9b7b6193b)

本文对于 React 16.3 版本的新特性的介绍。

#### [Welcoming Progressive Web Apps to Microsoft Edge and Windows 10](https://blogs.windows.com/msedgedev/2018/02/06/welcoming-progressive-web-apps-edge-windows-10/)

Microsoft Edage和Window10也将迎来PWA。

#### [春节假期技术圈都发生了哪些大新闻？](https://mp.weixin.qq.com/s?__biz=Mj

[2018-02-13 10:20] StevenX911 commented on #46
@Jade05 感觉PWA是H5的救星，将开启一个新的时代

[2018-02-22 02:17] Jade05 commented on #46
@StevenX911 是呀，各浏览器支持程度越来越高了

[2018-02-22 11:15] StevenX911 commented on #46
#### [PWA中文文档](https://lavas.baidu.com/pwa/README)
出自百度LAVAS团队，来，我们一起学习PWA!

#### [Workbox](https://developers.google.com/web/tools/workbox/)
Workbox , 是google基于Service Worker推出的一个工具包，使得开发PWA变得更加容易！

#### [Node 定时器详解](http://www.ruanyifeng.com/blog/2018/02/node-event-loop.html)
阮一峰老师的最新力作，分享的挺细致，可以作为中文参考书

[2018-02-23 14:06] mirreal commented on #46
#### [阻碍你使用 GraphQL 的十个问题](http://jerryzou.com/posts/10-questions-about-graphql/)

LeetCode 的 GraphQL 实践经验。

#### [从新的 Context API 看 React 应用设计模式](https://zhuanlan.zhihu.com/p/33925435)

在 React v16.3.0 正式发布引入 Context API，如何合理运用该 API 和 Redux 成了一个问题。在这里介绍一中模式，使用 Context 来做依赖注入，用 Redux 来管理数据流，渐进式地根据业务场景选择 redux-thunk，redux-saga 或 redux-observable 来处理复杂异步情况。

#### [Exploring ES2018 and ES2019](http:/

[2018-02-24 09:41] stoneyong commented on #46
#### [V8 内存浅析](https://zhuanlan.zhihu.com/p/33816534)
本文主要讲述 V8 的内存管理和垃圾回收，使用示例代码结合 Chrome 的开发者工具进行分析，最后介绍了阿里的 node.js 应用服务解决方案 alinode。

#### [ 前端利器，6 款开源 Web 性能优化辅助工具推荐 ](https://my.oschina.net/editorial-story/blog/1622282)
推荐了几款 Web 性能优化辅助工具，帮助我们分析应用的性能。

#### [前端移动端适配总结](https://segmentfault.com/a/1190000011586301)
总结了移动端适配的几个知识点，包括不同屏幕的设备像素比 所带来的的问题，以及手淘团队flexible.js布局、响应式与自适应布局的选择。

[2018-02-26 09:40] #46 closed, assigned to CurtisCBS

[2018-02-26 09:42] stoneyong opened #47 "2018-03-05"
周刊推荐

[2018-02-28 10:05] StevenX911 commented on #47
#### [webpack 4正式发布了](https://medium.com/webpack/webpack-4-released-today-6cdb994702d4)
面对parcel的零配置挑战，webpack这次终于想通了一件事：约定胜于配置！

#### [2018 前端性能优化清单](https://juejin.im/post/5a966bd16fb9a0635172a50a)
我们都知道性能很重要，但是，我们是否真的一直都知道我们性能优化的瓶颈在哪？是代价昂贵的 JavaScript？是 web 字体很慢？还是比较大的图片？或者是渲染速度过于迟缓？tree-shaking（无用代码移除）、scope hoisting（作用域提升）、code-splitting（按需加载）、 intersection observer 以及 clients hints、CSS conta

[2018-03-02 07:05] CurtisCBS commented on #47
#### [腾讯：手Q研发体系与工具实践](https://mp.weixin.qq.com/s/JeBv04N9-D_zFo4ShOyO0Q)

腾讯手Q项目是如何将平台工具进行串联，达到怎样的持续交付效果

#### [小tips: 使用JS检测用户是否安装某font-family字体](http://www.zhangxinxu.com/wordpress/2018/02/js-detect-suppot-font-family/)

根据用户设置的字体将某一个字符绘制在canvas上（fillText()），并提取像素信息（getImageData()），然后和默认字体进行比对，以达到能判断用户是否安装了特定字体

#### [Node.js 调试指南](https://github.com/nswbmw/node-in-debugging)

Node.js 开发的一些调试经验和

[2018-03-02 07:41] Jade05 commented on #47
#### [https连接的前几毫秒发生了什么](https://fed.renren.com/2017/02/03/https/)

https连接的前几毫秒发生了什么。本文将详细介绍https的连接过程。

#### [从Chrome源码看HTTPS](https://zhuanlan.zhihu.com/p/34041372?group_id=951561113607835648)

我在《https连接的前几毫秒发生了什么》详细地介绍了https连接的过程，该篇通过抓包工具分析整个过程，本篇将从Chrome源码的角度着重介绍加密和解密的过程，并补充更多的细节。

#### [端神器：一行命令，React 组件转 Vue 组件！](https://zhuanlan.zhihu.com/p/33928357)

对于react-to-vue工具，转化的是基本的react compone

[2018-03-02 12:04] mirreal commented on #47
#### [分享手淘过年项目中采用到的前端技术](https://www.w3cplus.com/css/taobao-2018-year.html)

手淘过年项目中采用到的部分前端技术以及踩的一些坑。

#### [【译】利用 Webpack 做 web 性能优化](https://jdc.jd.com/archives/212022)

Google 出品的 webpack 优化指南。

#### [从URL开始，定位世界](http://insights.thoughtworks.cn/url-locates-the-world/)

从输入 URL 到页面加载完的过程中都发生了什么事情？

[2018-03-02 12:32] stoneyong commented on #47
#### [关于 Promise 的 9 个提示](https://github.com/xitu/gold-miner/blob/master/TODO/promising-promise-tips.md)
阐述了 关于使用 Promise 的9个建议， 可以帮助我们改善 Promise 之间关系的。

#### [【网络协议】Web协议未来优化指南](https://zhuanlan.zhihu.com/p/33940885)
本文系统地介绍了 TCP、UDP、HTTP1.1、HTTPS（包括最新的 TLS1.3 协议）、SPDY、HTTP2 等协议存在的问题，以及如何在特定的场景下通过网络协议的优化实现访问速度的提升。文章略长，慢慢看来。

#### [Java9 新特性 详解](https://my.oschina.net/u/3209213/blog/1622984)
Java9

[2018-03-06 10:56] StevenX911 opened #48 "2018-03-12"
#### [HTTP/2 服务器推送（Server Push）教程](http://www.ruanyifeng.com/blog/2018/03/http2_server_push.html)
非常深入浅出，让初学者对HTTP/2协议的Server Push有很好的感性认识。

#### [html2image原理简述](https://juejin.im/post/5a9de7eff265da238c3a2bbe)
看到 TJ 大神 star了dom-to-image，也一直很好奇html怎么转 image

那么就翻下源码，看下是如何实现的，其实一共就不到800行代码，还蛮容易读懂的

#### [用Canvas画一只会跟着鼠标走的小狗](https://juejin.im/post/5a97bb3951882555867ecffc)
一步步用canvas来实现，非常适合初学者

[2018-03-08 06:56] elevenbeans opened #49 "AMP && PWA 实践分享"
#### 如题

@StevenX911

有看到我们公共前端这边投入了不少的资源在做 AMP/PWA 的落地。

从掘金随手搬运两篇高 Star 的文章：

+ 大搜车无线团队： [什么是 PWA？](https://juejin.im/post/5a9e8ad5f265da23a40456d4)
+ 饿了么：[饿了么的 PWA 升级实践](https://juejin.im/post/58dba0b3a22b9d00647db6c3)

在条件成熟的时候，我们周刊里面是不是也可以做类似的原创总结文章，或者跨团队的分享等等。

希望会有人认领一下这个 issue  ：）

[2018-03-09 01:51] CurtisCBS commented on #48
#### [全票通过！百度开源项目 ECharts 首进 Apache 孵化器](http://www.oschina.net/news/94005/echarts-joinin-apache-incubator)

近日，全球著名开源社区 Apache 基金会宣布“百度开源的 ECharts 项目全票通过进入 Apache 孵化器”。这是百度第一个进入国际顶级开源社区的项目，也标志着百度开源正式进入开源发展的快车道。

#### [Javascript即将迎来Optional Chaining](https://mp.weixin.qq.com/s/b4KV7kvta0l5gewsGBEYKA)

Optional Chaining 使我们能检查一个对象上面是否存在某属性。其它一些语言有类似的特性。例如C# ，有 Null Conditional 操作符很像提案中的 Optional C

[2018-03-09 02:25] Jade05 commented on #48
#### [CSS攻击：记录用户密码](https://juejin.im/post/5a9defe7f265da2384401617)

简单的CSS代码，甚至不符合图灵完备的语言，但是也能成为一些攻击者的工具，下面简单介绍一下如何使用CSS去记录用户的密码。但是这些CSS脚本会出现在第三方CSS库中，所以使用第三方CSS库也需要谨慎，确保代码安全。

#### [要做软件工程师，而不是前端工程师](https://github.com/lcxfs1991/blog/issues/24)

要同时做好纵向发展和横向发展。

#### [巧用JS位运算](https://zhuanlan.zhihu.com/p/34294099?group_id=954507401202728960)

位运算是低级的运算操作，所以速度往往也是最快的（相对其它运算如加减乘除来说），并且借助位运算的特性还能

[2018-03-09 11:28] #47 closed, assigned to stoneyong

[2018-03-09 12:02] stoneyong commented on #48
#### [Rematch: 重新设计 Redux ](https://zhuanlan.zhihu.com/p/34199586)
 基于组件化、数据驱动的视图框架的崛起，状态管理也备受关注， 起初的Redux的设计被很多人喜爱， 而其 陡峰式的学习曲线 也让人苦恼， 现在作者重新设计Redux， 让我们看看带来了哪些改进的地方。

#### [用Vue.js开发微信小程序：开源框架mpvue解析](https://mp.weixin.qq.com/s/fY3HMV__wiXLF1G2pOCBaA)
mpvue 是一款使用 Vue.js 开发微信小程序的前端框架，初衷是让 Vue.js 的开发者以低成本接入小程序开发，做到代码的低成本迁移和复用。已经在美团点评多个实际业务项目中得到了验证，也已将其开源， 本文可以了解下其框架的设计和实现思路。

#### [经验分享 | JavaScri

[2018-03-09 15:56] mirreal commented on #48
#### [Three Techniques for Performant Custom Font Usage](https://css-tricks.com/three-techniques-performant-custom-font-usage/)

通过减小自定义 Web 字体体积，尽早加载关键字体，以及使用 font-display 属性，来加快自定义 Web 字体的速度。

#### [优雅的提交你的 Git Commit Message](https://zhuanlan.zhihu.com/p/34223150)

借助工具来保障项目 commit message 的规范和格式化

#### [一个数独引发的惨案：零知识证明](https://zhuanlan.zhihu.com/p/34072069)

零知识证明方面写的最好最接地气的科普类的文章，用一个数独的故事解释零

[2018-03-10 01:22] StevenX911 commented on #49
@elevenbeans 目前还在做AMP的落地，后续会做分享

[2018-03-10 13:04] elevenbeans commented on #49
[What Google AMP means for the JavaScript community
](https://molily.de/amp/)

[2018-03-12 01:48] Jade05 opened #50 "2018-03-19"

[2018-03-12 11:58] elevenbeans commented on #50
#### [【译】10 个技巧，让你更专业地使用 console 进行 JS 调试](http://elevenbeans.github.io/2018/03/10/10-Tips-for-JS-Debugging-with-Console/) by @elevenbeans

[2018-03-16 03:13] CurtisCBS commented on #50
#### [从 shuffle 看代码品味](https://www.rayjune.me/2018/03/13/see-code-taste-from-shuffle/)

一个关于数组随机函数shuffle 可以体现出什么代码品味。

#### [我们需要注意的 immutable 操作](https://zhuanlan.zhihu.com/p/34536771?utm_medium=social&utm_source=wechat_session&from=timeline&isappinstalled=0)

immutable 是什么？不变的、一成不变的。在 Javascript 中一般指一个变量在经过一个 function 处理之后，可以保持入参数据不变。

#### [Developing the Star Wars opening crawl in HTML/CSS](h

[2018-03-16 12:53] stoneyong commented on #50
#### [HTTP的连接管理](https://github.com/Pines-Cheng/blog/issues/42)
对于HTTP协议连接管理是很关键的问题， 打开和保持连接在很大程度上影响着网站和 Web 应用程序的性能。本文阐述了几种连接特性和优缺点， 以及如何有效的使用它们。

#### [TypeScript 实践](https://juejin.im/post/5a9c004a6fb9a028b92c9e91)
TypeScript 是有类型定义的 JS 的超集，可以说是为大规模 JS 应用而生的， 在团队协作迭代开发中，对于代码可读性、可维护性、健壮性等方面有着显著的提升， 从而提升整个团队的协作效率， 本文主要分享了 React 体系和 TypeScript 结合使用的经验。

#### [【译】用JavaScript写一个区块链](https://zhuanlan

[2018-03-16 13:42] mirreal commented on #50
#### [提升个人效率从写日志开始](https://www.yejianye.com/2018/03/04/journaling/)

作者分享了一种使用日志来进行时间管理的方式，并介绍设计日志系统的方法，以及写日志的工具。

#### [前端黑魔法之远程控制地址栏](http://www.freebuf.com/articles/web/164711.html)

在使用 target=”_blank“ 可以通过 window.opener 来控制源页面进行攻击，这里提供另一种与 target 有关的钓鱼攻击。

#### [对 Cycle.js 的一些思考](https://zhuanlan.zhihu.com/p/34394256)

本文介绍了 Cycle 对于应用输入/输出的定义，并围绕该定义分析了 Stream 容器的引入对应用开发带来的思路转变，探究了 Cycle 官方模

[2018-03-17 05:02] StevenX911 commented on #50
#### [为什么我从 Google 辞职而为自己工作](https://juejin.im/post/5aa873786fb9a028cc60e7ed)
在过去四年时间里，我在Google担任软件开发工程师。2月1日，我辞职了。因为他们拒绝给我买圣诞礼物。
好吧，其实里面还有更深层次的原因。
PS: 学好技术，然后为自己工作

#### [漫谈计算机编码](https://juejin.im/post/5aa9d7936fb9a028dc40bc27)
可以这么说，所有的乱码都是源于解码方式与编码方式的不一致。就好像我用英文给你写了一封信（我要表达的信息用英文这种方式 [编码] 了），而你只懂中文，你用中文去读信的内容（用中文 [解码]），于是整封信在你看来就是所谓的 [乱码]。其实，所谓的乱码不是什么复杂的问题，仅仅就是解码的方式不同于编码的方式而已，只要换成合适的解码方式就好了。

[2018-03-17 07:24] Jade05 commented on #50
#### [别人家的产品经理：她管理着Facebook 40人团队，参加过北美中国好声音](https://mp.weixin.qq.com/s/L2HjhKLeYk2LacNiqk5-jA)

产品经理和研发工程师的关系经常被大家调侃，可偏偏就有同时受到研发和设计都喜欢的“别人家的产品经理”，沟通协调、对接需求、把控方向面面俱到还有好人缘。有没有人天生就是产品经理？产品经理的工作就是写需求写需求和写需求么？顶级公司的产品经理都是如何锻炼技能，提升思考能力的？别人家的产品经理长啥样？

#### [技术写作指南 - 起](https://zhuanlan.zhihu.com/p/34290382)

这篇指南将会将你如何创建从手册到工作指南的任何内容。我们将帮你避免所有最常见的技术写作陷阱——从不良计划到过时出版。

#### [Web 开发者使用 JavaScript 进行机器学习指南]

[2018-03-19 04:12] #50 closed, assigned to Jade05

[2018-03-19 04:49] mirreal opened #51 "2018-03-26"
#### [从冷战到深度学习：一篇图文并茂的机器翻译史](https://www.jiqizhixin.com/articles/2018-03-16-5)

一篇图文并茂的机器翻译史，从早期的基于规则的机器翻译到如今广泛应用的神经机器翻译，很多科学家都为这一梦想贡献自己的时间和心力。

#### [Elegant patterns in modern JavaScript: Ice Factory](https://medium.freecodecamp.org/elegant-patterns-in-modern-javascript-ice-factory-4161859a0eee)

在 JavaScript 中的 class 只是一种语法糖，使用起来可能不是如你期望那般，在这里介绍一种 Ice Factory 的对象创建模式。

#### [十倍效能提升——Web 基础研发体系的

[2018-03-23 08:55] stoneyong commented on #51
#### [这次没跳票！Java 10正式发布，带来了这些新特性](http://www.infoq.com/cn/news/2018/03/Java-10-new-features)
这是Java 大版本周期变化后的第一个正式发布版本， 让我们了解一下Java 10 带来了哪些新特性。

#### [Vant 1.0 正式发布：轻量、可靠的移动端 Vue 组件库](https://tech.youzan.com/vant-1-release/)
Vant 是有赞前端团队维护的移动端 Vue 组件库，提供了一整套 UI 基础组件和业务组件。

#### [精读《Immer.js》源码](https://zhuanlan.zhihu.com/p/34691516)
了解 mobx 的同学可能会发现，Immer 就是更底层的 Mobx，它将 Mobx 特性发扬光大，得以结合到任何数据流框架，使

[2018-03-23 09:59] CurtisCBS commented on #51
#### [Stack Overflow Developer Survey Results 2018](https://insights.stackoverflow.com/survey/2018/)

TL;DR Stack Overflow 2018开发者调查结果

#### [教程 | 如何成为区块链开发者：速成课！](https://ethfans.org/posts/blockchain-developer-crash-course?hmsr=toutiao.io&utm_medium=toutiao.io&utm_source=toutiao.io)

我们现在正处于“区块链时代”，区块链对我们的未来有着巨大的影响。那么，你应该如何加入“区块链大潮”呢？如果你想成为一名区块链开发者，那么有几个小目标你必须达成。

#### [十倍效能提升——Web 基础研发体系的建立](htt

[2018-03-23 14:59] Jade05 commented on #51
#### [【转载】什么是UTXO？浅谈比特币账户模型](https://mp.weixin.qq.com/s/tKpZF82qZtALKBrbYySzgw)

什么是UTXO？浅谈比特币账户模型

#### [D3 迎来全新版本 5.0 发布](https://hijiangtao.github.io/2018/03/23/D3-5.0-is-out-3/)

在 Web 可视化领域，经过多年的发展，D3 可以算得上是全球最知名的 JavaScript 开源库了，这里都不用加上之一。接下来，我们细细看看 D3 在全新的版本中都有哪些改变。

#### [Loading Third-Party JavaScript](https://developers.google.com/web/fundamentals/performance/optimizing-content-efficienc

[2018-03-24 03:01] StevenX911 commented on #51
#### [阅读源码的三种境界](http://mp.weixin.qq.com/s?__biz=MzIxMjE5MTE1Nw==&mid=2653193470&idx=1&sn=bdcadc73a79c171d53af8f8946625dbf&chksm=8c99f624bbee7f323769b42a4bcf46e1e56c87b0ab98845ef1c53601afaf08de4c232bd25f17&mpshare=1&scene=1&srcid=0322ol9YjXoOFNpUXnxTqxRr#rd)
昨夜西风凋碧树，独上高楼，望尽天涯路，
衣带渐宽终不悔，为伊消得人憔悴。
众里寻他千百度，蓦然回首，那人却在灯火阑珊处。

#### [Stack Overflow 2018 开发者调查报告出炉](https://juejin.im/post/5ab5a9f96fb9a028e01

[2018-03-24 06:21] StevenX911 commented on #51
#### [对标小程序 ? "快应用"开发入门指南](https://juejin.im/post/5ab26a1e6fb9a028b547c675)
读完之后的感觉是，node.js有了新的战场！对前端开发来说无疑是一件非常棒的事情。

[2018-03-25 08:04] #51 closed, assigned to mirreal

[2018-03-26 05:27] CurtisCBS opened #52 "2018-04-01"

[2018-03-29 01:46] #48 closed, assigned to nobody

[2018-03-30 02:53] Jade05 commented on #52
#### [在阿里，我们如何管理代码分支？](https://mp.weixin.qq.com/s?__biz=MjM5MDE0Mjc4MA==&mid=2651006565&idx=1&sn=9a1e9bc53def6eeb9637d79719628d3b&chksm=bdbede368ac95720cec02ced13525c75c335b49b3e9a96c0f3233194734b4ff8b5b88e36933e&mpshare=1&scene=1&srcid=0330HaORmvYMJMQ6kGp3VbJV#rd)

代码分支模式的选择并没有绝对的正确和错误之分，关键是与项目的规模和发布节奏相匹配。

#### [左耳朵耗子：从亚马逊的实践，谈分布式系统的难点](https://mp.weixin.qq.com/s?__biz=MjM5MDE0Mjc4MA==&mid=26510

[2018-03-30 12:41] stoneyong commented on #52
#### [从头实现一个koa框架](https://segmentfault.com/a/1190000014044408)
文章记录了笔者从头开发一个koa框架的过程， 从中也展现了koa最重要的几个概念和原理，相信大家在看完本文之后，会对koa有一个更深入的理解。

#### [Nodejs 如何高效的获取时间戳而不影响性能的？](https://zhuanlan.zhihu.com/p/34889978)
笔者探究了一下 在HTTP RFC明确要求response Header定义Date字段时，Nodejs 如何高效的获取时间戳而不影响性能的问题？  文中涉及到nodejs timer模块的设计和原理， 阅读后可以对 timer模块有个深入的理解。

#### [ES2018 新特征之：正则表达式反向(lookbehind)断言](https://mp.weixin.qq.com

[2018-03-30 15:26] mirreal commented on #52
#### [ES modules: A cartoon deep-dive](https://hacks.mozilla.org/2018/03/es-modules-a-cartoon-deep-dive/)

ES Modules 为 JavaScript 提供了一个官方标准化的模块系统，并且已经逐渐在主流浏览器得到支持。文章通过漫画的方式介绍 ES Modules 解决的问题，以及工作方式等。

#### [Rust 和 Erlang 的对比](http://www.infoq.com/cn/articles/rust-erlang-comparison)

Erlang 和 Rust 在各自的领域都很强大，Erlang 已经算是一门比较古老的语言，可扩展性、并发性、分布和容错方面已经证明很强大。而 Rust 具有自己定义的特性，尽管不能被视为Erlang的替代品，但在同一个项目中混

[2018-03-31 02:55] StevenX911 commented on #52
#### [2018 年了，你还是只会 npm install 吗？](http://myan.im/2018/03/24/you-dont-know-npm/)
nodejs 社区乃至 Web 前端工程化领域发展到今天，作为 node 自带的包管理工具的 npm 已经成为每个前端开发者必备的工具。但是现实状况是，我们很多人对这个nodejs基础设施的使用和了解还停留在: 会用 npm install 这里（一言不合就删除整个 node_modules 目录然后重新 install 这种事你没做过吗？）

#### [API崛起，移动互联网时代企业战略的转变](https://juejin.im/post/5abde6a26fb9a028e0149459)
在未来，所有的功能、数据和服务都应该以API的形式提供出来。基于各种API，我们可以构建很多系统和产品。比如各种类型的APP、微信公众

[2018-04-01 12:46] CurtisCBS commented on #52
#### [源码笔记：Nodejs 如何高效的获取时间戳而不影响性能的？](https://zhuanlan.zhihu.com/p/34889978)
HTTP RFC中，明确要求response Header定义Date字段，Nodejs 如何高效的获取时间戳而不影响性能的？
这个问题涉及到了 nodejs timer 模块的设计和原理、timer 模块的优化、timer 模块的发展历程。

#### [秀几种CSS背景渐变图片transtion过渡效果技巧](http://www.zhangxinxu.com/wordpress/2018/03/background-gradient-transtion/)
background-image 不支持 CSS3 transition，当 CSS3 gradient 渐变作为背景图片存在的时候，直接设置 transition 是不会有过渡

[2018-04-03 02:07] #52 closed, assigned to CurtisCBS

[2018-04-03 04:00] elevenbeans commented on #52
个人对于 Addy Osmani 的著作《Learning JavaScript Design Patterns》中内容的提炼，类似阅读笔记，目的是为了简单快速、又不失全面地了解设计模式的相关概念、特点、分类及其在 Javascript 中的实际产出。

#### [Javascript 中的设计模式（一）：概述](http://elevenbeans.github.io/2018/03/25/javascript-design-patterns-0/)

#### [Javascript 中的设计模式（二）：创建型设计模式](http://elevenbeans.github.io/2018/03/30/javascript-design-patterns-1/)

[2018-04-04 09:59] stoneyong opened #53 "2018-04-09"
周刊推荐

[2018-04-05 05:36] #28 closed, assigned to nobody

[2018-04-05 05:47] StevenX911 commented on #53
#### [Node全栈为前端带来更多可能](http://mp.weixin.qq.com/s?__biz=MzUxMzcxMzE5Ng==&mid=2247488622&idx=1&sn=ace22c286a261645e2c07a7adf90abf9&chksm=f951a12dce26283ba54599d8da75c4a56a137bf7a900e847ccea1b5452ab0ef85f31efd781f5&mpshare=1&scene=1&srcid=0404j2FNOyYVrqfPOy18CO4u#rd)
坚定不移地走Node.js全栈之路。

#### [2018 前端性能检查表](https://juejin.im/post/5ac1d117f265da2396128b9f)
性能不仅仅是一个技术问题：它很重要，而且当把它引入到工作流时，设计决策必须根据其性能影响来决

[2018-04-07 08:28] stoneyong commented on #53
#### [抱歉，学会 Proxy 真的可以为所欲为](https://zhuanlan.zhihu.com/p/35080324)
Proxy 是 JavaScript 2015 的一个新特性，有很多意想不到操作手法。文中就给我们展示它的一些用法， 尽管在低版本浏览器中无法 polyfill， 但在Node.js 还是有不少用武之地的。

#### [JavaScript中的“多继承”](https://zhuanlan.zhihu.com/p/34693209)
文章 简述了“类”与“继承”在 JavaScript 中演变，讨论了“多继承”在实现时需要考虑的问题，并尝试在 JavaScript 中模拟“多继承”，显然这种多继承 方式是不建议使用的，以及 文中提到 “JavaScript 本身就不是面向对象的语言” 的观点 我是不赞成的，既然JavaScript 具备面向对象语言的三大特

[2018-04-08 03:01] CurtisCBS commented on #53
#### [Cool Chrome DevTools tips and tricks you wish you knew already](https://medium.freecodecamp.org/cool-chrome-devtools-tips-and-tricks-you-wish-you-knew-already-f54f65df88d2)

几个你不可不知的超级酷炫的 Chrome DevTools 使用技巧：在发送 ajax 请求时触发断点、在控制台输入多行命令、给指定元素截图

#### [rainbow-vortex](https://www.svgbackgrounds.com/#rainbow-vortex)

为博客设计、赏心悦目的svg背景图

#### [Keep Pixelated Images Pixelated as They Scale](https

[2018-04-08 03:21] mirreal commented on #53
贴一个最初发表的地址吧：http://blog.jobbole.com/80241/

[2018-04-08 10:02] mirreal commented on #53
#### [狼叔：Node全栈为前端带来更多可能](https://mp.weixin.qq.com/s/0-1FcmB_o0Fk9jxAL9e2KA)

这是一篇采访，Node 技术传道者桑世龙（狼叔），为大家解答关于 Node 的问题，以及开发者在日新月异的技术迭代环境中应该如何建立起自己的“大局观”。

#### [金丝雀发布、滚动发布、蓝绿发布到底有什么差别？关键点是什么](https://mp.weixin.qq.com/s/WdCM6cOmjdhAEa6PtviH9A)

本文试图总结当前主流的发布策略，以及他们的优劣，适用性，让开发人员能对现代发布技术有一个更为清晰全面的认识，让大家能够根据自身环境，对发布策略做出正确的选型和实践。

#### [Announcing the Second Edition of "Refactoring"](https://martinfow

[2018-04-08 12:14] Jade05 commented on #53
#### [Introducing the Payment Request API for Apple Pay](https://webkit.org/blog/8182/introducing-the-payment-request-api-for-apple-pay/?from=timeline&isappinstalled=0)

iOS 11.3 Safari支持Apple Pay了。

#### [How JavaScript works: memory management + how to handle 4 common memory leaks](https://blog.sessionstack.com/how-javascript-works-memory-management-how-to-handle-4-common-memory-leaks-3f28b94cfb

[2018-04-09 08:03] RayJune commented on #5
感觉根据项目去一步步深究是一个不错的选择

P.S. 携程笔试的最早，但先收到了 BAT 的面试通知，还在等待携程的笔试改卷中，期待 ing :>

[2018-04-10 13:18] StevenX911 opened #54 "2018-04-16"

[2018-04-13 05:51] elevenbeans commented on #54
#### [An IDE for React.js](https://medium.com/@eveningkid/an-ide-for-react-js-d0fd69052131)

一个新的、专为 React 开发定制的 IDE 简介。
不知道有没有人愿意翻译一下原文 =，=

[Github 地址](https://github.com/eveningkid/reacto)

[2018-04-13 06:45] Jade05 commented on #54
#### [如何评价阿里开源的企业级 Node.js 框架 EggJS？](https://www.zhihu.com/question/50526101)

“egg最核心的东西，其实就是一套约定和规范，这个规范不仅仅是开发目录的约定，还包括了开发过程中，从提案讨论，编码风格，code review等等方面的规范。

其实大家的基础框架用不用egg真的无所谓，最重要是有一套适合团队的约定。”

#### [How to escape async/await hell](https://medium.freecodecamp.org/avoiding-the-async-await-hell-c77a0fb71c4c)

async/await freed us from callback hell, but people have started abusing it — leading

[2018-04-13 11:51] #53 closed, assigned to stoneyong

[2018-04-13 12:35] mirreal commented on #54
#### [魔幻语言 JavaScript 系列之类型转换、宽松相等以及原始值](https://zhuanlan.zhihu.com/p/35566906)

从两个题目来介绍类型转换、宽松相等以及原始值的概念: [1] + [2] – [3] === 9，以及如何让 a == true && a == false 的值为 true，很是体现 JavaScript 的魔幻之处。

#### [从命令式 JavaScript class 到声明函数式的华丽转身](https://zhuanlan.zhihu.com/p/35503164)

通过 8 个步骤，将 EventEmitter 的实现从面相对象的 class 风格转变为声明式函数式风格。

#### [Why you should start a side project ](https://medium.com/ideas-a

[2018-04-13 12:49] stoneyong commented on #54
#### [Javascript 装饰器极速指南](http://www.cnblogs.com/xuanhun/p/8735524.html)
文会对Decorators做详细的讲解，相信你会体验到它给编程带来便利和优雅。

#### [闭包，是真的美](https://github.com/prettyEcho/deep-js/issues/4)
闭包， 对于前端开发人员来说一定很熟悉， 但能完全它讲清楚，还是有不少人难以解释全的，可以像本文作者一样尝试着总结一下加深理解。

#### [工程师如何在工作中提升自己](https://zhuanlan.zhihu.com/p/35608666)
想标题一样，本文主要是笔者作为工程师的一些经验，去思考和汇总学习方法论，绘制出优秀架架构师能力模型 的观点， 如何在工作中提升自己， 做到“一边工作， 一边学习”的分享。

[2018-04-14 05:42] CurtisCBS commented on #54
#### [Bootstrap 4.1 Released](https://blog.getbootstrap.com/2018/04/09/bootstrap-4-1/)

经典UI框架Bootstrap发布4.1版本。

#### [Lazy Loading Images and Video](https://developers.google.com/web/fundamentals/performance/lazy-loading-guidance/images-and-video/?utm_source=CSS-Weekly&utm_campaign=Issue-310&utm_medium=web)

多媒体资源的Lazy Loading是对页面的降低初始页面负载和加载时间的解决方案，对于图片的解决方案能经常看到，而对视频，还需要注意几个属性的设置

#### [Mvvm 前端

[2018-04-14 09:37] StevenX911 commented on #54
#### [能让你开发效率翻倍的 VSCode 插件配置](https://zhuanlan.zhihu.com/p/35661521)

#### [为什么 kubernetes 天然适合微服务](https://zhuanlan.zhihu.com/p/35642088)

#### [深入研究CSS字体度量及CSS 盒子](https://hiyangguo.github.io/2018/04/09/in-depth-study-font-size-line-height-and-vertical-align/)

[2018-04-16 02:15] Jade05 opened #55 "2018-04-23"

[2018-04-20 08:31] CurtisCBS commented on #55
#### [用代码生成Glitch Art风格的抖音字体](https://mp.weixin.qq.com/s/W6BFziTEYD06_0a2Ao6RVw)

故障艺术（GlitchArt）作为一种艺术形式，产生于我们生活中一些十分常见的场景，例如数字设备发生故障的场景，当电视、电脑等设备的软件或硬件出现问题后，可能会造成视频音频播放异常，在视觉上，画面变成破碎、带有缺陷的图像，颜色失真。本文主要是从艺术手法和 JS 前端实现 2 个方面进行梳理，我们可以看到如何用代码来描述艺术手法，达到自动化生成某一风格作品的目的。

#### [VuePress: A Vue-Powered Static Site Generator](https://vuepress.vuejs.org/)

基于Vue的静态网站生成器，享受在用Markdown中使用Vue！

#### [关于PureComp

[2018-04-20 13:19] mirreal commented on #55
#### [前端人工智能？TensorFlow.js 学会游戏通关](https://zhuanlan.zhihu.com/p/35451395)

使用 TensorFlow 开发 AI，来玩隐藏在 Chrome 中的彩蛋游戏  T-Rex Runner 。

#### [驳《我不是很懂 Node.js 社区的 DRY 文化》](https://zhuanlan.zhihu.com/p/35864087)

关于 nodejs 社区的 dry 文化的讨论。

#### [使用localstorage代替cookie实现跨域共享数据](https://zhuanlan.zhihu.com/p/35738376)

在共享 cookie 的场景，通常做法是使用登录中心分发 cookie 状态再进行同步进行解决，这里提供另一种思路，使用 localStorage + postMessage 来

[2018-04-21 01:01] #54 closed, assigned to StevenX911

[2018-04-21 04:24] StevenX911 commented on #55
#### [Webpack基本架构浅析](http://mp.weixin.qq.com/s?__biz=MjM5MTA1MjAxMQ==&mid=2651228430&idx=1&sn=eb1a928d5b850fb4686b3c07be10b7b4&chksm=bd49508a8a3ed99c33e1dae173aeb4e6db9b386b73258ae2583ebea8160a5791480cc2b88ab3&mpshare=1&scene=1&srcid=0421obQTO8RZAUCEfqEJh3Le#rd)
授之以鱼，不如授之以渔。
突破这个瓶颈的关键就是学会深入理解优秀开源库背后的思路。有人可能会说，我用xxx已经很久了，能够熟练使用它解决各种棘手问题，对于它，我已经充分理解了。我想说的是，即便你对于它的使用已经达到了炉火纯青的程度，但是站在使用者角度理解再“深”能有多深呢，

[2018-04-21 04:26] StevenX911 commented on #55
#### [甲骨文要拿 JavaScript 开刀了？](http://mp.weixin.qq.com/s?__biz=MzAxODE2MjM1MA==&mid=2651554009&idx=1&sn=5732f87cb8d2cb96f214bd11af428d05&chksm=80255718b752de0eb4d4fa3433f727791a12f5a8731cd56423181326a6059469642e1e839d4b&mpshare=1&scene=1&srcid=0421CjhbNKkcokHx1kqhVLTL#rd)

原来Javascript商标属于Oracle。

[2018-04-21 05:02] StevenX911 commented on #55
#### [最考验换位思考的一道算法题](https://juejin.im/post/5ad8f6cdf265da0b9d77c0e3)

有两个大于1的整数 x 和 y，甲知道二者的积，乙知道二者的和。
甲：我不知道这俩数是什么！
乙：我不知道这俩数是什么，我就知道你不知道！
甲：现在我知道了。
乙：我也知道了。
请问这两个数是几？

[2018-04-21 07:31] stoneyong commented on #55
#### [NodeJS中被忽略的内存](http://huang-jerryc.com/2016/04/14/NodeJS%E4%B8%AD%E8%A2%AB%E5%BF%BD%E7%95%A5%E7%9A%84%E5%86%85%E5%AD%98/)
当一个应用访问量、并发量达到一个量级后， 性能上的瓶颈就会出现，内存问题也将备受关注， 尤其Node对内存泄露十分敏感， 为了解决这种问题， 我们需要先了解下V8中的内存处理机制。

#### [VS Code、ATOM这些开源文本编辑器的代码实现中有哪些奇技淫巧？](https://www.zhihu.com/question/272156541/answer/367784539)
文章@justjavac 对 vscode 和 atom 的性能作了一些研究， 记录了文本编辑器在代码实现中的一些奇技淫巧。

#### [使用JavaSc

[2018-04-21 15:47] justjavac commented on #55
我上榜了啊

[2018-04-22 04:17] Jade05 commented on #55
##### [What You Can Expect From Node.js 10](https://nodesource.com/blog/what-you-can-expect-from-node-js-10/)

The release of Node.js v10 is just a week away, and will include a suite of new features including updates to errors and the formal addition of N-API.

#### [JavaScript Top 10 Open Source of the Month (v.Apr 2018)](https://medium.mybridge.co/javascript-top-10-open-source-of-the-month-v-ap

[2018-04-23 02:32] #55 closed, assigned to Jade05

[2018-04-23 09:45] mirreal opened #56 "2018-04-30"

[2018-04-24 02:12] Jade05 commented on #56
#### [重构 - 改善代码的各方面问题](https://juejin.im/post/5adc8e18518825672b0352a8)

重构不是对以前代码的全盘否定，而是利用更好的方式，写出更好，更有维护性代码。不断的追求与学习，才有更多的进步。

#### [Web Development Top 10 Articles for the Past Month (v.Apr 2018)](https://medium.mybridge.co/web-development-top-10-articles-for-the-past-month-v-apr-2018-17e720e23e5e)

For the past month, we ranked nearly 1,500 Web Development articles to pick the Top 10 stories

[2018-04-27 13:01] mirreal commented on #56
#### [超大型 JavaScript 应用的设计哲学](https://zhuanlan.zhihu.com/p/35929167)

本文主要讨论了如何构建高度复杂的 web 应用，以及如何保证应用在整个生命周期的轻量运行。

#### [JavaScript 是如何工作的：渲染引擎以及优化建议](https://github.com/neal1991/articles-translator/blob/master/JavaScript是如何工作的：渲染引擎以及优化建议.md)

这是 JavaScript 是如何工作的系列第 11 篇，介绍浏览器渲染原理，了解是如何处理 HTML 和 CSS 的解析和可视化，并能针对性进行代码优化。

#### [React v16.3 版本新生命周期函数浅析及升级方案](https://zhuanlan.zhihu.com/p/36062486)

[2018-04-27 14:01] CurtisCBS commented on #56
#### [CSS at Scale: LinkedIn’s New Open Source Projects Take on Stylesheet Performance](https://frontendfoc.us/link/46067/web)

LinkedIn在组件CSS限定作用域及优化的开源项目([css-blocks](https://github.com/linkedin/css-blocks),[opticss](https://github.com/linkedin/opticss))实践，目前项目API尚不稳定且可能后期版本不向后兼容，不建议在生产上使用

#### [解密Vue SSR](https://zhuanlan.zhihu.com/p/35871344)

从Vue SSR的构建流程、运行流程、SSR的特点和利弊这几方面对Vue SSR有一个较为详细的介

[2018-04-28 09:29] StevenX911 commented on #56
#### [JavaScript 数组的演进及其性能](https://mp.weixin.qq.com/s/x9Fptcx6chW1rdGqJyddMQ)
正式开始前需要声明，本文并不是要讲解 JavaScript 数组基础知识，也不会涉及语法和使用案例。本文讲得更多的是内存、优化、语法差异、性能、近来的演进。
在使用 JavaScript 前，我对 C、C++、C# 这些已经颇为熟悉。与许多 C/C++ 开发者一样，JavaScript 给我的第一印象并不好。
Array 是主要原因之一。JavaScript 数组不是连续（contiguous）的，其实现类似哈希映射（hash-maps）或字典（dictionaries）。我觉得这有点像是一门 B 级语言，数组实现根本不恰当。自那以后，JavaScript 和我对它的理解都发生了变化，很多变化。
为什么说 JavaScript 数组不

[2018-04-28 09:29] stoneyong commented on #56
#### [如何提升页面渲染效率](http://icodeit.org/2017/02/frontend-page-performance-tuning/)
本文介绍了页面是如何被渲染的， 同时提出了一些影响到页面渲染的地方，以及如何避免这些问题，来提升页面的渲染效率。
#### [漫画算法：最小栈的实现](http://blog.jobbole.com/106940/)
跟随 ‘小灰灰’ 的脚步 学习下算法 最小栈的实现 。

#### [窥探React-源码分析(三)-全面剖析组件更新机制](http://realtcg.com/2018/04/17/%E7%AA%A5%E6%8E%A2React-%E6%BA%90%E7%A0%81%E5%88%86%E6%9E%90-%E4%B8%89-%E5%85%A8%E9%9D%A2%E5%89%96%E6%9E%90%E7%BB%84%E

[2018-04-28 09:56] StevenX911 commented on #56
#### [Node.js 10.0.0 正式发布，带来大量改进和修复](https://juejin.im/entry/5adfd7606fb9a07aab29827e)
Node.js 10.0.0 正式发布，这是自 Node.js Foundation 开展以来的第七个主要版本，并将在 2018 年 10 月成为下一个 LTS 分支。
全面支持 N-API

- 可轻松通过新的 Visual Studio Code Extension 进行 Time-Travel 调试

- 支持 TTD 的生成器和异步函数

- 支持 Inspector 协议

- 增强稳定性和其他各种改进

[2018-04-29 14:48] #56 closed, assigned to mirreal

[2018-05-02 02:21] CurtisCBS opened #57 "2018-05-07"

[2018-05-04 14:08] mirreal commented on #57
#### [我从小程序学到了什么](https://zhuanlan.zhihu.com/p/36203122)

文章从技术角度来看小程序对于 Hybrid 开发模式的优化过程值得学习借鉴的地方，比如多个 webview，双线程，预加载等。

#### [Creating A Real-World CLI App With Node](https://timber.io/blog/creating-a-real-world-cli-app-with-node/)

一篇详细的教程，如何基于 Node 完成一个 CLI 工具。

#### [BigInt：JavaScript 中的任意精度整数](https://zhuanlan.zhihu.com/p/36385254)

BigInts 是 JavaScript 中的一个新的数字基本类型，可以用任意精度表示整数。文章介绍了 BigInt

[2018-05-05 05:23] stoneyong commented on #57
#### [Java 泛型](http://johnnyshieh.me/posts/java-generics/)
本文将介绍 Java 泛型的原理和使用，重点阐述容易产生困惑的通配符、类型擦除等问题。

#### [快速定位线上 Node.js 内存泄漏问题](https://yq.aliyun.com/articles/587187)
 想要分析定位内存泄漏问题，首先我们要去获取 Node.js 进程在发生泄漏时的堆上各个对象和它们间的引用关系，这个保存了堆上各个对象以及其引用关系的文件就是堆快照。本文主要是介绍如何获取堆快照，以及对堆快照内容的分析， 从而定位内存泄漏。

#### [Nerv实战 - 京东首页改版小结](https://aotu.io/notes/2018/04/24/jdindex_2017/)
这篇文章对京东首页改造的开发过程做了 简单的介绍， 从技术选型到

[2018-05-05 06:08] CurtisCBS commented on #57
#### [Is ServiceWorker Ready? (Yes.) ](https://jakearchibald.github.io/isserviceworkerready/)

Edge称为最后一个支持Service Workers的主流浏览器，本页提供了一个浏览器支持的综述。

#### [Version 6 of Angular Now Available](https://blog.angular.io/version-6-of-angular-now-available-cc56b0efa7a4)

Angular 日前发布6.0.0版本。该版本更多的聚焦在工具链及相关周边。

#### [What’s new in Microsoft Edge in the Windows 10 April 2018 Update](https://blogs.windows.com

[2018-05-05 14:48] Jade05 commented on #57
#### [深入理解 ES Modules (手绘示例)](https://mp.weixin.qq.com/s?__biz=MzAxODE2MjM1MA==&mid=2651554098&idx=1&sn=b32f27bdca0d84d46f33c49351c64c72&chksm=802556f3b752dfe5cb3a9e7091753a511f48060bbe344190b41fec406fb802865cd0bb507dc3&mpshare=1&scene=1&srcid=0505EmxGkaMLv9qyzOV5xyrH&pass_ticket=dHyHkNsdyTW5XieQFmQGBVTNpmBu7yAf63uYfHzHakq19OmEzs2TF9IbQad%2ByjkK#rd)

虽然花了近十年的标准化工作才走到这一步，ES 模块终于为 JavaScript 带来了正式的，

[2018-05-06 04:42] StevenX911 commented on #57
#### [不只有 Android P，Google I/O 开发者大会前瞻](https://juejin.im/entry/5aec1f4d6fb9a07ac90d137d)
一年一度的 Google I/O 开发者大会将于 5 月 8 号到 5 月 10 号在美国加州山景城海岸线圆形剧场举行。在去年的 I/O 会议上，谷歌带来了 Android Oreo 系统、基于 AR 技术的 Google Lens、iOS 版 Google Assitsant、Google Photo 等新功能。
那么今年的 Google I/O 开发者大会上，又有哪些新功能值得我们期待呢？

#### [Angular 6正式发布，新功能详解](https://mp.weixin.qq.com/s?__biz=MzUxMzcxMzE5Ng==&mid=2247488834&idx=1&sn=7032a6aee

[2018-05-06 11:48] #57 closed, assigned to CurtisCBS

[2018-05-11 03:09] stoneyong opened #58 "2018-05-14"
#### [尾递归为啥能优化？](https://zhuanlan.zhihu.com/p/36587160)
文章主要讨论了介绍尾递归为什么可以优化，以及怎么在代码层面进行优化尾递归，通过这番探讨我想可以加深自己对尾递归以及函数栈理解。

#### [async await 是把双刃剑](https://github.com/dt-fe/weekly/blob/master/55.%E7%B2%BE%E8%AF%BB%E3%80%8Aasync%20await%20%E6%98%AF%E6%8A%8A%E5%8F%8C%E5%88%83%E5%89%91%E3%80%8B.md)
本文更多是吐槽了async/await 带来的糟糕一面，既然是把双刃剑， 就让我们了解下它有那些不好的一面，从而使用它有利的一面。

#### [Intellij IDEA神器居然还有这些小技巧](https:

[2018-05-11 04:21] CurtisCBS commented on #58
#### [现代浏览器支持的不同类型的观察者](https://www.w3cplus.com/javascript/different-types-of-observers-supported-by-modern-browsers.html)

当前主流浏览器常用的几个Observer：Intersection Observer，Mutation Observer，Resize Observer，Performance Observer及其运用场景

#### [gcoord](https://github.com/hujiulong/gcoord?utm_source=tuicool&utm_medium=referral)

一个处理地理坐标系的js库，用来修正百度地图、高德地图及其它互联网地图坐标系不统一的问题

#### [微信小游戏开发总结](https://futu.im/p

[2018-05-11 07:40] elevenbeans commented on #58
@CurtisCBS  2333

[2018-05-11 14:40] mirreal commented on #58
#### [New CSS Features That Are Changing Web Design](https://www.smashingmagazine.com/2018/05/future-of-web-design/)

文章介绍了 CSS 的一些新特性，包含 Grid 布局，自定义属性，css shapes 以及 CSS writing-mode等，结合这些新技术可以使设计师能够以全新的方式发挥创意。

#### [《腾讯大家》小程序开发总结](https://mp.weixin.qq.com/s/Zr2t_25SfozHtvVVwBk26w)

从一个真实的项目详细介绍在开发微信小程序值得注意的点。
#### [The React State Museum](https://hackernoon.com/the-react-state-museum-a278c726315

[2018-05-12 05:58] StevenX911 commented on #58
#### [JavaScript 中错误正确处理方式，你用对了吗？](https://mp.weixin.qq.com/s/zjME9Q4bjNCc9DpDsuGrLA)
本文将会讨论客户端JavaScript中的错误处理。主要介绍JavaScript中的易犯错误、错误处理、异步代码编写等内容。

#### [chrome开发者工具各种技巧](https://juejin.im/post/5af53823f265da0b75282b0f)
本文推荐的十多个chrome使用方法，每一个前端开发都应熟练掌握

#### [Google I/O 2018 : Web 现状综述](https://juejin.im/post/5af2a6e1f265da0b9c109f8a)
不得不承认，PWA已经来了，WebAssembly使得用C/C++编写网页程序成为可能，无论PC还是H5，未来web浏览器

[2018-05-13 09:38] Jade05 commented on #58
#### [Here are examples of everything new in ECMAScript 2016, 2017, and 2018](https://medium.freecodecamp.org/here-are-examples-of-everything-new-in-ecmascript-2016-2017-and-2018-d52fa3b5a70e)

This article will cover all 18 features that are listed in the TC39’s finished proposals that were added in ES2016, ES2017, and ES2018 (final draft) and show them with useful examples.

#### [Node.js Best P

[2018-05-13 11:24] StevenX911 commented on #58
@Jade05  推荐的文章可以翻译一下

[2018-05-14 03:12] #58 closed, assigned to stoneyong

[2018-05-16 00:05] StevenX911 opened #59 "2018-05-21"

[2018-05-18 12:53] stoneyong commented on #59
#### [WebAssembly 对比 JavaScript 及其使用场景](https://mp.weixin.qq.com/s/EnioY-rR-qdreNuQW9ewkw)
文章剖析 WebAssembly 的工作原理，和 JavaScript 在性能方面的进行了比对， 如 加载时间，执行速度，垃圾回收，内存使用，平台 API 访问，调试，多线程以及可移植性， 并且介绍了 一些WebAssembly 使用场景。

#### [CSS中最全的换行处理方式](https://www.w3cplus.com/css/where-lines-break-is-complicated-heres-all-the-related-css-and-html.html)
文章主要简单的介绍了CSS中几个处理超常文本溢出容器的处理方式。

#### [如何阅读大型前端开源项目的源码](https:/

[2018-05-18 14:49] mirreal commented on #59
#### [四个架构设计案例分析及其背后的架构师思维](https://mp.weixin.qq.com/s?__biz=MjM5MDE0Mjc4MA==&mid=2651007363&idx=1&sn=b9c7c2712c4436f33d7ba8b339bc0a8b)

在前续文章 [《优秀架构师必须掌握的架构思维》](https://mp.weixin.qq.com/s?__biz=MzI4MTY5NTk4Ng==&mid=2247484527&idx=2&sn=252d8b5bd0330036de8493739191d472&scene=21)，介绍了抽象、分层、分治和演化这四种应对复杂性的基本武器。本篇通过四个案例，讲解如何综合运用这些武器，分别对小型系统、中型系统、基础架构以及组织技术体系进行架构和设计。

#### [The Front-End Tooling Survey 2

[2018-05-19 13:15] CurtisCBS commented on #59
#### [前端工程师的技术进阶点在哪里?](https://mp.weixin.qq.com/s?__biz=MzAxMTU0NTc4Nw==&mid=2661157671&idx=1&sn=b400eb2ad196fc1ac97bbdbe92ceebe2)

单纯讲技术进阶点意义不大，脱离场景都是耍流氓。前端不该只写页面，node也只是基本技能，最重要的一点，技术要驱动商业，否则没有任何价值。你是一个工程师，征途是星辰大海，何苦给自己设限？

#### [Guess.js：Google的数据驱动改进前端体验的工具库](https://mp.weixin.qq.com/s/MI9U90TrHhE_esDicCXKjg)

Guess.js 是在 Web 上用于实现数据驱动提升用户体验的库和工具的集合。主要用于探索以下方面的数据分析驱动在用户体验中的应用：单页应用程序，基于框架的静态网站，

[2018-05-20 01:05] Jade05 commented on #59
#### [【第1277期】Google I/O 2018 —— Web 系列参会笔记](https://mp.weixin.qq.com/s?__biz=MzUyODMzMjY3OQ==&mid=2247483987&idx=1&sn=fa6c11a9bd5735403f8ef8453e7a3c67&chksm=fa70a0bbcd0729ada3df3e65d73d75b30748e14871f3051045e35be5c6187cdc8e5eaa6a1245&mpshare=1&scene=1&srcid=0520EyPDxuBJpdmsQZYoKxwo#rd)

2018年5月10日，又一届GoogleI/O 落下帷幕。似乎每一届 I/O 都有非常惊艳的产品，今年也不例外，相信 Google Assistant 打电话预约的演示给大家留下了很深刻的印象。让人不禁惊叹“未来已来”。A

[2018-05-20 02:30] StevenX911 commented on #59
#### [Wireshark对HTTPS数据的解密](https://zhuanlan.zhihu.com/p/36669377)
之前有介绍《以TCP/IP协议为例，如何通过wireshark抓包分析？》，那如果是HTTPS协议，可以抓包分析吗？基于好奇，查阅了下相关资料分享给大家。

#### [Web 前端中的增强现实（AR）开发技术](https://segmentfault.com/a/1190000014891945)
增强现实（以下简称 AR）浪潮正滚滚而来，Web 浏览器作为人们最唾手可得的人机交互终端，正在大力发展 AR 技术。很多 Web 前端工程师也在寻求职业转型，于是我把我近半年的相关调研结果在此汇结成文。本文力求把目前前端方向的 AR 技术都罗列一遍，细节不赘述（保证文章篇幅不过长），只做概括和科普（因此文章中的链接很多），零零散散写了一个多月，欢迎已经在从事该

[2018-05-20 04:39] StevenX911 commented on #59
@stoneyong @CurtisCBS 你们两重复了

[2018-05-21 02:12] Jade05 opened #60 "2018-05-28"

[2018-05-22 15:08] #59 closed, assigned to StevenX911

[2018-05-23 06:10] Jade05 commented on #60
#### [从Chrome源码看WebSocket](https://zhuanlan.zhihu.com/p/37350346)

本篇主要讨论了WebSocket存在的意义，给浏览器开放一个socket的API，并进行标准化，除了浏览器，APP等也都可以按照这个标准实现，弥补了HTTP单向传输的缺点。还讨论了WebSocket报文帧的格式，以及怎么用Node.js读取这个报文帧，客户端会把它发送的内容进行掩码处理，服务端收到的也需要进行掩码还原。

#### [Google力推的那些前端技术，最近都有哪些进展？](https://mp.weixin.qq.com/s/-hYSPI67M_R7Gcff37oiyA)

Google I/O 2018 已于上周落下帷幕，普通民众看的是新产品，开发者们关注的是新技术。透过这次大会，我们不难发现，Google 已经从 mobile first

[2018-05-25 05:57] CurtisCBS commented on #60
#### [React 16 加载性能优化指南](https://mp.weixin.qq.com/s/KxJttCVuCoIrm9RAjRBrdg)

随着 React 16 和 Webpack 4.0 的发布，很多过去的优化手段其实都或多或少有些“过时”了,这篇文章对新的优化方案做了总结

#### [React Fiber架构](https://zhuanlan.zhihu.com/p/37095662)

React16启用了全新的架构，叫做Fiber，其最大的使命是解决大型React项目的性能问题，再顺手解决之前的一些痛点。

#### [聊聊自动化测试框架](https://www.cnblogs.com/imyalost/p/9034194.html)

关于自动化测试框架的一些理解和思考总结

[2018-05-25 14:21] stoneyong commented on #60
[Node.js 流（stream）：你需要知道的一切](https://zhuanlan.zhihu.com/p/36728655)
文章简述了 Node.js 中 Stream 模块， 介绍了其四种基本的流类型和一些处理流的API， 简单的实现了流的操作。

[css3D的魅力](http://www.cnblogs.com/1wen/p/9064011.html)
一起体验下 CSS 3D的魅力吧，主要是 css属性中 transform-style，transform-origin，transform, perspective的运用。

[MD4、MD5、SHA1、HMAC、HMAC_SHA1区别](https://mp.weixin.qq.com/s/30jzMVnSya-S9ZJa5juceQ)
总结了几种常见的加密算法，了解下它们都有哪些不同。

[2018-05-25 15:08] mirreal commented on #60
#### [如何用 C 语言画小猪佩奇](https://zhuanlan.zhihu.com/p/37031514)

使用 C 语言利用 ASCII 字符完成精致的猪猪女孩。

#### [Web Push Notifications demo](https://webpushdemo.azurewebsites.net/)

Microsoft Edge 已经支持通过 Push API 进行网络推送通知，Edge 团队对相关概念作了详尽的介绍，并一步步完成一个示例。

#### [看图学 HTTPS](http://blog.liuxuan.site/2018/05/21/learn_https_through_photos/)

通过图形生动介绍 HTTPS 的基本工作原理。

#### [一个程序员的成长之路 - 剖析别人，总结自己](https://mp.weixin.qq.c

[2018-05-26 07:31] StevenX911 commented on #60
#### [使用nginx缓存服务器上的静态文件](https://juejin.im/post/5af38e0c518825670c45ef6e)
本文详细介绍使用nignx作为静态文件缓存服务器的配置，非常实用

#### [在IBM学到的东西，到底对我的程序生涯产生了多大的影响](https://segmentfault.com/a/1190000015035771)
通读本文，你会明白程序员和工程师之间的微妙差异

#### [IndexedDB 打造靠谱 Web 离线数据库](https://segmentfault.com/a/1190000014950564)
indexedDB 目前在前端慢慢得到普及和应用。它正朝着前端离线数据库技术的步伐前进。以前一开始是 manifest、localStorage、cookie 再到 webSQL，现在 indexedDB 逐渐被各大浏

[2018-05-27 02:25] StevenX911 commented on #60
#### [Breaking a myth: Data shows you don’t actually need a co-founder](https://techcrunch.com/2016/08/26/co-founders-optional/)
一个人也可以创业，无数文章告诉你，创业需要一个团队，你需要找联合创始人。但是，不一定非如此不可，数据表明没有联合创始人也是可以的。

我查了 CrunchBase API 里面的 7,348家公司，每家公司募集了超过1000万美元。几乎一半的公司只有一个创始人，不到三分之一的公司有两位创始人，只有22％的公司有三位或更多的创始人。创始人的平均数量是 1.85。

我又查了成功退出的公司的数据，这次包括筹集不到1000万美元的公司。这组数据包括6,191家公司，但独立创始人的优势更明显。超过一半的公司是由独立创始人创立的。只有三分之一有两

[2018-05-28 02:03] #60 closed, assigned to Jade05

[2018-05-28 11:15] mirreal opened #61 "2018-06-04"

[2018-05-31 07:19] CurtisCBS commented on #61
#### [Node之父ry发布新项目deno：下一代Node](https://mp.weixin.qq.com/s/1LcO3EqGV2iRlZ1aIrQeqw)

近日，Node 之父 Ryan Dahl 发布新的开源项目 deno，从官方介绍来看，可以认为它是下一代 Node，使用 Go 语言代替 C++ 重新编写跨平台底层内核驱动，上层仍然使用 V8 引擎，最终提供一个安全的 TypeScript 运行时。

####  [JS Linter 进化史](https://zhuanlan.zhihu.com/p/34656263)

据说在 C 语言刚刚开始起步的时候，有若干常见的代码问题不能被编译器捕获，因此有人开发了一款名为 Lint 的附加程序，用于扫描源代码以捕获这些问题。因此后续类似的工具都叫 Lint 或 Linter。本文主要介绍下 JS Linter 进化史中的三个

[2018-06-01 08:27] StevenX911 commented on #61
#### [W3C：未来的网站注册流程](https://www.w3.org/TR/webauthn/)
目前，W3C 正在设计一个基于密钥的网站注册流程。以后，注册用户时不需要密码，也不用担心破解。
简单说，就是注册的时候，浏览器自动生成公钥和私钥，然后把公钥发给服务器，私钥保留在本地。以后登录的时候，用户只需要输入用户名，浏览器用私钥加密后发给服务器，如果能被公钥解开，就证明了用户的身份。这里有两篇文章（1，2）讨论了其中的细节，并提供了 Demo。

#### [阿里七层流量入口 Tengine硬件加速探索之路](https://zhuanlan.zhihu.com/p/37539359)
所有的阿里集团流量通过四层LVS，到达统一接入层，统一接入层根据不同的维度域名转发到对应的后端APP，并且提供智能的流量分发策略。因为抽象出一层，通用的安全防攻击、链路追踪等高级功能，都可以在这

[2018-06-02 03:42] mirreal commented on #61
#### [Beyond SPAs: Alternative Architectures for Your PWA](https://developers.google.com/web/updates/2018/05/beyond-spa)

构建 PWA Web app 不一定是构建在单页应用程序之上，在此了解以 PWA 为中心的其他架构。

#### [HTTPS 的故事](https://juejin.im/post/5b10aa22e51d4506c5568f1d)

通过故事中讲述从原始的 HTTP 到 HTTPS 的演进过程，大体上还原其中的通信原理和部分细节。

#### [workbox源码阅读](http://sensai.powerpigger.cc/sensai/site/article/334)

记录了阅读 workbox 源码的心路历程，深入理解 workbox

[2018-06-02 14:54] stoneyong commented on #61
#### [TypeScript 2.8下的终极React组件模式](https://juejin.im/post/5b07caf16fb9a07aa83f2977)
文章主要介绍了如何运用TypeScript的新功能，写出能够以安全类型的方式创建常见的React组件模式。

#### [Android内存溢出OOM：常见内存泄漏](http://www.sunnyang.com/765.html)
本文总结了Android开发者在开发中比较常见的几种内存泄漏，并给出了相对应的防止内存泄漏的解决方式。

#### [JavaScript 算法与数据结构](https://github.com/trekhleb/javascript-algorithms/blob/master/README.zh-CN.md)
本仓库包含了多种基于 JavaScript 的算法与数据结构。每种算法和数据结构

[2018-06-03 06:23] Jade05 commented on #61
#### [[译文] 现代 js 框架存在的根本原因](https://juejin.im/post/5b111436e51d4506d06205fd)

我曾见过很多很多人盲目地使用（前端）框架，如 React，Angular 或 Vue等等。那你知道使用现代js框架的根本原因吗？

#### [GitHub 的用法与礼仪](https://zhuanlan.zhihu.com/p/37599617)

前一阵国内用户滥用 Issue 的事件已逐渐平息，风波过后，留给我们一些思考：我们该如何参与并回馈这类全球开源社区？

作为一个在 GitHub 浪迹多年的人，我来谈谈自己的心得体会，希望能帮你避免再次踩坑。

#### [「不再作恶」：谷歌决定 2019 年后退出军事项目Project Maven](https://zhuanlan.zhihu.com/p/37608412)

据国外

[2018-06-03 15:17] #61 closed, assigned to mirreal

[2018-06-04 02:34] CurtisCBS opened #62 "2018-06-11"

[2018-06-05 00:02] StevenX911 commented on #62
#### [微软收购github](https://blog.github.com/2018-06-04-github-microsoft/)
6月4日晚间，微软宣布以75亿美元微软股票收购GitHub。这一价格相比彭博社早间报道的50亿美元高出25亿美元

#### [Deno不是下一代Node.js！](https://cnodejs.org/topic/5b192d7c29e6e510415b2914)
技术从来不会单纯地存在，它必须去适应市场，让企业和大众去筛选，谁给我更高的效率，我就用谁！应用层的架构设计可以说是层出不穷，那些不变的或者变化缓慢才是最重要的，例如计算机组成、操作系统、算法与数据结构、网络传输等

#### [一步步教你编写不可维护的 PHP 代码](https://segmentfault.com/a/1190000015221322)
这是一篇很棒文章，使用有趣

[2018-06-07 03:11] mirreal commented on #62
#### [微博应对日访问量百亿级的缓存架构设计](https://mp.weixin.qq.com/s/YxGeisz0L9Ja2dwsiZz01w)

微博面对庞大用户群的海量访问，良好的架构且不断改进的缓存体系具有非常重要的支撑作用。本文详细讲解那些庞大的数据都是如何呈现的，从它的数据架构、性能、储存成本、服务化等不同方面优化对于微博 Cache 架构。

#### [老旧黑白片修复机——使用卷积神经网络图像自动着色实战](https://yq.aliyun.com/articles/599156)

文章使用 PyTorch 从头开始构建一个机器学习模型，自动将灰度图像转换为彩色图像，并且给出了相应代码及图像效果图，利于深度学习解决老旧照片问题。

#### [Node 错误处理之挖坑系列](https://techblog.toutiao.com/2018/06/04/node-

[2018-06-10 13:32] CurtisCBS commented on #62
#### [Writing maintainable styles and components with CSS Modules](https://medium.com/@skovy/writing-maintainable-styles-and-components-with-css-modules-308a9216a6c2)

在webpack配置中经常会使用到css loader，这其实就是css modules提供的一个插件，这篇文章介绍如何用css modules编写可维护的css代码，包括如何简化类名，限定作用域，移除无用代码等。

#### [多端统一开发框架 - Taro](https://aotu.io/notes/2018/06/07/Taro/)

Taro 是由京东 - 凹凸实验室打造的一套遵循 React 语法规范的多端统一开发框架。现如今市面上端的形态多种多样

[2018-06-10 14:01] stoneyong commented on #62
#### [如何用canvas实现在线签名？](http://blog.guowenfh.com/2018/06/04/2018/learning-Promise/)
文中主要演示使用 Canvas 的绘制功能实现了在线签名的效果。

#### [求不更学不动之Redis5.0新特性Stream尝鲜](https://mp.weixin.qq.com/s/rjTt0HMNCk9VO5x5Mi_c-w)
Redis5.0最大的新特性就是多出了一个数据结构Stream，它是一个新的强大的支持多播的可持久化的消息队列。

#### [大众点评账号业务高可用进阶之路](https://tech.meituan.com/dp_account_high_avaliable_road.html)
本文从业务监控、柔性可用、 异地多活三个主要方面介绍了业务高可用进阶之路。

[2018-06-10 14:05] Jade05 commented on #62
#### [移动Web体验月报（5月）：MIP引入MIP-SHELL组件；Google Search推出AMP页面新使用场景](https://mp.weixin.qq.com/s?__biz=MzUyODMzMjY3OQ==&mid=2247484029&idx=1&sn=e067c5cce85bca4787c55531fe380ee7&chksm=fa70a095cd0729838a1ee8ad08a9b1a837f9c0b9304ec7905ca741301111b275ae6810dc3d08&mpshare=1&scene=1&srcid=06105mhuChb4q4u8OZ9rajtV&pass_ticket=Uy4ZdxXR6Kk9r0C9LoW1IvEnNfc3AQQM4vzj8nwm4TgITVsjkYCB15lW5Z%2FpQono#rd)

虽然业界一直有称MIP是“

[2018-06-12 13:59] #62 closed, assigned to CurtisCBS

[2018-06-13 11:53] stoneyong opened #63 "2018-06-18"
周刊推荐

[2018-06-15 02:09] Jade05 commented on #63
#### [《Design Mistakes in Node》Node 之父 Ryan Dahl 演讲 PPT 中文版 (2018 JS Conf Berlin)](https://zhuanlan.zhihu.com/p/37637923)

本文是 Node 之父 Ryan Dahl 在 2018 JS Conf Berlin上的演讲《Design Mistakes in Node》的完整中文翻译，如果你对 Node 和 Deno 项目感兴趣，那我强烈建议你阅读完本文章 。

姊妹篇：[Node之父ry：Node中的设计错误](https://mp.weixin.qq.com/s/7XAiYw18c8YZc-fXk0-wrw)

#### [爬虫攻防之前端策略简析](https://mp.weixin.qq.com/s/kGh0MfOh7XfzmYCnkD7_xg)

文章里介绍了几个

[2018-06-15 02:58] CurtisCBS commented on #63
#### [The new (and old) CSS units you've never heard about](https://dev.to/maxart2501/the-new-and-old-css-units-youve-never-heard-about-1mn1)

你可能没有听说过的css单位，这些罕见的单位涵盖了长度，角度，比例，频率

#### [Keeping Node.js Fast: Tools, Techniques, And Tips For Making High-Performance Node.js Servers](https://www.smashingmagazine.com/2018/06/nodejs-tools-techniques-performance-servers/)

Node常用于作HTTP服务来提供API或其他web服务。如

[2018-06-15 12:07] stoneyong commented on #63
#### [前端开发-领域驱动设计](https://github.com/ProtoTeam/blog/blob/master/201806/2.md)
本文会尝试分析项目复杂度的失控的问题， 以及从前端如何应用领域模型开发的角度给出一些建议。

#### [State of React Native 2018](http://facebook.github.io/react-native/blog/)
React Native 官方博客上宣布他们将要重构 React Native，使其更轻量，更适应 JavaScript 生态圈的发展。

#### [盒子端 CSS 动画性能提升研究](https://mp.weixin.qq.com/s/buywVtqnFXxyy4v40F7yKw)
本文归纳总结了盒子端 CSS 动画的性能影响因素以及优化动画的步骤。

[2018-06-15 15:38] mirreal commented on #63
#### [React v16.3之后的组件生命周期函数](https://zhuanlan.zhihu.com/p/38030418)

聊聊 React v16.3 中组件生命周期函数的变化，体现施加约束的哲学指导思想，从框架层面来规范开发模式。

#### [WebAssembly 现状与实战](https://www.ibm.com/developerworks/cn/web/wa-lo-webassembly-status-and-reality/index.html)

文章介绍 WebAssembly 的出现原因和原理，并包含一个简单的实例，还展望其未来的使用场景。

#### [UTC Is Enough for Everyone...Right?](https://zachholman.com/talk/utc-is-enough-for-everyone-right)

[2018-06-16 04:02] StevenX911 commented on #63
#### [深度解析Tengine的调试与资源监控方法论](https://zhuanlan.zhihu.com/p/37997230)
本文由阿里云CDN团队的研发同学笑臣和墨飏带来，从Tengine的内存调试、核心结构、upstream、coredump四个部分展开，为大家整理和分享一些实践经验。

#### [JavaScript 性能优化技巧分享](https://mp.weixin.qq.com/s/XgOu3gqkKaFQzu8dLyWbng)
本文从加载、上下文、解析、编译、执行和捆绑等多个方面来讲解 JavaScript 的性能优化技巧，以便让更多的前端开发人员掌握这方面知识。

#### [React优化-记忆化技术-使用闭包提升你的React性能](https://segmentfault.com/a/1190000015301672)
使用React开发的时候，我们请

[2018-06-17 05:06] StevenX911 commented on #63
#### [用Electron开发桌面应用](http://get.ftqq.com/7870.get)
用JavaScript，Node.js和Eletron创建发声器应用的详细指南

[2018-06-18 04:04] StevenX911 opened #64 "2018-06-25"

[2018-06-18 04:05] #5 closed, assigned to nobody

[2018-06-19 02:07] #63 closed, assigned to stoneyong

[2018-06-19 07:12] Jade05 commented on #64
#### [基于 Docker 打造前端持续集成开发环境](https://zhuanlan.zhihu.com/p/37961402)

前端工程师首先得是工程师，那么合格的工程师应该对工程的整个生命周期，包括对自己写出来的代码最终如何被用户访问，以及如何产生价值的整个过程都有较好的理解。

#### [结合源码分析 Node.js 模块加载与运行原理](http://efe.baidu.com/blog/nodejs-module-analyze/)

在 Node.js 中使用模块非常简单，我们日常开发中几乎都有过这样的经历：写一段 JavaScript 代码，require 一些想要的包，然后将代码产物 exports 导出。但是，对于 Node.js 模块化背后的加载与运行原理，我们是否清楚呢。

本篇文章，就会结合 Node.js 源码，探究一下以上这些问题背后的答案。

##

[2018-06-22 05:45] StevenX911 commented on #64
#### [从 IPv4 到 IPv6，阿里踩过哪些坑？](https://zhuanlan.zhihu.com/p/38366843)
在IPv6的概念出现后多年，市场反应不瘟不火。如今，随着万物互联和云计算的爆发式增长，下一代互联网IPv6时代真的已经到来了。6月20日，阿里云在北京召开了阿里云全面支持IPv6发布会，中国网络界群贤毕至。阿里云为什么要发布IPv6？阿里巴巴在IPv4向IPv6的演进上都走过哪些坑？本文将一一为你解读。

#### [V8 改进垃圾清理机制](https://v8project.blogspot.com/2018/06/concurrent-marking.html)
V8 引擎宣布"垃圾清理机制"的重大改进。我们知道，对于大型程序，垃圾清理很影响性能，因为程序必须暂停，让引擎识别哪些内存不再需要。

V8 现在允许内存识别不暂停程序，而是并发进行，使得

[2018-06-22 13:08] mirreal commented on #64
#### [React Native at Airbnb](https://medium.com/airbnb-engineering/react-native-at-airbnb-f95aa460be1c)

Airbnb 团队用了一系列文章来阐述使用 React Native 的经验，这是第一篇。分别介绍使用 RN 的缘由，RN 在技术上的优劣，团队管理上的挑战，为什么要放弃 RN，以及未来移动开发的新方向。

#### [Javascript 如何实现 GPU 加速](https://www.cnblogs.com/wanbo/p/9100962.html)

使用 webgl API 来实现通用计算，以此达到 GPU 加速的效果。

#### [Using JavaScript Modules on the Web ](https://developers.google.com/w

[2018-06-22 13:11] stoneyong commented on #64
#### [使用ESLint ＆ Prettier美化Vue代码](https://nice.lovejade.cn/zh/article/beautify-vue-by-eslint-and-prettier.html)
本文主要介绍了 Prettier &  ESLint  如何打造编写高质量代码的开发规范。

#### [函数防抖与函数节流](https://zhuanlan.zhihu.com/p/38313717)
文章阐述了 函数防抖与函数节流 的概念，以及它们实现的方法和使用场景。

#### [聊聊 Nodejs RPC（一）](https://yuque.com/egg/nodejs/dklip5)
本篇博客中 主要讲解了RPC的原理 以及 Nodejs 如何实现 RPC 通讯协议, 从而使Nodejs 和其他的互通。

[2018-06-22 17:11] CurtisCBS commented on #64
#### [Sunsetting React Native](https://medium.com/airbnb-engineering/sunsetting-react-native-1868ba28e30a)

Airbnb 技术团队在 Medium 上宣布，放弃使用 React Native，将回归到使用基于原生技术的自有框架开发 App。

#### [prerender-loader](https://github.com/GoogleChromeLabs/prerender-loader)

用于webpack的prerender-loader插件，插件实现预渲染功能，预渲染功能类似SSR，在编译时候输出有效的静态html而不是一个空白的启动页。

#### [CSS3 animation属性中的steps功能符深入介绍](https://www.zhangxinxu.com/

[2018-06-25 12:26] Jade05 opened #65 "2018-07-02"

[2018-06-27 03:46] elevenbeans commented on #65
#### [H5：“同样是返回，我们不一样” by @elevenbeans](http://elevenbeans.github.io/2018/06/26/enable-goback-on-h5-popup/)

“为什么安卓能做到这样的交互效果，你 H5 不可以？”

[2018-06-28 09:21] CurtisCBS commented on #65
#### [Github Stars !== Usage: React is still blowing Vue and Angular Away](https://zendev.com/2018/06/19/react-usage-beating-vue-angular.html)

Vue的Git Star已经超过React，但这在使用量上并不一致，React仍是目前使用最多的主流框架，文章提供了各大主流框架的月下载量进行了对比。

#### [進階 React Component Patterns 筆記（上）](https://blog.techbridge.cc/2018/06/27/advanced-react-component-patterns-note/)

对于提供一些可高度定制化的共用元件，使用一些Pattern 绝对是有绝佳的帮助。

#### [一个Vue页面的内存

[2018-06-29 00:01] #64 closed, assigned to StevenX911

[2018-06-29 00:02] StevenX911 commented on #65
#### [前端不止：Web性能优化 - 关键渲染路径以及优化策略](https://zhuanlan.zhihu.com/p/38548289)
本文将带你去理解什么是浏览器的关键渲染路径以及如何优化关键渲染路径。

优化关键渲染路径的最终目的是优先显示和用户操作相关的内容，减少低优先级资源对浏览器渲染的阻塞，从而尽早显示用户真正关心的关键内容。页面性能就是用户体验的一个重要维度，尝试用感性的思维去思考理性的代码，也许真的能受益不少。

#### [NodeJS事件循环 Part 1](https://zhuanlan.zhihu.com/p/38395184)
作为开篇第一章，作者非常详细认真甚至有点啰嗦地介绍了事件循环的基本工作流程，解释了libuv主要解决的问题，同时从应用层JavaScript的角度出发，将事件循环的所有阶段区分为lbuv原生的和NodeJS额外添加的（事实也是这

[2018-06-29 06:26] Jade05 commented on #65
#### [ES6 的解构赋值前每次都创建一个对象吗？会加重 GC 的负担吗？](https://mp.weixin.qq.com/s/cZsyuo9nq4AdXQtmckuFMQ)

本文从较底层的角度分析了ES6 的解构赋值前是否每次会创建对象以及是否会加重GC负担的问题。

#### [GMTC 大前端时代前端监控的最佳实践](https://juejin.im/post/5b35921af265da598f1563cf)

本文为2018年6月21日，在北京举办的GMTC(全球大前端技术大会)，下午性能与监控专场，由阿里云前端监控团队前端技术专家彭伟春带来的演讲稿。

#### [一站到底 ---前端基础之网络](https://juejin.im/post/5b3357556fb9a00e5a4b63df)

网络相关的知识是每个前端工程师都应该具备的。很多从事前端的朋友们都没系

[2018-06-29 09:12] mirreal commented on #65
#### [Using Google’s Flutter For Truly Cross-Platform Mobile Development](https://www.smashingmagazine.com/2018/06/google-flutter-mobile-development/)

本文介绍了 Flutter 的出现原因，可以解决什么问题，跟现有流行跨平台方案的对比，并展示了如何使用 Flutter 开始创建跨平台移动应用。

#### [Chrome 将默认屏蔽“非用户行为触发”的父页面跳转](https://zhuanlan.zhihu.com/p/38538801)

文章介绍了 top.location = 的正面使用场景，以及 Chrome 在区分用户行为和恶意跳转上的尝试，最新版本将默认阻止非用户行为跳转。

#### [漫谈组件复用](https://zh

[2018-06-30 08:14] stoneyong commented on #65
#### [Webpack 4 配置最佳实践](https://github.com/ProtoTeam/blog/blob/master/201806/3.md)
本文主要介绍的就是 Webpack 配置最佳实践在 Webpack 3.x 和 4.x 背景下的异同， 对了解Webpack 4 项目的配置文件组织有所帮助。

#### [闲话高并发的那些神话，看京东架构师如何把它拉下神坛](https://mp.weixin.qq.com/s/FLpdT9wZFT0sJBmNTCIObw)
本文阐述了 高并发问题的产生和音响因素， 以及技术手段上的解决手段。

#### [大型网站的 HTTPS 实践：协议层以外的实践](https://mp.weixin.qq.com/s/hy0qauQ_hvAJNMYOHvnxLg)
本文为大家介绍百度 HTTPS 的实践和一些权衡，包括了协议层以外的

[2018-07-02 02:06] #65 closed, assigned to Jade05

[2018-07-02 02:34] mirreal opened #66 "2018-07-09"

[2018-07-03 02:10] StevenX911 commented on #66
#### [用Node.js开发一个Command Line Interface (CLI)](https://zhuanlan.zhihu.com/p/38730825)
Node.js用途很广，常用来开发服务、桌面应用等被开发者熟知，Node.js还有另外一个非常实用的场景 - 命令行应用（后文统称CLI）。本文将介绍CLI的开发流程、常用的功能，并以meet-cli为例实战演练，从零开始一步步开发一个可以在生产中使用（read world）的CLI工具。

#### [别做被小公司毁掉的年轻人...](https://zhuanlan.zhihu.com/p/38842406)
我希望你成为这样的年轻人：不论在大公司还是小公司，你能够关心自己给客户提供了什么价值，始终不断精进自己的核心技能。
我自己一直很相信一句话“我们往往高估了短期的改变，而低估了长期的改变”。

#### [[译

[2018-07-06 15:09] mirreal commented on #66
#### [深入理解flutter的编译原理与优化](https://mp.weixin.qq.com/s/vlHt8jxbdzBqJZDobpsFVw)

文章介绍 Flutter 相关原理及定制与优化，对 Flutter 从设计，开发构建，到最终运行有一个全局视角的观察。

#### [Building a Snipping Tool with Electron, React and Node.js](https://quantizd.com/building-a-snipping-tool-with-electron-react-and-node-js/)

一份很详细的教程，使用 React 、 Electron 以及 Node.js 来完成一个截图工具。

#### [如何将 emoji 当成单色 icon 使用](https://zhuanlan.zhihu.com/p/387

[2018-07-07 08:46] stoneyong commented on #66
#### [import、require、export、module.exports 混合使用详解](https://juejin.im/post/5a2e5f0851882575d42f5609)
本文阐述了在项目中模块化规范混合使用时， webpack 与 babel 在模块化中的具体作用，以及模块依赖的优化。

#### [前端遇上Go: 静态资源增量更新的新实践](https://mp.weixin.qq.com/s/hCqQW1F8FngPPGZAisAWUg)
文章讲述了如何用Go实现静态资源增量更新的过程， 详细介绍了增量更新的性能问题，和Go实现的好处。

#### [一文揭秘！自底向上构建知识图谱全过程](https://mp.weixin.qq.com/s/lBeV6XWzk5bqNGiIMok-zw)
笔者主要想分享一下自底向上构建知识图谱的全过程， 为了迅速描述物理

[2018-07-07 13:24] Jade05 commented on #66
#### [条件型 CORS 响应下因缺失 Vary: Origin 导致的缓存错乱问题](https://zhuanlan.zhihu.com/p/38972475)

作为前端开发工程师，对于CORS可能并不陌生，但是对于Vary: Origin可能你平时未必有留意。

#### [Web前端框架：是解药还是毒药？](https://mp.weixin.qq.com/s?__biz=MzUxMzcxMzE5Ng==&mid=2247489138&idx=1&sn=8b130c0ed1c972acdb3f9af5286aee08)

要使用现代的前端框架，你需要下载开发环境和依赖，编译代码，然后在浏览器上运行。这个是好是坏？究竟是什么导致了这种不必要的复杂性？是因为我们构建的网站太复杂，还是因为框架本身就很复杂？

原文链接：https://www.toptal.com/javascri

[2018-07-07 17:33] CurtisCBS commented on #66
#### [Gio.js：基于 Three.js 的 web 3D 地球数据可视化的开源组件库](https://github.com/syt123450/giojs/blob/master/README_zh.md)

Gio.js 是一个基于Three.js的web 3D地球数据可视化的开源组件库。使用Gio.js的网页应用开发者，可以快速地以申明的方式创建自定义的Web3D数据可视化模型，添加数据，并且将其作为一个组件整合到自己的应用中。

#### [照方抓药 - 重构 React 组件的实用清单](https://mp.weixin.qq.com/s/FZhkBJrF62RiIVtuJcgOFg)

对于 UI 组件，无论是作为一种特殊的 OOP 实现，或是采纳函数式的组合提纯，都需要尽量减少对外部的依赖、排除改变参数或全局变量的副作用，并尽可能拥有唯一的职责。

#### [[

[2018-07-08 15:58] #66 closed, assigned to mirreal

[2018-07-09 08:09] CurtisCBS opened #67 "2018-07-16"

[2018-07-13 03:19] Jade05 commented on #67
#### [[译] 从设计师的角度看 Redux](https://zhuanlan.zhihu.com/p/39503680)

你是否知道 Redux 的真正威力远不止状态管理吗？你是否想要了解 Redux 的工作原理？让我们来深入介绍 Redux 到底能做些什么？为什么它是这样设计的？它的缺点有哪些？以及它与设计有哪些关联？

#### [CSS预编译器三剑客及PostCSS](https://zhuanlan.zhihu.com/p/38715068)

这篇文章包含两个部分，第一部分是个CSS预编译器：Sass、Less、Stylus，他们之间的对比，第二部分是现在大火的PostCSS。

#### [理解分布式系统中的缓存架构(上)](https://juejin.im/post/5b45cee0e51d45194b18cdbc)

本文主要介绍大型分布式系统中缓存的相关理论，

[2018-07-13 15:40] mirreal commented on #67
#### [Web Components in 2018](https://www.sitepen.com/blog/2018/07/06/web-components-in-2018/)

组件已成为前端开发工作流程的核心概念，而所谓的“Web components”实际上是一组技术，包括 Shadow DOM，自定义元素和 HTML 模板。直到现在，这些浏览器标准仍然存在很多问题。

#### [How to Quickly Prototype Apps with CSS Grid and CSS Variables](https://medium.freecodecamp.org/how-to-quickly-prototype-apps-with-css-grid-and-css-variables-8d3d96d68eaa)

文章展示了如何利用 CSS Grid 和 CSS 变

[2018-07-15 02:43] StevenX911 commented on #67
#### [深层属性，轻松提取](https://zhuanlan.zhihu.com/p/39751773)
本文所介绍的工具是 JavaScript 中获取深层嵌套对象的一种解决方案，同时也是 ES6 Proxy 与 TypeScript 结合的落地应用。

#### [精读《React 的多态性》](https://segmentfault.com/a/1190000015444857)
原文提到的多态是指多个相同结构对象，被拆分成了多个 Shape；而单态是指这些对象可以被一个 Shape 复用。
笔者以前也经历过从 Object.assign 到 Immutablejs 库，最后又回到解构新语法的经历，觉得在层级不深情况下解构语法可以代替 Immutablejs 库。
通过最近两篇精读的分析，我们需要重新思考这样做带来的优缺点，因为在 js 环境中，Object.assign 的

[2018-07-15 03:33] stoneyong commented on #67
#### [巧用 Typescript](https://zhuanlan.zhihu.com/p/39620591)
文章记录了Typescript 一些有趣、实用的写法。

#### [基于强边缘有效性统计的图像清晰度评价](https://mp.weixin.qq.com/s/qO-XWtYVWEA3hEnaEKeTeQ)
本文介绍了一种基于“强边缘有效性统计“的无参考图像清晰度评价方法，可用于视频封面提取等场景。

#### [深入学习Redis（3）：主从复制](https://www.cnblogs.com/kismetv/p/9236731.html)
文章中详细介绍Redis主从复制的方方面面，包括：如何使用主从复制、主从复制的原理、实际应用中需要注意的问题、主从复制相关的配置等。

[2018-07-15 12:29] CurtisCBS commented on #67
#### [一篇文章解决npm私有包频繁开发调试](https://segmentfault.com/a/1190000015580316)

如果使用过npm私有包进行合作，频繁发布和调试会浪费许多时间。通过npm link，yarn link可以有效的提高调试效率

#### [15 HTML element methods you’ve potentially never heard of](https://frontendfoc.us/link/49690/web)

一些不常用的HTML元素的方法。

#### [启动本地开发环境更快！webpack 动态入口构建的实现](https://webfe.kujiale.com/webpack-dong-tai-ru-kou-da-bao-de-shi-xian/?utm_source=tuicool&utm_medium=refer

[2018-07-18 12:01] #67 closed, assigned to CurtisCBS

[2018-07-18 12:02] stoneyong opened #68 "2018-07-23"
周刊推荐

[2018-07-20 08:23] Jade05 commented on #68
#### [闲话 CDN](https://zhuanlan.zhihu.com/p/39028766)

本文以科普的方式阐述了CDN相关知识，如果想要深入，在文章不少地方都给出了链接，可以进行针对性的深入阅读。

#### [微信小程序的下一步：支持NPM、小程序云、可视化编程、支持分包](https://mp.weixin.qq.com/s?__biz=MzUxMzcxMzE5Ng==&mid=2247489190&idx=1&sn=f10a16e2ac08c07c43cbdad76a1f2ec9)

微信公开课微信小程序技术专场在上海举行，会上，微信公布了面向开发者的技术规划，内容主要包括小程序技术能力与规划、小程序生态体系、小程序性能优化三个方面。

#### [LinkedIn Lite: A Server-Side Rendered PWA](https://engineer

[2018-07-20 16:00] mirreal commented on #68
#### [GraphQL 在微服务架构中的实践](https://draveness.me/graphql-microservice)

文章重点分析 GraphQL 在微服务架构中的使用以及在实践过程中遇到的棘手问题，并给出作者心中合理的 GraphQL 微服务架构的设计。

#### [使用CSS Grid的九大误区](https://www.w3cplus.com/css/9-biggest-mistakes-with-css-grid.html)

简单列举使用 CSS Grid 布局易于产生的误区，并给出正确的使用方式。

#### [Code Review 常见代码问题](https://www.cnblogs.com/lovesqcc/p/9271781.html)

分常见代码问题、可维护性问题、更难发现的错误、较轻微的问题四类，列出在代码审查时需要注意的问题。

[2018-07-21 08:58] stoneyong commented on #68
#### [神奇的CSS3混合模式](https://mp.weixin.qq.com/s/r-1irFIuYPgCJ5Qqzi1LDQ)
本文主要探究下 CSS3的混合模式制作的效果， 主要讲下css3 的mix-blend-mode和background-blend-mode两个属性。

#### [精读 《Nestjs 文档》](https://zhuanlan.zhihu.com/p/28621374)
本文是对 [Nestjs 文档 ](https://docs.nestjs.com) 精读的总结， 主要阐述了Nestjs的内容概要 和特性介绍。Nestjs是将 Typescript 与 Nodejs Framework 结合的最好的例子， 也将被长线看好，值的关注。

#### [React Router 4.x 开发，这些雷区我们都帮你踩过了](https://jdc.jd.

[2018-07-21 09:51] StevenX911 commented on #68
#### [深入理解flutter的编译原理与优化](https://www.yuque.com/xytech/flutter/sh4fbm)
本文将以一个简单的hello_flutter为例，介绍下Flutter相关原理及定制与优化。

#### [Mobile Apps That Run on the Desktop](https://feather-apps.com/)
The Feather platform will run Flutter apps on MacOS and Windows. So you can write a single app that runs on all major desktop and mobile devices.
Feather为 Flutter 写了 Windows 和 Mac 的渲染器。也就是说，Flutter 写好的 App 不仅能在

[2018-07-21 11:31] CurtisCBS commented on #68
#### [如何监控网页的卡顿？](https://zhuanlan.zhihu.com/p/39292837)

FPS 是来自视频或者游戏里的概念，即是每秒的帧数，代表视频或者游戏的流畅度，俗话说，就是“不卡”。通过浏览器的 requestAnimationFrame API获取渲染的频率以达到监控的目的

#### [普通程序员怎么理解日志系统](http://www.algorithmdog.com/loggingsystem?hmsr=toutiao.io&utm_medium=toutiao.io&utm_source=toutiao.io)

当我们在做系统开发时，日志系统是绕不开的话题。作为日志系统的最终使用者，我们会接触不同的日志系统。通过日志的输出，可以帮助快速定位问题。那么，我们普通程序员，也就是日志系统最终使用者，可以怎么理解日志系统。

#### [理解 Iter

[2018-07-22 03:06] StevenX911 commented on #68
#### [HashMap的工作原理](https://zhuanlan.zhihu.com/p/39186320)
我个人很喜欢这个问题，因为这个问题的深度和广度，同时在jdk1.8中，引入了红黑树解决hash碰撞及算法效率

[2018-07-22 06:44] StevenX911 commented on #68
#### [为什么能有上百万个Goroutines，却只能有上千个Java线程？](https://mp.weixin.qq.com/s/hWF-wPJXKjrCHPvxcMQ5rg)
操作系统线程模型与轻量级、用户空间的线程模型之间的转换在不断发生，未来可能还会继续 。对于高度并发的用户场景来说，这是唯一的选择。然而，它具有相当的复杂性。如果 Go 选择采用 OS 线程而不是采用自己的调度器和递增的栈模式的话，那么他们能够在运行时中减少数千行的代码。对于很多用户场景来说，这确实是更好的模型。复杂性可以被语言和库的编写者抽象出去，这样软件工程师就能编写大量并发的程序了。

[2018-07-25 00:35] StevenX911 opened #69 "2018-07-30"
#### [聊聊 Node.js RPC（一）— 协议](https://zhuanlan.zhihu.com/p/38012481)
本文基于Node对 RPC 通讯层协议进行基本的阐述

#### [聊聊 Node.js RPC（二）— 服务发现](https://zhuanlan.zhihu.com/p/40606909)
本文基于Node讨论一下 RPC 的服务发现（Service Discovery）

#### [深入理解RPC——你看或没看见 它都在那里](https://zhuanlan.zhihu.com/p/40188978)
读者应该可以深刻理解 RPC 在互联网企业技术中的重要地位。从技术复杂性角度，也应该可以明白为什么说对 RPC 技术的理解水平是评判一个程序员是不是高级程序员的重要标准之一。

[2018-07-27 09:42] Jade05 commented on #69
#### [如何监控网页崩溃？](https://zhuanlan.zhihu.com/p/40273861)

本文在如何监控网页崩溃上提出了一种基于Service Worker达到心跳检测目的的监控方案。

#### [5分钟彻底理解Object.keys](https://zhuanlan.zhihu.com/p/40601459)

这篇文章详细介绍了当Object.keys被调用时内部都发生了什么。

#### [A one year PWA retrospective](https://medium.com/@Pinterest_Engineering/a-one-year-pwa-retrospective-f4a2f4129e05)

The idea of building a “Progressive Web App” (PWA) is not new, but its

[2018-07-27 11:49] #68 closed, assigned to stoneyong

[2018-07-27 13:24] stoneyong commented on #69
#### [Webpack4 实战 React 和 Vue 项目](https://jdc.jd.com/archives/212580)
文章详细介绍使用webpack4 搭建React 和 Vue 项目开发环境过程， 讲解了webpack4 中一些主要插件功能和热更新使用。

####  [腾讯开源大规模 Node.js 微服务框架 Tars.js](https://www.oschina.net/news/98304/tencent-opensource-tarsjs)
Tars.js 是基于 Tars  体系研发出的， 以便用户在不改变异构系统整体架构的情况下快速搭建（迁移） Node.js 服务，并可非常方便的将原来的单一服务拆分为多个（逻辑）子服务。

#### [ 携程国际化进程中，是怎么做站点多语言处理的？](https://mp.weixin.qq.com/s/JIxeB

[2018-07-27 15:45] mirreal commented on #69
#### [Converting Images To WebP](https://www.smashingmagazine.com/2018/07/converting-images-to-webp/)

介绍将图像转换为 WebP 格式的多种方式。

#### [如何利用TensorFlow.js部署简单的AI版「你画我猜」图像识别应用](https://www.jiqizhixin.com/articles/072202)

本文创建了一个简单的工具来识别手绘图像， 并使用 TensorFlow.js 将其部署到浏览器上运行。

#### [如何回滚一次错误的合并](https://zhuanlan.zhihu.com/p/40220954)

通过具体场景描述如何完成回滚操作，并介绍 checkout、reset、revert 在撤销概念上的差异。

[2018-07-29 07:04] CurtisCBS commented on #69
#### [WebIDE：在浏览器中写代码的时代即将来临？](https://mp.weixin.qq.com/s?__biz=MjM5MDE0Mjc4MA==&mid=2651008292&idx=1&sn=9ea83174885b14d39ba75e9cdc60f075)

去年 12 月，在号称云计算风向标的 AWS re:Invent 大会上，AWS 宣布推出 Cloud9，这是用于编写、运行和调试代码的基于云的 IDE，它可以直接运行在浏览器中，相对于本地的 IDE，可以称它为 WebIDE

#### [如何在Node.js中优化服务器端渲染？](https://mp.weixin.qq.com/s/ODVQVsl9m8V9RgYwLbuSrA)

服务器端渲染（SSR）是计算密集型的。Node.js 中的用户代码运行在单个线程上，因此可以并发执行计算操作（与 I/O 操作相反

[2018-07-31 02:08] Jade05 opened #70 "2018-08-06"

[2018-07-31 02:08] #69 closed, assigned to StevenX911

[2018-08-02 10:16] Jade05 commented on #70
#### [JavaScript 为什么快——第一篇？](https://zhuanlan.zhihu.com/p/41130608)

为啥升级了 Node.js 版本，速度会提升？
为啥 Node.js 代码启动时那么慢，运行起来了会变快？
V8 JIT 是啥？

#### [CSS 字体新玩法之彩色字体](https://zhuanlan.zhihu.com/p/40865068)

如果你们设计师想在某些特别的专题活动中使用下图的字体作为标题字体进行展现，怎么办呢？做成图片咯。然后你可能会遇到这几个问题：不同屏幕下的适配，要是只做一种尺寸的图，放大或缩小后的效果都不太好。直接做成 SVG？好像不能复制到 Word 里面加粗啊，也就是说，这种做法使得这些“文字”本身失去了真实文字该有的能力。

此时彩色字体的好处就显现出来了。既能达到视觉效果上的要求，还拥有常规文字的功能，能够复制，

[2018-08-03 12:29] mirreal commented on #70
#### [We’re under attack! 23+ Node.js security best practices](https://medium.com/@nodepractices/were-under-attack-23-node-js-security-best-practices-e33c146cb87d)

包含 23 条 Node.js 安全最佳实践清单，来自目前最流行的文章总结。

#### [The Cost Of JavaScript In 2018](https://medium.com/@addyosmani/the-cost-of-javascript-in-2018-7d8950fbb5d4)

性能优化是一件需要持续关注的话题，JavaScript 开销 18年版，介绍当前现状以及可以着力优化的点。

#### [如何正确使用 async/await]

[2018-08-03 13:18] stoneyong commented on #70
#### [Webpack HMR 原理解析](https://zhuanlan.zhihu.com/p/30669007)
文章详细阐述了 HMR 的工作原理，展现了 HMR 整个的工作流程。

#### [TypeScript 3.0重磅发布，新特性详解！](https://mp.weixin.qq.com/s/qLyXpECAUai26fWUkUuxpg)
微软正式发布 TypeScript 3.0，这是 TypeScript 之旅的一个新的里程碑！新版本引入了一种新的灵活且可扩展的方式来构建项目、对操作参数列表提供了更强大的支持、新的强制显式检查类型、更好的 JSX 支持、更好的错误 UX等。

#### [写好shell脚本的13个技巧](http://www.infoq.com/cn/articles/13-tips-tricks-for-writing-shell-scrip

[2018-08-05 02:41] CurtisCBS commented on #70
#### [深入解析ES Module](https://zhuanlan.zhihu.com/p/40733281?utm_source=tuicool&utm_medium=referral)

同构项目常会遇到对cjs和esm的模块的混合使用，这中间webpack和babel帮你做了哪些事?

#### [用户体验法则](https://mp.weixin.qq.com/s/mGjtX1frBiHQoCGVNpDE9g)

"设计师在思考和改善用户体验时必须考虑的法则或设计标准的集合"

#### [Chrome Extension 通信机制](https://mp.weixin.qq.com/s/pfZgw2YOPU9ZEyfkQGsDQg)

Chrome Extension的background，popup，content_script三者之间的通信机制。

[2018-08-05 06:46] StevenX911 commented on #70
#### [图解 React Native](https://mp.weixin.qq.com/s/44wSNY5Uazk2watiOiPeVw)
在 图解 React中，我们介绍了什么是 React 以及是什么使得它如此特别。今天我们将介绍 React Native: 它是做什么的？它出自何处？它和 React 有哪些不同之处？以及何为它如此令人振奋。

#### [ssh 端口为什么是 22？(英)](https://www.ssh.com/ssh/port)
SSH 的作者回忆， ftp 端口是21，telnet 的端口是23，他就挑了中间剩下的22。

#### [PrePack 的最新 PR(英)](https://github.com/facebook/prepack/pull/2264)
最新 PR，把编译后端从 Node 改成了LLVM，使得 JS 可以编译成 webAss

[2018-08-06 04:09] #70 closed, assigned to Jade05

[2018-08-06 05:23] mirreal opened #71 "2018-08-13"

[2018-08-10 02:06] Jade05 commented on #71
#### [Node 案发现场揭秘 —— Coredump 还原线上异常](https://zhuanlan.zhihu.com/p/41178823)

Node.js 发展到今天，已经被越来越广泛地应用到 BFF 前后端分离 、 全栈开发 、 客户端工具 等领域。然而，相对于应用层的蓬勃发展，其 Runtime 对于绝大部分前端出身的开发者来说，处于黑盒的状态，这一点并没有得到很好的改善，从而也阻碍了 Node.js 在业务中的应用和推广。

本文笔者目前就职于阿里巴巴 Alinode 团队，在过去几年里，亲身经历过的很多线上故障，本文对其个人经验进行了分享。

#### [谷歌Dart2正式发布，目标成为移动与Web开发主流语言！](https://mp.weixin.qq.com/s/y9_gjWZrRtMuVxS2yVA6KQ)

Google Dart 产品经理宣布 Dart

[2018-08-10 08:03] CurtisCBS commented on #71
#### [Node.js 最佳实践](https://github.com/i0natan/nodebestpractices/blob/master/README.chinese.md)

Node大型项目的最佳时间，支持多语言阅读。

#### [2018年你需要知道的13个JavaScript工具库](https://zhuanlan.zhihu.com/p/38795426)

JavaScript依然是2018年最受欢迎、最流行的编程语言，所以它的生态系统也十分完善。

#### [WebAssembly：系统编程语言的逆袭](https://insights.thoughtworks.cn/webassembly-system-programming-language/)

去年 11 月 13 日，Mozilla 在其官方博客上发表了一篇文章，WebAssembly sup

[2018-08-10 13:29] stoneyong commented on #71
#### [聊聊CSS中的层叠相关概念](https://www.w3cplus.com/css/understand-css-stacking-context-order-z-index.html)
文章总结了CSS中的层叠相关的知识， 对 文档流（Normal Flow）、格式化上下文（Formatting Context）、层叠上下文（Stacking Context）、层叠水平（Stacking Level） 和 层叠顺序（Stacking Order）等相关概念也有介绍， 可以充分理解z-index的运用。

#### [React 16 新特性](https://mp.weixin.qq.com/s/4SsIqByQaqdDJJLgtgUr3w)
React团队在react16中做出了一些较大的改动， 本文讲解了react16的新特性以及他们的用法特点， 主要是围绕着 reac

[2018-08-11 02:44] StevenX911 commented on #71
#### [前端性能优化之 Composite](https://zhuanlan.zhihu.com/p/41472193)
一个 Web 页面的展示，简单来说可以认为经历了 JavaScript/Style/Layout/Paint/Composite 几个步骤。本文主要深入 Composite 部分，从渲染原理、Composite 原因以及如何针对其进行性能优化等进行展开。

#### [CSS 漏洞泄漏用户信息](https://www.bleepingcomputer.com/news/security/css-is-so-overpowered-it-can-deanonymize-facebook-users/)
通过CSS漏洞窃取用户信息，令人叹为观止。黑客诱导用户访问一个恶意网页，里面嵌入 iframe 加载用户 facebook 主页。然后用一个单像素图片，逐一放在 i

[2018-08-11 02:53] mirreal commented on #71
#### [朴素的DevOps价值观](https://mp.weixin.qq.com/s/r54IpCLMofoH5DGxwqZe8g)

从 DevOps 涉及到的几个维度出发：业务、架构与技术；人、流程与工具；原则，方法与实践，总结出朴素的 DevOps 价值观。

#### [Why website body text should be bigger, and ways to optimize it.](https://blog.marvelapp.com/body-text-small/)

为什么认为很多站点的字体都过于小，更大的正文文本的好处是什么，以及如何赖静星优化。

#### [观点 | 蚂蚁金服玉伯：我们是如何从前端技术进化到体验科技的](https://mp.weixin.qq.com/s/IYddaaw2ps1wR2VT1dZWPg)

玉伯分享了从前端一路进

[2018-08-12 11:41] #71 closed, assigned to mirreal

[2018-08-13 02:57] #49 closed, assigned to nobody

[2018-08-13 02:58] #7 closed, assigned to nobody

[2018-08-13 05:16] CurtisCBS opened #72 "2018-08-20"
#### [滚动视差？CSS 不在话下](http://www.cnblogs.com/coco1s/p/9453938.html)

视差滚动（Parallax Scrolling）是指让多层背景以不同的速度移动，形成立体的运动效果，带来非常出色的视觉体验。 作为网页设计的热点趋势，越来越多的网站应用了这项技术。通常而言，滚动视差在前端需要辅助 Javascript 才能实现。当然，其实 CSS 在实现滚动视差效果方面，也有着不俗的能力。

#### [Node.js 中的 Stream](https://webfe.kujiale.com/nodejsstream/)

对Node四种流：Readable，Writable，Duplex，Transform有清晰的解释及对类似于管道可以接受或输出流式数据的容器进行了介绍

#### [koa2 源码概览](https://github.

[2018-08-15 05:53] Jade05 commented on #72
#### [Visual Studio Code 1.26 发布，带来许多新特性](https://mp.weixin.qq.com/s/tTGEuH7bY6CFk3-3_nqVug)

Microsoft已发布了开源编辑器Visual Studio Code的每月更新，Visual Studio Code于2018年7月发布，最显著的变化是编辑器窗口标题下方的新导航栏。应用快速修复功能解决问题，使用扩展等功能。

#### [改变用户体验的滚动新特性](https://zhuanlan.zhihu.com/p/41687572)

本文介绍了CSS中为浏览器滚动提供的相关新特性究竟能给用户带来哪些新的体验。

#### [CDN技术详解](https://www.cnblogs.com/losbyday/p/5843960.html)

本文是有关《CDN技术详解》》一书的读书笔记，作者

[2018-08-17 14:38] mirreal commented on #72
#### [写给工程师的十条精进原则](https://tech.meituan.com/10_principles_for_engineers.html)

从业 8 年的工程师总结的关于工作与学习的十条基本原则，希望能够对大家的职业发展起到一定的帮助和参考。

#### [RxJava 在闲鱼系统吞吐量提升上的实践](https://mp.weixin.qq.com/s/7-h2w_iXrM5861iGTpftNQ)

本文介绍了响应式编程在闲鱼的应用现状，在改造中取得很不错的性能成果。

#### [Lua 虚拟机的封装](https://blog.codingnow.com/2018/08/luavm_bootstrap.html)

在开发客户端引擎框架过程中针对 Lua 虚拟机的封装的一种思路与实现。

#### [Art of debugging with Chrome De

[2018-08-18 04:43] StevenX911 commented on #72
#### [前端下半场：构建跨框架的 UI 库](https://mp.weixin.qq.com/s/WUl_G7c1lCDqjUj4s2zZhQ)
在这篇文章里，我们讨论的是 Web 组件的下半场：跨框架的 UI 库。

#### [微前端的设计理念与实践初探](https://zhuanlan.zhihu.com/p/41879781)
本文节选自 Web 开发导论/微前端与大前端，着眼阐述了微服务与微前端的设计理念以及微服务的潜在可行方案，需要致敬的是，本文的很多考虑借鉴了 Phodal 关于微前端的系列讨论以及 Web Architecture Links 中声明的其他文章，此外结合了自己浅薄的考量与实践体悟，框架代码可以参阅 Ueact/micro-frontend。

#### [集Python、C++、R为一体！Julia 1.0重磅发布](http://www.infoq

[2018-08-18 16:19] stoneyong commented on #72
#### [重磅！Vue CLI 3.0正式发布，带来多项重大更新](https://mp.weixin.qq.com/s/hfr2Q3FXZFIdqM_r8HrLwQ)
Vue CLI 3.0 与其他的版本完全不同，它经历了重构，目的是：尽可能减少现代前端工具在配置上的烦恼，尤其是在开发者将多个工具混合使用时; 尽可能在工具链中加入最佳实践，并让其成为 Vue 应用程序的默认实践。

#### [Node.js 知多少](http://blog.richardweitech.cn/2018/08/11/node-questions/)
在这篇文章中，我将平时遇到或者搜寻到的一些 Node 相关问题，通过问答的形式，作者通过总结方式分享了自己学习过程。

#### [神奇的 conic-gradient 圆锥渐变](http://web.jobbole.com/91586/)
conic-

[2018-08-19 13:24] #72 closed, assigned to CurtisCBS

[2018-08-22 14:13] stoneyong opened #73 "2018-08-27"
周刊推荐

[2018-08-24 06:35] CurtisCBS commented on #73
#### [CSS垂直居中技巧，我只会23个，你会几个？](https://mp.weixin.qq.com/s/CvLXXDV_0J-rF-85AWjgsw)

网页CSS的垂直居中需求始终没有停过，而其困难度也始终没有让人轻松过，经过了每位开发先烈的研究后，据说CSS的垂直居中技巧已达到近十种之多，但始终鲜为人知，部分公司甚至将CSS的垂直居中技巧当成面试题，其重要性可见一斑

#### [干货 | 关于Apple Pay接入和开发，看这一篇就够了](https://mp.weixin.qq.com/s/ZDOhluJqpFLusdzXk35cHw)

Apple Pay 是苹果 2014 年发布的 iOS8 开始支持的一项新功能，2016 年 iOS9 开始支持中国银联卡，Apple Pay 凭借其支付安全，简洁快速的用户体验，开发接入简单，在国内市场占据了一席之地。

#### [

[2018-08-24 09:30] Jade05 commented on #73
#### [如何精确统计页面停留时长](https://mp.weixin.qq.com/s/EAakxFjIEl-6YwFnqgPPjQ)

页面停留时间（Time on Page）简称 Tp，是网站分析中很常见的一个指标，用于反映用户在某些页面上停留时间的长短，传统的Tp统计方法会存在一定的统计盲区，比如无法监控单页应用，没有考虑用户切换Tab、最小化窗口等操作场景。 基于上述背景，重新调研和实现了精确统计页面停留时长的方案，需要 兼容单页应用和多页应用，并且不耦合或入侵业务代码。

#### [WorkerDOM: Concurrency for JavaScript programming with the DOM](https://www.ampproject.org/latest/blog/workerdom/)

在AMP技术标准下无法直接引入第三方JS的局限一直广被诟病，即

[2018-08-24 13:50] mirreal commented on #73
#### [CSS混合模式高级应用](http://www.w3cplus.com/css/advanced-effects-with-css-background-blend-modes.html)

CSS 混合模式特性是一项非常强大的特性，利用这些特性可以直接在客户端实现类似专业图像处理软件的一些效果。文章通过几个示例，向大家展示了 CSS 混合模式的强大之处，以及可使用的场景。

#### [技术的学习与练习](https://www.phodal.com/blog/how-to-learn-skill/)

作者在这里介绍一种自己在学习和应用新技术的一种模式，用以获取相应的经验，并分享在一些练习技巧。

#### [在 Linux 中使用 top 命令的建议](https://linux.cn/article-9937-1.html)

通过这篇教程提升你的 top 命令的知识。

[2018-08-25 03:32] StevenX911 commented on #73
#### [聊聊工程师的影响力](https://mp.weixin.qq.com/s/Oj1g2BJOgy129Zjds91xLw)
作为一名工程师，你是如何获得影响力的？什么是影响力，它的根源是什么，你该如何运用它或者怎样会失去它？它与管理者的权力和影响力有什么不同？

#### [如何实现靠谱的分布式锁？](https://mp.weixin.qq.com/s/emEuhftLbAQmdn1LQYOSBw)
分布式锁，是用来控制分布式系统中互斥访问共享资源的一种手段，从而避免并行导致的结果不可控。基本的实现原理和单进程锁是一致的，通过一个共享标识来确定唯一性，对共享标识进行修改时能够保证原子性和和对锁服务调用方的可见性。由于分布式环境需要考虑各种异常因素，为实现一个靠谱的分布式锁服务引入了一定的复杂度。

#### [Github上发布一天Star数破4K的项目了解一下](https

[2018-08-25 08:56] stoneyong commented on #73
#### [[译] RxJS 高级缓存](https://zhuanlan.zhihu.com/p/42264563)
本文使用 RxJS 和 Angular 提供的工具来开发一个高级缓存机制， 详细的介绍了在大量使用 Observables的应用中如何创建高级缓存机制。

#### [三角函数在前端动画中的应用](https://w3ctrain.com/2018/08/20/trigonometry-you-must-know/)
本文展示了常用的三角函数在前端动画中的应用

#### [简析面向切面编程（AOP）](https://webfe.kujiale.com/aop-programming/)
简述了面向切面编程的思想 ，以及在前端领域其使用的场景和应用， 深入理解后在开发中对代码的结构划分更加立体。

[2018-08-28 17:05] StevenX911 opened #74 "2018-09-03"

[2018-08-30 08:48] CurtisCBS commented on #74
#### [Life of a Pixel，让你更透彻知道浏览器是如何工作](https://mp.weixin.qq.com/s/87OYpou4ynpvYlcExEO40w)

Life of a Pixel这个演讲一开始是Chrome组新人入职的学习资料，给新人一个从高层次去看Chromium如何从HTML / CSS / JS 显示到屏幕的网页。这个演讲一直在更新，所以大家可以通过看这个演讲更新自己对Chromium的理解。展示Chromium从HTML到DomTree，整合CSS到LayoutTree，排版到PaintTree之后转成LayerTree转到compositing线程分块，光栅化到GPU，最后显示到屏幕。

#### [JavaScript集成Sentry](http://www.bugs.cc/2018/08/24/JavaScript%E9%9B%86%E6%8

[2018-08-31 08:32] #73 closed, assigned to stoneyong

[2018-08-31 08:36] Jade05 commented on #74
#### [蚂蚁金服移动端可视化解决方案 F2 3.2 发布， 因你而动](https://zhuanlan.zhihu.com/p/43130006)

F2，一个专注于移动，开箱即用的可视化解决方案，完美支持 H5 环境同时兼容多种环境（node, 小程序，weex）。完备的图形语法理论，满足你的各种可视化需求。专业的移动设计指引为你带来最佳的移动端图表体验。

#### [一口（很长的）气了解 babel](https://zhuanlan.zhihu.com/p/43249121)

说到 babel，一连串名词会蹦出来：

babel-cli
babel-core
babel-runtime
babel-node
babel-polyfill
...
这些都是 babel 吗？他们分别是做什么的？有区别吗？

#### [唯品会的Service Mesh三年进化史](http:/

[2018-09-01 03:02] mirreal commented on #74
#### [Babel 7 Released](https://babeljs.io/blog/2018/08/27/7.0.0)

babel 7 版本发布，并提供工具自动完成升级。更快的速度，以及一系列新特性，新的 JavaScript 配置文件，对 TypeScript 的支持等。

#### [Best Practices For Mobile Form Design](https://www.smashingmagazine.com/2018/08/best-practices-for-mobile-form-design/)

作为设计师应该如何使填写表单的过程尽可能简单，创建快速且顺滑的交互体验，提高表单的可用性，文章列举了一系列最佳实践

#### [独角兽的CTO是怎么炼成的](https://mp.weixin.qq.com/s/tm4w0bTC3JpAyOWalOSk

[2018-09-01 07:16] StevenX911 commented on #74
@Jade05 babel文章的链接不对

[2018-09-01 10:34] stoneyong commented on #74
#### [前端监控和前端埋点方案设计](https://segmentfault.com/a/1190000015864670)
文章总结了 前端埋点的场景和常用埋点方案， 包括对埋点方案选型和前端上报方案设计。

#### [如何更愉快地使用rem —— 别说你懂CSS相对单位](http://wuyuying.com/blog/archives/css-in-depth-stop-thinking-in-px/)
作者分享了对CSS 中相对单位的应用， 包含对em和rem的区别以及如何对它们进行设置，使页面更“响应式”。

#### [团队协作中的 Github flow 工作流程](https://zhuanlan.zhihu.com/p/39148914)
文章介绍一套基于 Github flow 的 Git 操作流程，可以让大家跟规范的使用 Git 操作流程，规范的 Commi

[2018-09-01 14:02] Jade05 commented on #74
@StevenX911 已更正～

[2018-09-02 01:40] StevenX911 commented on #74
#### [使用 JavaScript 的代价！](https://mp.weixin.qq.com/s/0RMTdFa82kTjXdJ_x6vYWg)
建立交互式网站包括向用户发送 JavaScript 。通常，太多了。你是否经历过在一个手机页面上，它看起来已经加载好了，但是点击一个链接或者试图滚动页面的时候，什么也没发生？
一字节又一字节，JavaScript 仍然是我们发送给手机的代价最大的资源，因为它会很大程度上延迟交互。
现在我们讨论一些策略，可以让你高效地传送 JavaScript ，同时给用户提供一个有价值的体验。

#### [揭密React setState](https://zhuanlan.zhihu.com/p/43522965)
学过react的人都知道，setState在react里是一个很重要的方法，使用它可以更新我们数据的状态，本篇文章从简单使用到深入到se

[2018-09-03 06:14] image72 commented on #74
一口（很长的）气了解 babel
Babel 7 Released
前端监控和前端埋点方案设计
如何更愉快地使用rem —— 别说你懂CSS相对单位
团队协作中的 Github flow 工作流程
使用 JavaScript 的代价！
揭密React setState

这个几个以前就发过 或者其他周刊发过了已经

[2018-09-04 08:12] Jade05 opened #75 "2018-09-10"

[2018-09-04 08:13] #74 closed, assigned to StevenX911

[2018-09-07 15:46] mirreal commented on #75
#### [The Complete CSS Demo for OpenType Features](https://sparanoid.com/lab/opentype-features/)

一份很详尽的演示，包含各种字体的不同 font-feature-settings 配置，利用这项新特性，可以更好地控制文字的展示效果。

#### [从 Sun 离职后，我“抛弃”了 Java，拥抱 JavaScript 和 Node](http://www.infoq.com/cn/articles/why-is-a-java-guy-so-excited-about-node-js-and-javascript)

作者以自身的经验对比在使用 Java 和 Node.js 上的差异，包含语言特性，生态系统等，并最终喜欢上了使用 Node.js 编程时的那种自由的感觉。

#### [子域名劫持

[2018-09-08 17:21] stoneyong commented on #75
#### [用微前端的方式搭建类单页应用](https://juejin.im/post/5b921b415188255c9031b0c3)
阐述了“微前端类单页应用”的概念， 介绍了基于React技术栈和微前端方式搭建的“类单页应用”HR业务系统。

#### [Swagger 搭建 API 文档管理平台](http://beckjin.com/2018/09/02/swagger/)
API 文档是前后端对接的基本，大家可能也尝试过各种 API 接口管理的工具， 本文介绍了Swagger 搭建API文档管理平台的使用。

#### [ ES6 元编程（Proxy & Reflect & Symbol）](https://segmentfault.com/a/1190000016133613)
文章介绍了  元编程（Metaprogramming）的概念， 并且整合一些关于ES6 元编程

[2018-09-09 03:00] StevenX911 commented on #75
#### [开源 | 蚂蚁金服 AntV G6 2.1： 一路伴你同行](https://mp.weixin.qq.com/s/uH66SJHTcND3UwTKNdVV_w)
我们今天要分享的G6 是一个简单、易用、完备的图可视化引擎。它在高定制能力的基础上，提供了一系列设计优雅、便于使用的图可视化解决方案，帮助开发者高效搭建属于自己的图分析或图编辑器应用。

#### [Chrome 浏览器 10 周年](https://techcrunch.com/2018/09/04/chrome-gets-a-new-look-for-its-10th-birthday/)
十年前，主流浏览器还是 IE6，JS 仍然是一种玩具语言，一大堆无法调试的运行时错误。谷歌决定做自己的浏览器，为此特别开发了底层引擎 V8。发布的那天，所有人都震惊了，原来JS可以运行得这么快...... 后来，V8 导致了

[2018-09-09 03:41] CurtisCBS commented on #75
#### [Removing jQuery from GitHub.com frontend](https://githubengineering.com/removing-jquery-from-github-frontend/)

Github已经在Github.com网站完全移除jQuery，这里介绍了他们如何逐步对jQuery进行移除以及采用的依赖库。

#### [Node 10.x Timers Can Fail After 25 Days (But Node 10.9 Fixed It)](https://github.com/nodejs/node/issues/22149)

如果你在使用Node 10.x版本，可能回遇到setInterval未达到预期的执行结果。

#### [前端要凉？微软开源Sketch2Code，草图秒变代码](http://www.infoq.

[2018-09-09 07:11] Jade05 commented on #75
#### [Git 误操作救命篇一： 如何将改动撤销？](https://zhuanlan.zhihu.com/p/42929114)

笔者本来打算在一篇文章中介绍全基本的误操作解决方式，但奈何每一种方式都扩充较多，为了让大家更理解，本篇只着重讲解两个方面的误操作。

- commit - 分支提交错误
- reset - 误删代码

#### [用500行纯前端代码在浏览器中构建一个Tableau](https://zhuanlan.zhihu.com/p/36789323)

在Gartner最新的对商务智能软件的专业分析报告中，Tableau持续领跑。Microsoft因为PowerBI表现出色也处于领导者象限。而昔日的领导者像SAP，SAS，IBM，MicroStrategy等逐渐被拉开了差距。

#### [卡通渲染及其相关技术](https://zhuanlan.zhihu.

[2018-09-10 02:25] #75 closed, assigned to Jade05

[2018-09-10 02:59] mirreal opened #76 "2018-09-17"

[2018-09-14 07:04] Jade05 commented on #76
#### [这可能是把ZooKeeper概念讲的最清楚的一篇文章](https://mp.weixin.qq.com/s/dgpyjXNyHYG_vxJDeMaBYw)

如果没有学过 ZooKeeper，那么本文将会是你进入 ZooKeeper 大门的垫脚砖；如果你已经接触过 ZooKeeper ，那么本文将带你回顾一下 ZooKeeper 的一些基础概念。

#### [【译】Don't Block the Event Loop](https://zhuanlan.zhihu.com/p/44439782)

如果你编写的代码并不只是一行命令调用那么简单，那么阅读本篇指南可以帮助你写出高性能、更安全的程序。

### [现代浏览器内部揭秘](https://juejin.im/post/5b9b0932e51d450e9059c16a)

本文从高级视角对浏览器架构与多进程架构的优点进

[2018-09-14 14:17] mirreal commented on #76
#### [React 进阶设计与控制权问题](https://zhuanlan.zhihu.com/p/44385978)

本文以 React 生态举例说明控制权的设计思想，控制权与语言和框架无关，但与编码息息相关，直接决定了编程体验和开发效率。

#### [聊聊我对现代前端框架的认知](https://juejin.im/post/5b96170a5188255c68156383)

现代前端框架存在的根本原因是保持 UI 与状态同步，从早期命令式转为声明式，然后抽象出框架来完成复杂

#### [面向体验的重构优化](https://juejin.im/post/5b96447bf265da0aa81bdee1)

文章列举了认为可以从用户体验角度去做的几点重构优化，以及如何利用数据去证明优化的。

[2018-09-15 05:31] StevenX911 commented on #76
#### [Twitter的PWA版即将来临，原生开发要凉凉？](https://zhuanlan.zhihu.com/p/44081330)
目前，Twitter正在小范围测试新版本，这个版本将会全面支持PWA。

新版本的URL地址是：https://mobile.twitter.com

#### [高并发中nginx较优的配置](https://segmentfault.com/a/1190000016385662)
本文列举了nginx中一些对高并发比较好的配置优化

#### [如何搭建一个私有的 CDN？](https://pasztor.at/blog/building-your-own-cdn)
大部分情况下，我们使用市场上现有的 CDN 服务。但是，你也可以自己搭一个，这篇文章教你怎么做。
PS: 阅读此文需要具备一定的DNS和HTTPs知识储备，文章最后作者说了AMP

[2018-09-15 15:13] stoneyong commented on #76
#### [操作系统是如何管理内存的](http://limboy.me/tech/2018/09/14/os-memory.html)
 本文总结[Operating Systems: Three Easy Pieces](http://pages.cs.wisc.edu/~remzi/OSTEP/) 这本书的内存管理部分， 可以了解到这些底层的运行机制，还可以学到不少复杂系统的应对策略。

#### [rxjs学习入门心得(一)Observable可观察对象](https://www.jianshu.com/p/0ccfb99f6713)
对于响应式编程来说，RxJS 是一个不可思议的工具,， 本文总结刚开始学习RxJS 一些知识点， 可以了解它的内部工作原理，以及 Observable、operator 是如何运作的。

[六十行代码完成 四则运算 语法解析器](https://zh

[2018-09-16 01:56] StevenX911 commented on #76
@stoneyong 第二篇上周已经推荐过来

[2018-09-16 09:55] CurtisCBS commented on #76
#### [哪门编程语言更赚钱？看看 Stack Overflow 的最新调查](https://mp.weixin.qq.com/s/vF9Jfy2MfPw2W0L8_aHzlA)

Stack Overflow 2018 年最新的薪资计算器已正式推出。最新的计算器除了增加新的国家和地区之外，还更新了数字数据。更新后的薪资计算器新增了 8 个国家和地区的数据，以及更能反映开发者收入的最新数据。

#### [不懂高性能的负载均衡设计？没关系，架构师带你飞](https://mp.weixin.qq.com/s/0AlKccc6bY8dx8qgLDfpdg)

在软件系统的架构设计中，对集群的负载均衡设计是作为高性能系统优化环节中必不可少的方案。负载均衡本质上是用于将用户流量进行均衡减压的，因此在互联网的大流量项目中，其重要性不言而喻。

#### [[译文]如何避开 async/awai

[2018-09-20 05:42] #76 closed, assigned to CurtisCBS

[2018-09-20 05:44] CurtisCBS opened #77 "2018-09-24"
#### [二维码扫描优化](https://techblog.toutiao.com/2018/09/18/untitled-53/)

提高二维码扫描体验，优化扫描性能和交互体验。

#### [AWS Lambda + GitHub API + Google Sheet = 自動化簽到系統](https://blog.techbridge.cc/2018/09/14/lambda-and-github-api/)

使用AWS Lambda + GitHub API + Google Sheet提供的服务，快速搭建一个自动签到系统。

#### [精准操控的滚动体验，浅谈新标准 Scroll Snap](https://juejin.im/post/5ba079e86fb9a05d1227fddb)

在最近更新的 Chrome 69 稳定版中，全面支持了 CSS Scroll Sn

[2018-09-21 07:46] Jade05 commented on #77
#### [一文读懂前端缓存](https://zhuanlan.zhihu.com/p/44789005)

说起前端缓存，时常听人家说 Cache-Control, ETag, max-age 等，但偶尔也会听到别人讨论 memory cache, disk cache 等。那这两种分类体系究竟有何关联？是否有交叉？

#### [从单机到2000万 QPS 并发的 Redis 高性能缓存实践之路](https://juejin.im/entry/5ba07c9c5188255c7663eecb)

知乎存储平台团队基于开源Redis 组件打造的知乎 Redis 平台，经过不断的研发迭代，目前已经形成了一整套完整自动化运维服务体系，提供很多强大的功能。本文作者陈鹏是该系统的负责人，本次文章深入介绍了该系统的方方面面，值得互联网后端程序员仔细研究。

#### [2018 Google

[2018-09-22 02:44] StevenX911 commented on #77
@Jade05 第二篇我记得传勇已经推荐过了，[ELSE 技术周刊(2018.09.03期)](https://zhuanlan.zhihu.com/p/43664575)

原文PPT在[这里](https://docs.google.com/presentation/d/1i1Brb5FTmjStDpnUeKBphKZOJVjZzpM_rv5Wb3TMMtU/edit#slide=id.g3c8accb579_0_0)

[2018-09-23 02:20] Jade05 commented on #77
已修改 @StevenX911

[2018-09-23 07:18] StevenX911 commented on #77
#### [为什么数据存储的未来（仍然）是磁带？](https://spectrum.ieee.org/computing/hardware/why-the-future-of-data-storage-is-still-magnetic-tape)
根据统计，IT 行业产生的数据每年增加30％至40％，但是硬盘的容量增长率达不到这一速度的一半。幸运的是，大部分数据不需要立即访问。对于这样的情况，磁带是完美的解决方案。

#### [程序员如何预估自己的项目开发时间？](https://segmentfault.com/a/1190000016481368)
对于工程师来说，掌握时间估算是一项必备技能，这意味着你是专业、稳定而高效的开发者。

#### [2018年，这些UI设计趋势正在流行](http://www.open-open.com/lib/view/open1534809012

[2018-09-23 11:22] stoneyong commented on #77
#### [React性能分析利器来了](https://juejin.im/post/5ba1f995f265da0a972e1657)
React16.5正式在devtool中加入了Profiler功能，用于收集每次变更导致的渲染时间，帮助开发者发现潜在的性能问题，有助于开发更高性能的React应用

#### [什么是函数式编程思维？](https://www.zhihu.com/question/28292740/answer/40336090)
最近项目中用到了函数式编程的编程范式， 恶补了一下这方面的知识， 这篇知乎的回答很好的阐述了什么是函数式编程，对其 概念和特性都有详细的介绍， 可作为入门篇。

#### [Node.js - 200 多行代码实现 Websocket 协议](https://segmentfault.com/a/1190000016467409)
本文记

[2018-09-24 13:53] mirreal commented on #77
#### [EggJS 10000 Star + 2 years ✨✨✨](https://zhuanlan.zhihu.com/p/45143762)

阿里 Node.js 的核心基础框架 Egg 已经开源 2 年，文章分享团队过去 9 个月里的产出和数据，以及未来的规划。

#### [你拆分JS代码的方法可能是错的](https://mp.weixin.qq.com/s/a946nG0oNYnDBMMwgtDBpA)

这篇文章里介绍了应该如何根据场景选择文件分割策略，以及如何实现，去满足网站的需求，以最佳的方式向用户发送资源文件。

#### [What makes a good front-end developer?](https://css-tricks.com/what-makes-a-good-front-end-developer/)

关于业界从业人员如何定义一名好

[2018-09-24 13:53] #77 closed, assigned to mirreal

[2018-09-27 06:29] stoneyong opened #78 "2018-10-01"
周刊推荐

[2018-09-29 03:21] mirreal commented on #78
#### [The Complete Guide to Lazy Loading Images](https://css-tricks.com/the-complete-guide-to-lazy-loading-images/)

本文介绍了图片延迟加载的概念，以及如何实现的一些方法，以此提升页面加载和渲染速度。

#### [Migrating from Underscore to Lodash](https://blogs.dropbox.com/tech/2018/09/migrating-from-underscore-to-lodash/)

如何科学有效地对已有代码进行技术栈的升级与迁移。

#### [10 practices for readable code](https://jason.pureconcepts.net/2018/09/practices-write-

[2018-09-29 12:39] Jade05 commented on #78
#### [顶尖开发者们的实战分享：如何有理有据地做产品决策](https://mp.weixin.qq.com/s/qbI9q5YZYwImIIXH1sej3w)

产品决策绝不是件容易的事情。在大部分的公司里，做决定有时候还需要考虑到很多其他的因素。有时候会有组织内部竞争者的意见，团队领导或是老板个人的看法，甚至有时候是自己想试试新的方案。有时候阻止您做出理性决策的最大障碍来自您的 CEO 或 CFO，因为他们的想法通常您很难拒绝。

既然这是个常见性的问题的话，那么，成功的 app 开发者们是如何应对那些拍脑袋想出的产品决策的呢？

#### [精读《12 个评估 JS 库你需要关心的事》](https://segmentfault.com/a/1190000016504733)

作者给出了从 12 个角度全面分析 JS 库的可用性，分别是： 特性、稳定性、性能、包生态、社区、学习

[2018-09-30 07:49] StevenX911 commented on #78
#### [webpack启动代码源码解读](https://segmentfault.com/a/1190000016524677)
虽然每天都在用webpack，但一直觉得隔着一层神秘的面纱，对它的工作原理一直似懂非懂。它是如何用原生JS实现模块间的依赖管理的呢？对于按需加载的模块，它是通过什么方式动态获取的？打包完成后那一堆/******/开头的代码是用来干什么的？本文将围绕以上3个问题，对照着源码给出解答。

#### [GitHub 被收购后 52 天改版放弃了 jQuery](https://zhuanlan.zhihu.com/p/40723136)
之前不少网友就发现 GitHub 首页改版了，并大呼太不习惯。昨天，Github 前端团队的 Mislav Marohnić 在 Twitter 发布了一则消息，表明在 GitHub 网站重构过程中放弃了 jQuery，没有再次

[2018-09-30 16:14] stoneyong commented on #78
#### [前端国际化时间日期概述与业务实践](https://mp.weixin.qq.com/s/iudWjQeI67sI0Ht340I71A)
本文总结了 国际化时间日期概念， 包含国际标准、时区、时间戳以及JavaScript 中Data 的使用。

#### [关于使用Koa2的点点滴滴](http://feg.netease.com/archives/684.html)
作者总结了在使用 Koa2中的一些疑惑， 大家可以了解下避免自己在采坑。

#### [前端安全系列（一）：如何防止XSS攻击？](https://tech.meituan.com/fe_security.html)
本文详细的介绍了 前端信息安全里经常遇到的 XXS 攻击，并总结分类以及讲解了预防和检测的方案。

[2018-10-05 17:15] CurtisCBS commented on #78
#### [Create React App 2.0: Babel 7, Sass, and More](https://reactjs.org/blog/2018/10/01/create-react-app-v2.html)

Create React App 更新到2.0版本，该版本已不支持Node v6.0。

#### [［从0到1编写服务器］TCP连接建立与断开状态变化](http://www.hoohack.me/2018/09/27/webser-zero-to-hero-tcp-status)

本次主要介绍了TCP状态，以及在TCP连接建立和断开过程中，TCP状态的变化，掌握了这个，对理解网络编程中，各个流程的状态有比较大的帮助，比如在排查服务是否启动的时候，就可以通过netstat -nlp | grep '端口号'，查看服务的状态描述字符串，如果是LISTEN状态表

[2018-10-11 15:34] #78 closed, assigned to stoneyong

[2018-10-11 16:00] mirreal opened #79 "2018-10-15"

[2018-10-11 22:34] mirreal commented on #79
#### [「译」代码优化策略 — Idle Until Urgent](https://zhuanlan.zhihu.com/p/45733062)

文章介绍了一种名叫 Idle Until Urgent 的性能优化策略，即从运行时调度策略来思考优化方式，在细粒度化的任务调度上来提升性能。

#### [My Definition Of A Senior Developer](https://dev.to/mokkapps/my-definition-of-a-senior-developer-3k8l)

作者总结了自己对于高级软件开发工程师的理解，这些特质需要花时间慢慢积累，但并不意味着跟时间成正相关。

#### [大话 JavaScript 动画](https://fanmingfei.com/posts/Animation_Base.html)

文章是对 JavaScrip

[2018-10-14 07:26] stoneyong commented on #79
#### [前端安全系列之二：如何防止CSRF攻击？](https://juejin.im/post/5bc009996fb9a05d0a055192)
文章总结了 CSRF（Cross-site request forgery）跨站请求伪造：攻击者诱导受害者进入第三方网站，在第三方网站中，向被攻击网站发送跨站请求。介绍了其常见的攻击类型和防范策略。

#### [为什么说ReasonReact是编写React的最佳方式？](https://mp.weixin.qq.com/s/doYEfIUFoqV4fBk6OCkDbw)
文章是关于如何使用 Reason 开发 React 代码，这要归功于 ReasonReact 库， 也简单的介绍了Reason 这门新语法，以及与React 之间的故事。

#### [写给工程师的十条精进原则](https://juejin.im/post/5b76

[2018-10-14 12:41] Jade05 commented on #79
#### [RESTful API 最佳实践](http://www.ruanyifeng.com/blog/2018/10/restful-api-best-practices.html)

ESTful 是目前最流行的 API 设计规范，用于 Web 数据接口的设计。它的大原则容易把握，但是细节不容易做对。本文总结 RESTful 的设计细节，介绍如何设计出易于理解和使用的 API。

#### [A Beginner's Guide to JavaScript's Prototype](https://tylermcginnis.com/beginners-guide-to-javascript-prototype/)

In this post you’ll learn about a variety of patterns for instantiating new object

[2018-10-14 13:16] CurtisCBS commented on #79
#### [缓存 React 事件监听器来提高性能](https://mp.weixin.qq.com/s/TzrWOgMWbbw5N6Bf8XHQ2g)

在 js 里面有个不被重视的概念：对象和函数的引用，而这个却直接地影响了 React 的性能。

#### [携程国际BU的SEO重构实践](https://mp.weixin.qq.com/s/PSxxbNk79s1yMfiD6idLrA)

SEO项目的核心在于数据，如何采集数据，更新数据，将质量较好的数据在每次的更新中逐渐沉淀下来是整个项目的关键；接口、数据表设计的尽量简单是提高整个项目性能的根本。

#### [跪求不要 git push -f](https://www.jianshu.com/p/41cef45ef6ce?hmsr=toutiao.io&utm_medium=toutiao.io&utm_source=tou

[2018-10-15 01:17] StevenX911 commented on #79
#### [浅谈 web 前端开发中的国际化](https://juejin.im/post/5bbb6fa65188255c9031ecd9)
很多开发者会有这样的经历，在若干年之前，一些企业、机构、学校的官方网站会要求：“翻译一下，也做个英文版的”，结果往往就是又单独维护一套英文版的页面。
而在当今的软件开发领域，随着越来越多的产品需要真正面向海外市场售卖的情况，以前那种简单粗暴的做法就不适用了；这就需要灵活的修改软件，使之能适应目标市场的语言、地区差异以及技术需要。
本文尝试对相关概念，特别是在 web 前端领域的应用，做出简单介绍。

#### [一文了解LSTM和GRU背后的秘密](https://zhuanlan.zhihu.com/p/46327831)
在这篇文章中，我们将从LSTM和GRU背后的原理出发。然后我将解释允许LSTM和GRU表现良好的内部机制。如果你想了解这两

[2018-10-19 08:00] Jade05 opened #80 "2018-10-22"

[2018-10-19 08:00] #79 closed, assigned to StevenX911

[2018-10-19 08:01] Jade05 commented on #80
#### [Chrome 70 稳定版发布：Windows 10 端支持安装 PWA 应用](https://app.myzaker.com/news/article.php?pk=5bc68d187f780b124a000001)

Chrome 70正式版发布，Windows、Linux、Mac和iOS平台都可开始使用，但 Android 平台还需等些时日。

#### [Polylith：一款新的软件架构](https://mp.weixin.qq.com/s?__biz=MzUxMzcxMzE5Ng==&mid=2247489693&idx=1&sn=0f618c4978d3fcf81144b57eb98b67f2&chksm=f951addece2624c8ea019d8af8e749fc8032eb63ae5185e733b10f3d4b44fca94091c0fa5092&t

[2018-10-19 12:43] mirreal commented on #80
#### [Smart Bundling: How To Serve Legacy Code Only To Legacy Browsers](https://www.smashingmagazine.com/2018/10/smart-bundling-legacy-code-browsers/)

文章介绍一种为现代浏览器和旧版浏览器提供不同资源的方式，并解释这么做的理由。

#### [展望 React 17，回顾 React 往事](https://zhuanlan.zhihu.com/p/40160380)

至 React 16 正式发布已经过去了一年，文章回望 React 16 当时带来的变化，更重要是对接下来的一些革命性变化的理解与介绍。

#### [正确使用碎片化时间的方式](https://mp.weixin.qq.com/s/5H-IoyP8t_4ASZl7QmRx

[2018-10-19 14:07] stoneyong commented on #80
#### [精读《Epitath 源码 - renderProps 新用法》](https://github.com/dt-fe/weekly/blob/master/75.%E7%B2%BE%E8%AF%BB%E3%80%8AEpitath%20%E6%BA%90%E7%A0%81%20-%20renderProps%20%E6%96%B0%E7%94%A8%E6%B3%95%E3%80%8B.md)
文章介绍了 epitath 巧妙的利用了 immutagen 的不可变 generator 的特性来生成组件，并且在递归 .next 时，将顺序代码解析为嵌套代码，有效解决了 renderProps 嵌套问题。

#### [Nginx 之限流](https://chenyongjun.vip/articles/81)
恶意攻击或正常突发流量等都可能导致系统被压垮，而限流就是保护措施之一,

[2018-10-21 03:47] CurtisCBS commented on #80
#### [2018年如何写一个现代的JavaScript库](https://mp.weixin.qq.com/s/WEMAFqWneAmmsjwYWt_rTQ)

现在一个开源项目涉及的东西确实挺多的，特别是对于新手来说非常不友好，文章实现了一个开源库的脚手架，旨在更简单的搭建开源工具库

#### [以面试官的角度来看 React 工作面试](https://github.com/xitu/gold-miner/blob/master/TODO1/a-react-job-interview-recruiter-perspective.md)

如果你曾经用谷歌搜索“React 面试问题”（或任何其他“[技术]面试问题”），你可能已经看过无数“十大 React 面试问题”，这些问题要么已经过时，要么和“state 和 props 之间有什么不同”或“什么是虚拟 dom” 这些问题重复。

[2018-10-21 09:00] StevenX911 commented on #80
#### [构建 Google Dataset Search 和打造开放数据生态系统](https://mp.weixin.qq.com/s/c-wgr3SAws_g690YF2lw2w)
Google Dataset Search 高度依赖各种大小的数据集提供者，并使用开放的 schema.org/Dataset 标准在其网站上添加结构化的元数据。元数据指定了各个数据集的显著属性：名称和描述、空间和时间覆盖范围、来源信息等。Dataset Search 利用这些元数据，将其与 Google 上的其他可用资源连接起来（详情请见下图！），并为这个丰富的元数据语料库构建索引。构建好索引之后，我们就可以开始回应用户查询，并找出最符合查询的结果。

#### [深入理解 V8 的 Call Stack](https://zhuanlan.zhihu.com/p/46993552)
Call Sta

[2018-10-22 07:43] #80 closed, assigned to Jade05

[2018-10-22 09:17] mirreal opened #81 "2018-10-29"

[2018-10-26 12:07] stoneyong commented on #81
#### [React v16.7 "Hooks" - What to Expect](https://zhuanlan.zhihu.com/p/47684983)
Hooks 是一个 React 函数组件内一类特殊的函数（通常以 "use" 开头，比如 "useState"），使开发者能够在 function component 里依旧使用 state 和 life-cycles，以及使用 custom hook 复用业务逻辑。

#### [规范你的 commit message 并且根据 commit 自动生成 CHANGELOG.md](https://juejin.im/post/5bd2debfe51d457abc710b57)
本篇文章介绍的是 Angular 的 commit message 规范，这是目前使用最广的写法，比较合理和系统化，并且有配套的工具。

#### [

[2018-10-27 02:31] mirreal commented on #81
#### [前端字体截取：实战篇](https://lisongfeng.cn/post/subsetting-web-font-in-action.html)

文章介绍了字体截取的适用场景，unicode-range 的使用方式，以及如何借助 glyphhanger 来做一些好玩的事。

#### [Egg 源码分析之 egg-core](https://zhuanlan.zhihu.com/p/47180589)

从源码层面来理解 Egg 的设计思想，以及如何实现 loader 来完成 config，extend，service，middleware，controller，router 的加载。

#### [Under the Hood: NaN of JS](https://tech.youzan.com/nan-in-js/)

文章比较详细地介绍在 JavaScript 中

[2018-10-28 03:13] Jade05 commented on #81
#### [为什么我们做分布式使用 Redis ？](https://zhuanlan.zhihu.com/p/46191157)

绝大部分写业务的程序员，在实际开发中使用 Redis 的时候，只会 Set Value 和 Get Value 两个操作，对 Redis 整体缺乏一个认知。这里对 Redis 常见问题做一个总结，解决大家的知识盲点。

#### [Node 案发现场揭秘 —— 如何利用 GC 日志不修改代码调优应用性能](https://zhuanlan.zhihu.com/p/47425089)

通过 GC 方面的运行时调优来提升我们的项目性能是一种大家不那么常用的方式，这也有很大一部分原因是应用运行时 GC 状态本身不直接暴露给开发者。本文通过实际案例介绍，让我们看到可以借助于 Node.js 性能平台，实时感知 Node 应用 GC 状态以及进行对应的优化，使得不改

[2018-10-28 04:27] CurtisCBS commented on #81
#### [为什么说它对 Android 未来的发展十分重要？](https://mp.weixin.qq.com/s/5WqsomRv8xoFo7tToaB9xA)

由于其开放性，Android 在其前十年取得了显著的增长。有大量的设备可供选择，蓬勃发展的开发者生态系统提供了许多应用和游戏，为这些设备赋予了长久的生命力。作为开发者，您希望确保用户尽可能获得最佳体验，并确保您的应用尽可能在所有这些设备上运行。您还希望尽可能多的用户安装您的应用; 您也希望他们持续使用它; 并且您不希望他们因您无法控制的原因卸载您的应用。到目前为止，Android 应用的发布和分发方式在所有这些方面都有待改进。我想观察一下开发者面临的一些挑战，并告诉您 Google 正在采取哪些措施来提供帮助。

#### [构建大型 Redux 应用的五个建议](https://mp.weixin.qq.com/s/1Z

[2018-10-28 05:25] StevenX911 commented on #81
#### [[译] 开启性能预算](https://juejin.im/post/5bd40d3151882529642b24c8)
当我们同致力于提高性能的世界 500 强企业对话时，(了解到)一旦回归到功能开发，性能指标通常会快速回归。性能预算帮助团队确定功能的优先级，优化并促进讨论对用户真正重要的是什么。

#### [Google JavaScript 代码风格指南](https://juejin.im/post/5bd01d4a518825781e647e90)
Google 和 Airbnb 是目前最流行的 JavaScript 代码风格，如果你长期使用 JavaScript 来写代码的话，建议对比看看。
以下是我认为在 Google 代码风格指南中最有意思的十三条规则，和大家分享一下。

#### [原生JS实现DOM粒子爆炸效果](https://segmentfault.

[2018-10-28 10:49] #81 closed, assigned to mirreal

[2018-10-30 04:59] CurtisCBS opened #82 "2018-11-05"
#### [克军：如何成为一位优秀的前端工程师？](https://mp.weixin.qq.com/s/FEg9eZqDcHFo-tUmLr2xxg)

定位自己，关注自己当前阶断的积累，聚焦拐点，均衡发展。有些能力必须要有历经时间和反复历练形成的成熟度。不要试图跳跃、不要急于求成、不要忽视全面均衡的发展。不要成为职场“豆芽菜”。

#### [对 React Hooks 的一些思考](https://zhuanlan.zhihu.com/p/48264713)

受Suspence和Hooks的影响，函数组件不再是纯粹的数据到视图的映射这已然成为既定的事实，React团队决定走上这一条路，那必然已有权衡，也必然不会回头。对于使用者而言，更为紧要的是在当下思考一下“函数组件将被赋予怎么样的全新定义”这一问题。

#### [一文盘点直播技术中的编解码、直播协议、网络传输与简单实现](ht

[2018-11-03 02:49] mirreal commented on #82
#### [用 350 行代码从零开始，将 Lisp 编译成 JavaScript](https://linux.cn/article-10176-1.html)

这篇文章中介绍如何从零开始去实现一个编译器，使用 Haskell 将简单的类 LISP 计算语言编译成 JavaScript。

#### [【译】JavaScript 终极指南之执行上下文、变量提升、作用域和闭包](https://blog.hhking.cn/2018/10/24/ultimate-guide-to-execution-contexts-hoisting-scopes-and-closures-in-javascript/)

用可视化的方式讲解执行上下文的概念，并自然延伸出变量提升、闭包的形成。

#### [How to bring a new tool to your team (and not ge

[2018-11-03 06:52] Jade05 commented on #82
#### [应对流量劫持，前端能做哪些工作？](https://www.zhihu.com/question/35720092/answer/523563873)

站点已经是https的了，cdn也是https的。为什么你的网站还是被劫持？

#### [D2 - 打造高可靠与高性能的React同构解决方案](https://zhuanlan.zhihu.com/p/32124393)

随着React的兴起, 结合Node直出的性能优势和React的组件化，React同构已然成为趋势之一。享受技术福利的同时，直面技术挑战，在复杂场景下，挑战10倍以上极致的性能优化。

#### [Redis 5.0 is here!](https://redislabs.com/blog/redis-5-0-is-here/)

Redis reached a major milestone with

[2018-11-04 04:08] stoneyong commented on #82
#### [Atag - Web Components 最佳实践](http://taobaofed.org/blog/2018/10/31/a-tag/)
Web Components 处于不稳定的草案阶段, 但在今年五月 Google I/O 发布 Polymer 3 之后， Web Components 的规模化应用才看似成为了可能。本文总结在 Atag 开发阶段中使用 Web Components 的经验，避免大家踩坑。

#### [[译] 深入理解 React 高阶组件](https://juejin.im/post/5bdd223451882516c22e43cf)
本文阐述了 高阶组件在构建一个应用时的作用， 以重构一个仪表盘的案例演示了 高阶组件的优劣点。

#### [一次性搞懂JavaScript正则表达式之语法](https://juejin.im/post/5bd

[2018-11-04 07:14] StevenX911 commented on #82
#### [[译]浏览器工作原理探究](https://juejin.im/post/5bd96c5a5188257f96542cbf)
最近对web的性能优化比较感兴趣，而前端代码主要在浏览器工作的。如果对浏览器的工作原理了解清楚，可以为web性能优化提供方向以及理论依据。
本文主要参考 How Browsers Work: Behind the scenes of modern web browsers 。在此基础上整理而来的。个人觉得这是一篇好文章，所以进行整理转载，希望对大家有所帮助。（文章篇幅比较长，需花点时间^_^）

#### [数据浪潮之间的前端工程师](https://segmentfault.com/a/1190000016874422)
本文是架构师 2018-10 月刊的卷首语，归纳于自笔者的技术之路系列文章，也是对 现代 Web 开发基础与工程实践 中的内容提点总

[2018-11-09 03:01] stoneyong opened #83 "2018-11-12"
周刊推荐

[2018-11-09 03:02] #82 closed, assigned to CurtisCBS

[2018-11-10 04:05] mirreal commented on #83
#### [The Forgotten History of OOP](https://medium.com/javascript-scene/the-forgotten-history-of-oop-88d71b9b2d9f)

这是 JavaScript 函数式编程的系列的一部分，主要介绍面向对象的历史，探讨 OOP 的本质。

#### [一次 Node.js 性能优化总结](https://blog.richardweitech.cn/2018/11/04/nodejs-performance/)

用一个具体实例介绍如何有效地做性能调优，并借此总结 Node.Js 相关的调试以及优化技巧。

#### [五个基本原则，让新手写出 “整洁代码”](https://www.phodal.com/blog/how-to-write-clean-code/)

关于代码整洁之道的一些简单

[2018-11-10 09:21] stoneyong commented on #83
#### [阅读源码后，来讲讲React Hooks是怎么实现的](https://juejin.im/post/5bdfc1c4e51d4539f4178e1f)
文章阐述了 React Hooks 实现的原理， 本质上跟ClassComponent是差不多的，只不过因为useState拆分了单一对象state，所以要用一个相对独特的方式进行数据保存，而且会存在一定的规则限制。

#### [V8 将为 React hooks 改进数组解构的性能](https://zhuanlan.zhihu.com/p/49077183)
本文讲述了V8 从 字节码和机器码的角度详细的分析了数组和对象解构的性能， 及为了提升 React Hooks 的性能将做哪些改动

#### [[译] Google 工程师提升网页性能的新策略：空闲执行，紧急优先](https://juejin.im/post/5

[2018-11-10 15:00] Jade05 commented on #83
#### [如何让你的网页“看起来”展现地更快 —— 骨架屏二三事](https://zhuanlan.zhihu.com/p/48601348)

通过骨架屏，在页面实际内容渲染之前，先渲染页面骨架，减少白屏时间，骨架屏，让页面“看起来”更快。

#### [ant design 组件库：Form 组件](https://zhuanlan.zhihu.com/p/48517871)

ant design 中的 Form 组件基于 rc-form 实现。本文第一部分将介绍 rc-form 库；第二部分再介绍 ant design 中的 Form 组件。

#### [Node.js Everywhere with Environment Variables!](https://medium.com/the-node-js-collection/making-your-node-js-wo

[2018-11-11 03:40] StevenX911 commented on #83
#### [ Google+ 将在10个月后关闭](https://www.blog.google/technology/safety-security/project-strobe/)
社交应用 Google+ 将在10个月后关闭。主要原因有两个。一是缺乏用户，90%的用户会话短于5秒；二是有安全漏洞，近50万用户资料存在泄露风险，虽然没有证据表明黑客发现了这个漏洞。

谷歌做过四个社交产品，全部失败了，这是为什么？

#### [arwes](https://arwesjs.org/)
一个质量不错的科幻风格 React UI 组件库。

#### [JS的优点和缺点](https://twitter.com/CodeWisdom/status/1054713299386986496)
JavaScript 的优点是可以写任何东西，缺点是你真的会用它去写这些东西。[服气]

[2018-11-11 04:12] CurtisCBS commented on #83
#### [Lighthouse的使用与Google的移动端最佳实践](https://mp.weixin.qq.com/s/uxPvSCKFhQLx0Y5kuNa71g)

Lighthouse是一个Google开源的自动化工具，主要用于改进网络应用（移动端）的质量。目前测试项包括页面性能、PWA、可访问性（无障碍）、最佳实践、SEO。Lighthouse会对各个测试项的结果打分，并给出优化建议，这些打分标准和优化建议可以视为Google的网页最佳实践。

#### [Agora SOLO X™：兼容 WebRTC 标准的抗丢包语音编码器](https://zhuanlan.zhihu.com/p/46226470)

本文主要介绍了声网推出的抗丢包语音编码器 Agora SOLO™ 的算法特点

#### [从Chrome源码看事件循环](https://www.yinchengli.

[2018-11-17 02:25] mirreal opened #84 "2018-11-19"

[2018-11-17 02:25] mirreal commented on #84
#### [你不知道的Node.js性能优化](https://zhuanlan.zhihu.com/p/50055740)

作者从实际工作总结出来的一系列非常实用的优化技巧，如何有效地针对不同场景提升Node.js 应用性能。

#### [CSS and Network Performance](https://csswizardry.com/2018/11/css-and-network-performance/)

文章详细总结了在加载 CSS 时需要采用的一些最佳网络性能实践。

#### [Faster Async Functions and Promises for V8](https://v8.dev/blog/fast-async)

文章介绍对 V8 中的 async 函数和 promise 进行了优化，以及如何改进异步代码的调试体验的探索。

[2018-11-17 13:05] Jade05 commented on #84
#### [Getafix: How Facebook tools learn to fix bugs automatically](https://code.fb.com/developer-tools/getafix-how-facebook-tools-learn-to-fix-bugs-automatically/)

Getafix is deployed in Facebook to automatically suggest fixes for the null dereference bugs that Infer reports, as well as to suggest fixes for the null dereference-related crash errors that Sapienz flags. It is also being used to res

[2018-11-17 16:32] StevenX911 commented on #84
@Jade05 最好能用中文概括一下，另外，[console一文](https://medium.com/@mattburgess/beyond-console-log-2400fdf4a9d8)比较旧了，[一年前已有中文版](https://segmentfault.com/a/1190000012957199)，不过作者在评论区回复有意思，90%的情况下，console.log() is enough...，看来作者还是个new coder

#### [你不知道的Node.js性能优化](https://zhuanlan.zhihu.com/p/50055740)
本文从8个方面讲述了Node.js的性能优化，非常实用，可以在实际生产环境中实用。

#### [[译] 深入理解 React 高阶组件](https://zhuanlan.zhihu.com/p/49485308)
在你

[2018-11-17 16:47] CurtisCBS commented on #84
#### [百度Web前端开发实战案例解析](https://mp.weixin.qq.com/s?__biz=MjM5MDE0Mjc4MA==&mid=2651010393&idx=2&sn=b94ae823d621741e853a14ad540ef993)

百度搜索移动端的前端架构进化之路，主要提及前端的组件化以及性能的优化

#### [构建时预渲染：网页首帧优化实践](https://tech.meituan.com/first_contentful_paint_practice.html)

前端同构方案集合 CSR 与 SSR 的优点，可以适用于大部分业务场景。但由于在同构的系统架构中，连接前后端的 Node 中间层处于核心链路，系统可用性的瓶颈就依赖于 Node ，一旦作为短板的 Node 挂了，整个服务都不可用。本文提及的支付业务追求极致的系统稳定性，服务不可用直接影响到

[2018-11-18 10:19] stoneyong commented on #84
#### [JDFlutter | 京东技术中台新一代跨平台开发框架](https://mp.weixin.qq.com/s/UhfgfNEdogm7Busr0apAGQ)
Flutter 是 Google 公司2018年2月27日发布的第一个开源跨平台软件开发工具包 （SDK），支持Android、iOS两个平台，可实现高性能、高保真的应用程序开发。JDFlutter 是商城共享技术部-多端融合技术部推出的新一代跨平台开发框架，开发者可借助 JDFlutter 平台快速完成 Flutter 业务开发。

#### [【译】理解JavaScript中的柯里化](http://www.cnblogs.com/GeniusLyzh/p/9937829.html)
柯里化是函数式编程中的一种过程，可以将接受具有多个参数的函数转化为一个的嵌套函数队列，然后返回一个新的函数以及期望下一个的内联参数,

[2018-11-20 05:44] Jade05 opened #85 "2018-11-26"

[2018-11-22 11:47] #83 closed, assigned to stoneyong

[2018-11-22 11:47] #84 closed, assigned to StevenX911

[2018-11-23 13:00] BetaMee commented on #85
#### [2019年前端面试都聊啥？一起来看看](https://mp.weixin.qq.com/s/e-IC588SZPJK2QRBm3KuHA)

关于前端面试的一些看法，应该面向未来而不是拘泥于旧范式

#### [Making Sense of React Hooks](https://medium.com/@dan_abramov/making-sense-of-react-hooks-fdbde8803889)

React开发团队成员Dan Abramov对React Hooks的看法，虽然网上很多对React新功能的解读，但读一读亲身参与设计者的思考，也是很有用的

#### [TypeScript 重构 Axios 经验分享](https://juejin.im/post/5bf7f1c0e51d455ed74f625c)

作者用TS重构Axios的实践。

[2018-11-24 04:16] mirreal commented on #85
#### [当我们输入一条 SQL 查询语句时，发生了什么](https://www.infoq.cn/article/PKzT75BPcryCYJ_VuWrR)

从一条查询语句开始，介绍 MySQL 的基本架构与执行原理。

#### [构建时预渲染：网页首帧优化实践](https://tech.meituan.com/first_contentful_paint_practice.html)

文章介绍了一种基于实际业务场景的构建时预渲染的方案思路，以及实现方式和优化方案。

#### [JavaScript 错误处理权威指南](https://www.infoq.cn/article/cQQKlPyjLsLwv_BQt9y0)

文章分三部分分析 JavaScript 中的错误处理，从通常情况下的错误开始，到如何处理 Express.js 以及 React.js 中的错误。

[2018-11-24 13:23] stoneyong commented on #85
#### [支付宝移动端动态化方案实践](https://yq.aliyun.com/articles/670158)
本文主要介绍了 支付宝的动态化方案的探索，以及 Nebula 框架浅析和mPaaS技术架构。

#### [你不知道的Node.js性能优化](https://zhuanlan.zhihu.com/p/50055740)
文章介绍关于 Node.js性能优化的点，从代码优化到快速定位性能问题进行了详细的讲解。

#### [终于有人把“TCC分布式事务”实现原理讲明白了！](http://developer.51cto.com/art/201811/587425.htm)
一篇一电商为例， 详细讲解了什么是TCC分布式事务。

[2018-11-25 04:26] StevenX911 commented on #85
@stoneyong  【你不知道的Node.js性能优化】这篇前面某期已推荐郭

[2018-11-25 04:52] StevenX911 commented on #85
#### [根据浏览器渲染界面原理理解渲染阻塞、浏览器的重绘（repaints）与回流（reflows）](https://segmentfault.com/a/1190000017123080)
本文简述了浏览器渲染引擎的工作原理。

#### [聊聊Flexbox布局中的flex的演算法](https://zhuanlan.zhihu.com/p/50666963)
到目前为止，Flexbox布局应该是目前最流行的布局方式之一了。而Flexbox布局的最大特性就是让Flex项目可伸缩，也就是让Flex项目的宽度和高度可以自动填充Flex容器剩余的空间或者缩小Flex项目适配Flex容器不足的宽度。而这一切都是依赖于Flexbox属性中的flex属性来完成。一个Flex容器会等比的按照各Flex项目的扩展比率分配Flex容器剩余空间，也会按照收缩比率来缩小各Flex项目，以免Flex项目

[2018-11-25 05:11] mirreal commented on #85
上一期的最佳【本期推荐】

[2018-11-25 08:44] CurtisCBS commented on #85
#### [CSS 与网络性能](https://mp.weixin.qq.com/s/gwjV0NC8JbF-QfwuQ-ayjw)

CSS 是页面渲染的关键因素之一，（当页面存在外链 CSS 时，）浏览器会等待全部的 CSS 下载及解析完成后再渲染页面。关键路径上的任何延迟都会影响首屏时间，因而我们需要尽快地将 CSS 传输到用户的设备，否则，（在页面渲染之前，）用户只能看到一个空白的屏幕。[原文](https://csswizardry.com/2018/11/css-and-network-performance/)

#### [CSS前景背景自动配色技术简介](https://www.zhangxinxu.com/wordpress/2018/11/css-background-color-font-auto-match/?utm_source=tuicool&utm_med

[2018-11-25 13:17] Jade05 commented on #85
#### [Airbnb 对于搜索引擎优化的A/B测试和测量](https://zhuanlan.zhihu.com/p/46110302)

此文用Airbnb搜索引擎优化作为事例，当传统的A/B测试无法使用时（时间序列数据和无法用户类别的随机分配），Airbnb如何构建在市场层面的实验，并利用数据建模来进行分析。对于实验建模分析，我们一要保证所做的模型假设是合理的，也要保证检验有足够的势来保证差别可以被检验出来。

#### [再谈 API 的撰写 - 总览](https://zhuanlan.zhihu.com/p/20691602)
#### [再谈 API 的撰写 - 架构](https://zhuanlan.zhihu.com/p/20691649)
#### [再谈 API 的撰写 - 子系统](https://zhuanlan.zhihu.com/p/20691777)

[2018-11-26 03:03] #85 closed, assigned to Jade05

[2018-11-26 03:50] mirreal opened #86 "2018-12-03"

[2018-11-28 11:58] CurtisCBS commented on #86
#### [从 GitHub 的 package.json 看前端发展趋势](https://mp.weixin.qq.com/s/g3Xcy-QuFv9VZ0UKTo-l3A)

StateOfJS 2018 年的报告出炉了。在 2018 年的报告中，总共有来自 153 个不同的国家共 2 万多名 JavaScript 开发者参与了这次调查（中国占总数的 0.37%，共 75 个开发者）。在这份报告中，React 是最受欢迎的前端框架，而 Vue 则紧随其后是第二受欢迎的框架。由于这次调查的样本中中国占比太小也导致了 Vue 的数据不够准确。

#### [Hades：移动端静态分析框架](https://tech.meituan.com/hades.html)

Hades 框架支持语义分析能力，我们希望这种能力不仅仅能够去实现一个传统的 Lint 工具，而且能成为创造更多能力的基础，

[2018-11-30 11:17] Jade05 commented on #86
#### [微服务架构可视化平台实践](https://zhuanlan.zhihu.com/p/51266667)

通过微服务架构可视化，让架构图随着系统的版本迭代不断进行演化，提高开发者排查与定位问题的效率，让停留在PPT上的架构图真正发挥作用。

#### [月下载量千万的 npm 包被黑客篡改，Vue 开发者可能正在遭受攻击](https://zhuanlan.zhihu.com/p/50938220)

这次漏洞事件，让我们回过头来重新反省 node.js 社区。

#### [💯利用Vue原理实现一个mini版的MVVM框架](https://zhuanlan.zhihu.com/p/51184264)

本文将利用Vue的核心原理，如模板解析、Data-binding、Virtual-DOM等知识来实现一个“主要原理五脏俱全的Mue.js”。不吹牛不装逼，用浅显易懂的人话分

[2018-11-30 16:54] mirreal commented on #86
#### [像呼吸一样自然：React hooks + RxJS](https://zhuanlan.zhihu.com/p/50921147)

如何结合 RxJS 跟 React hooks 使用来更好地理解 hooks api。

#### [5 Lessons Learned From Writing Over 300,000 Lines of Infrastructure Code](https://blog.gruntwork.io/5-lessons-learned-from-writing-over-300-000-lines-of-infrastructure-code-36ba7fadeac1)

关于如何编写基础设施代码的 5 个经验总结。

#### [不懂业务创新的工程师，不是好的架构师](https://102.alibaba.com/detail/?id=26

[2018-12-01 05:16] StevenX911 commented on #86
#### [图解 DNS over HTTPS](https://hacks.mozilla.org/2018/05/a-cartoon-intro-to-dns-over-https/)
长期以来，DNS 请求一直是不加密的，这造成 DNS 可能被监听和篡改。最新的方案是推广 DNS over HTTPS，即对 DNS 请求加密，Mozilla 基金会的这篇文章解释了这是怎么回事。

#### [谷歌的代码托管服务](https://cloud.google.com/source-repositories/)
谷歌重新推出了自己的 Git 代码托管服务，可以建多个私有仓库，免费版一个仓库最多5个用户，带有自动构建和测试。

#### [30张图带你彻底理解红黑树](https://www.jianshu.com/p/e136ec79235c)
本文将通过图文的方式讲解红黑树的知识点，并且

[2018-12-01 11:06] stoneyong commented on #86
#### [细解JavaScript ES7 ES8 ES9 新特性](https://segmentfault.com/a/1190000017174508)
本文总结了 ES7 到ES9 新特性详解， 并且介绍了 ECMAScript的发布流程。

#### [图解CSS：CSS层叠和继承](https://www.w3cplus.com/css/Illustrated-CSS-details-and-cases-chr2-cascade-and-inherit.html)
文章主要介绍了CSS中的层叠和继承，包括处理CSS继承的机制和参与层叠计算的CSS实体等知识点，帮助大家理解样式是如何受到我们编写和应用的影响。

#### [猪八戒网的DevOps进化论](http://dockone.io/article/8381)
介绍了猪八戒网的DevOps的发展演进史，可以了解一下。

[2018-12-02 09:50] #86 closed, assigned to mirreal

[2018-12-07 14:36] mirreal opened #87 "2018-12-10"

[2018-12-08 04:35] mirreal commented on #87
#### [Call to Action: Accelerating Node.js Growth](https://medium.com/@nodejs/call-to-action-accelerating-node-js-growth-e4862bee2919)

Node 正在启动一个软件包维护团队，Node.js 技术指导委员会希望大家参与进来，共同去完善社区生态。

#### [知乎社区核心业务 Golang 化实践](https://zhuanlan.zhihu.com/p/48039838)

知乎将核心业务应用从 Python 迁移到 Golang 的重构实践经验分享。

#### [技术十年：美团第一位前端工程师潘魏增](https://tech.meituan.com/renwuzhi_panweizeng.html)

美团潘魏增用自己十年的技术生涯，诠释对于长期有

[2018-12-08 12:26] Jade05 commented on #87
#### [【复习资料】ES6/ES7/ES8/ES9资料整理(个人整理)](https://juejin.im/post/5c02b106f265da61764aa0c1)

有关ES6、ES7、ES8、ES9规范的精简版学习笔记。

#### [git commit 、CHANGELOG 和版本发布的标准自动化](https://juejin.im/entry/5c0b74856fb9a049ed30af49)

onventional-changelog 是一款可以根据项目的commit 和 metadata信息自动生成 changelogs 和 release notes的系列工具，并且在辅助 standard-version 工具的情况下，可以自动帮你完成生成version、打tag, 生成CHANGELOG等系列过程。在你的团队项目迭代节奏很快的情况下，能够自动采集每次发布的更

[2018-12-09 05:50] StevenX911 commented on #87
#### [文案与写作: 如何围绕内容进行设计](https://mp.weixin.qq.com/s/_dPxP--uGO_fBnDKb6ad-Q)
这篇文章的目的并不是教您如何创建内容，甚至不是教您如何写作，而是告诉您，如何通过内容来设计有意义的产品；告诉您，内容存在的唯一意义就是为用户创造意义。

#### [200行代码实现简版react](https://juejin.im/post/5c0c7304f265da613e22106c)
从0开始仅用200行代码实现一个简版react，相信看完后大家都会对react的内部实现原理有更多了解。但是在动手之前我们需要先掌握几个react相关的重要概念，比如组件(类)与组件实例的区别、diff算法以及生命周期等，下面依次介绍下，熟悉完这些概念我们再动手实现。

####  [[译]前端离线指南](https://juejin.im/pos

[2018-12-09 07:31] CurtisCBS commented on #87
#### [Flutter 1.0 正式版: Google 的便携 UI 工具包](https://mp.weixin.qq.com/s/hCIN42OMmmc6HkOveegwWQ)

Flutter 是 Google 为您打造的 UI 工具包，帮助您通过一套代码同时在 iOS 和 Android 上构建媲美原生体验的精美应用

#### [微软官方：为开发者减少开发成本，Edge将采用 Chromium 开发](https://mp.weixin.qq.com/s/O_zhL1r8wrXIQkY1AROZ5g)

微软通过官方博客正式向大家通告了这一消息，他们正式决定采用Chromium开源项目来开发桌面版 Microsoft Edge。他们的这一决定，主要基于这些考虑：给不同的上网用户带来更好的用户体验，减少Web开发者的开发成本

#### [一个 Demo 入门 Flutter]

[2018-12-09 10:05] stoneyong commented on #87
#### [如何优雅处理前端异常？](http://jartto.wang/2018/11/20/js-exception-handling/)
本文总结如何针对前端方面的每种具体情况异常的处理方式。

#### [前端与编译原理——用JS写一个JS解释器](https://segmentfault.com/a/1190000017241258)
作者用JS写JS的解释器， 来诠释了下JS的编译原理。

#### [前端常用插件、工具类库汇总](https://segmentfault.com/a/1190000017307855)
本篇文章整理作者使用过的和看到过的一些插件和工具，方便日后自己查找和使用。

[2018-12-10 05:25] #87 closed, assigned to CurtisCBS

[2018-12-12 10:17] mirreal opened #88 "2018-12-17"

[2018-12-13 02:59] Yunin commented on #88
## 技术纵横

#### [当Dubbo遇上Arthas：排查问题的实践](http://hengyunabc.github.io/dubbo-meet-arthas/)

Dubbo是Alibaba开源的高性能RPC框架，Arthas是Alibaba开源的应用诊断利器。当Dubbo遇上Arthas，会碰撞出什么样的火花呢？下面来分享Arthas排查Dubbo问题的一些经验。

#### [《深入理解 Java 内存模型》读书笔记](https://mp.weixin.qq.com/s/rkxcqZCvCnC0Psr0_oJzbQ)

笔记主要内容有 Java 内存模型的基础、重排序、顺序一致性、Volatile 关键字、锁、final。

#### [JUC同步器框架（AQS框架）原文翻译](https://www.cnblogs.com/dennyzhangdd/p/7218510.